{% extends 'shop/main.html' %}
{% block title %}Manage your subscriptions & payments — GR8 #wholesale{% endblock %}
{% block page_active_shop %} 
{% endblock %}
{% load static %}

{% block modal %}
    <div class="modal  ">
        <div class="add_payment_method-wrapper hidden" style="width: 800px; height: 600px; background-color: #fff; position: absolute; top:0px; right: 0px; left: 0px; bottom: 0px; margin: auto; border-radius: 14px;">
            <div class="add_payment_method-container" style="padding: 28px; position: relative;">
                <div class="close-btn" style="display: flex; align-items: center; margin-bottom: 16px; max-width: fit-content; padding: 6px 32px 6px 6px; border: 1px solid rgb(232,233,235); border-radius: 10px; cursor: pointer;">
                    <svg width="1em" height="1em" viewBox="0 0 24 24" fill="var(--grey2);" xmlns="http://www.w3.org/2000/svg" color="systemGrayscale00;" style="transform: rotate(180deg);">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="m13.06 3.94 7 7 .02.02c.022.022.043.045.063.068l-.082-.089a1.513 1.513 0 0 1 .274.377 1.494 1.494 0 0 1-.071 1.493 1.28 1.28 0 0 1-.121.163 1.57 1.57 0 0 1-.062.068l-.02.02-7 7a1.5 1.5 0 0 1-2.122 0l-.103-.113a1.5 1.5 0 0 1 .103-2.008l4.44-4.439H5A1.5 1.5 0 0 1 3.5 12l.007-.145A1.5 1.5 0 0 1 5 10.5h10.379l-4.44-4.44a1.5 1.5 0 0 1 2.122-2.12Z"></path>
                    </svg>
                    <span style="margin-left: 10px; font-size: 12px; font-weight: 600;">Cancel</span>
                </div>
                <div class=" " style="margin: 48px 0px;">
                    <p style="font-size: 32px;  font-weight: 700;">Add payment method</p>
                    <div style="border-bottom: 1px solid rgb(232,233,235); position: relative; margin-top: 100px;">

                        <p style="font-size: 18px; font-weight: 500;">Card</p>
                        <svg style="position: absolute; right:18px; top:0px;" width="19" height="19" viewBox="0 0 24 24" fill="var(--grey2)" xmlns="http://www.w3.org/2000/svg" size="19" color="systemGrayscale30" class="e-5hicrt" aria-hidden="true">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="m16.879 12-5.94-5.94a1.5 1.5 0 0 1 2.122-2.12l7 7a1.5 1.5 0 0 1 0 2.12l-7 7a1.5 1.5 0 0 1-2.122-2.12L16.88 12Z"></path>
                        </svg>
                    </div>
                    <div style="border-bottom: 1px solid rgb(232,233,235); position: relative;">

                        <p style="font-size: 18px; font-weight: 500;">Paypal</p>
                        <svg style="position: absolute; right:18px; top:0px;" width="19" height="19" viewBox="0 0 24 24" fill="var(--grey2)" xmlns="http://www.w3.org/2000/svg" size="19" color="systemGrayscale30" class="e-5hicrt" aria-hidden="true">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="m16.879 12-5.94-5.94a1.5 1.5 0 0 1 2.122-2.12l7 7a1.5 1.5 0 0 1 0 2.12l-7 7a1.5 1.5 0 0 1-2.122-2.12L16.88 12Z"></path>
                        </svg>
                    </div>
                    <div style="border-bottom: 1px solid rgb(232,233,235); position: relative;">

                        <p style="font-size: 18px; font-weight: 500;">Cash App</p>
                        <svg style="position: absolute; right:18px; top:0px;" width="19" height="19" viewBox="0 0 24 24" fill="var(--grey2)" xmlns="http://www.w3.org/2000/svg" size="19" color="systemGrayscale30" class="e-5hicrt" aria-hidden="true">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="m16.879 12-5.94-5.94a1.5 1.5 0 0 1 2.122-2.12l7 7a1.5 1.5 0 0 1 0 2.12l-7 7a1.5 1.5 0 0 1-2.122-2.12L16.88 12Z"></path>
                        </svg>
                    </div>
                </div>

                <div class="hidden" >

                    <div class="  billing_details "  style="width: 550px; height: 450px;">
                        <p style="font-size: 32px; margin-bottom: 0px; font-weight: 700; margin-top: 48px;">Add Billing Address</p>
                        <p style="margin: 0px; margin-bottom: 30px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae ullam unde tempora!</p>
                        <div class="" style="display: flex; align-items: center; margin-top: 6px;">
                           <input style="padding: 10px; border-radius: 10px; outline: transparent; border: 1px solid rgb(232,233,235); font-size: 15px;  width: 100%;" type="text" name="" id="" placeholder="First name">
                           <input style="padding: 10px; border-radius: 10px; outline: transparent; border: 1px solid rgb(232,233,235); margin: 0px; margin-left: 10px; font-size: 15px;  width: 100%;" type="text" name="" id="" placeholder="Last name">
                        </div>                 
                        <div class="" style="margin-top: 6px;">
                            <input style=" width: calc(100% - 20px); padding: 10px; border-radius: 8px; outline: transparent; border: 1px solid rgb(232,233,235); font-size: 15px;" type="text" name="" id="" placeholder="Address Line 1">
                        </div>
                        <div class="" style="margin-top: 6px;">
                            <input style="  width: calc(100% - 20px); padding: 10px; border-radius: 10px; outline: transparent; border: 1px solid rgb(232,233,235); font-size: 15px;" type="text" name="" id="" placeholder="Address Line 2">
                        </div>  
                        <div class="" style="margin-top: 6px;">
                            <input style="padding: 10px; border-radius: 10px; outline: transparent; border: 1px solid rgb(232,233,235); font-size: 15px; width: calc(100% - 20px);" type="text" name="" id="" placeholder="City">
                        </div>  
                        <select style=" margin-top: 6px; padding: 10px; border-radius: 10px; outline: transparent; border: 1px solid rgb(232,233,235); font-size: 15px; width: 100%;" name="" id="">
                            <option value="">Country</option>
                        </select>
                        <div style="position: absolute; bottom: 4px; left: 18px; width: calc(100% - 38px)">
                            <button style=" cursor: pointer;  padding: 12px 48px; border-radius: 14px; border: 1px solid rgb(232,233,235); width: 100%; outline: transparent; font-weight: 700; background-color: var(--green); color: #fff;">Continue</button>
                        </div>

                    </div>
                    <div class="  payment_details hidden " style="width: 550px; height: 450px;">
                        <p style="font-size: 32px; margin-bottom: 0px; font-weight: 700; margin-top: 48px;">Add Card</p>
                        <p style="margin: 0px; margin-bottom: 30px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae ullam unde tempora!</p>

                        <div class="">
                            <input style=" width: calc(100% - 20px); padding: 10px; border-radius: 8px; outline: transparent; border: 1px solid rgb(232,233,235); font-size: 15px;" type="text" name="" id="" placeholder="Card number">
                        </div>
                        <div class="" style="display: flex; margin-top: 6px; position: relative;">
                            <input style=" width: 200px; padding: 10px; border-radius: 8px; outline: transparent; border: 1px solid rgb(232,233,235); font-size: 15px; " type="text" name="" id="" placeholder="Expiration Date">
                            <input style=" width: 80px; padding: 10px; border-radius: 8px; outline: transparent; border: 1px solid rgb(232,233,235); font-size: 15px; position: absolute; right: 0px;" type="text" name="" id="" placeholder=" CVV">
                        </div>
                        <div style="position: absolute; bottom: 4px; left: 18px; width: calc(100% - 38px)">
                            <button style=" cursor: pointer; padding: 12px 48px; border-radius: 14px; border: 1px solid rgb(232,233,235); width: 100%; outline: transparent; font-weight: 700; background-color: var(--green); color: #fff;">Save</button>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="business_sub_wrapper" style="width: 800px; height: 600px; background-color:#fff; position: absolute; top:0px; bottom:0px; left:0px; right:0px; margin: auto; border-radius: 14px; overflow: hidden; overflow-y: auto;">
        <div class="business_sub-container">
            <div class="" style="background-color: var(--grey2); width: 100%; height: 150px; ">
                <span></span>
            </div>
            <div class="" style="padding: 36px calc(36px + 24px) ; ">
                <p style="font-size: 36px; font-weight: 700; margin: 0px; text-align: center; margin-bottom: 20px;">Business</p>
                <div class="" style="height: 280px; background-color: var(--grey); border-radius: 14px; border: 1px solid rgb(232,233,235); margin: 0px;">
                    <p style="font-size: 14px; font-weight: 600; text-align: center;  margin-bottom: 35px;">Features</p>
                    <div class="" style="display: flex; align-items: center; justify-content: center; ">
                        <div class="" style="margin-right: 8px;">
                            <div class="" style="background-color: var(--grey); border: 1px solid rgb(232,233,235);  border: 1px solid rgb(232,233,235);  border-radius: 14px; height: 75px; width: 250px; margin-bottom: 20px;"> <span></span></div>
                            <div class="" style="background-color: var(--grey); border: 1px solid rgb(232,233,235);  border-radius: 14px; height: 75px; width: 380px;"> <span></span></div>
                        </div>
                        <div class="">
                            <div class="" style="background-color: var(--grey); border: 1px solid rgb(232,233,235); border-radius: 14px; height: 75px; width: 380px; margin-bottom: 20px;"> <span></span></div>
                            <div class="" style="background-color: var(--grey); border: 1px solid rgb(232,233,235); border-radius: 14px; height: 75px; width: 380px;"> <span></span></div>
                        </div>
                    </div>
                </div>
                <div class="">
                    Join
                </div>
            </div>
        </div>

        </div>
    </div>
{% endblock %}
{% block cart_indicator %}
<div class="account_auth-container" style="position: absolute; right: 0; margin-right: 60px; display: flex; align-items: center; justify-content: center; cursor: pointer; width: fit-content;">
    <a class="cart_active-indicator" style=" display:none; text-decoration: none;" href="/shop/green-produce">
        <span style="font-size: 11.5px; display: flex; align-items: center; font-weight: 800; color: #fff; margin: 0px; padding: 1px 2px;">
          <!--?xml version="1.0" encoding="UTF-8"?-->
          <svg id="uuid-b18f2d01-7785-47c4-b76d-fb6b19d5703c" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 605.65 838.2" width="10.5px" style="margin-right:8px;">
                  <g>
                  <path d="m197.76,8.73v276.7h-86.87V71.34L190.77,6.01c2.67-2.18,6.99-.5,6.99,2.72Z" style="fill: #fff;"></path>
                  <rect x="406.61" y="84.86" width="88.15" height="200.57" style="fill: #fff;"></rect>
                  <path d="m488.73,78.6c-93.19-.48-186.38-.96-279.58-1.44-2.04-.01-3.68-1.66-3.68-3.7V3.7c0-2.04,1.66-3.7,3.7-3.7h200.9c.93,0,1.82.35,2.51.98l77.52,71.38c2.08,1.92,1.33,5.37-1.37,6.24Z" style="fill: #fff;"></path>
                  </g>
                  <path d="m30.75,292.82h544.14c16.97,0,30.75,13.78,30.75,30.75v418.42c0,53.1-43.11,96.21-96.21,96.21H96.21c-53.1,0-96.21-43.11-96.21-96.21v-418.42c0-16.97,13.78-30.75,30.75-30.75Z" style="fill: #fff;"></path>
          </svg>
          <span id="cartNumber"></span>
        </span>
      </a>
</div>
{% endblock %}

{% block account_container %}
<div class=""> 
    <a href="{{back_link}}" style="border: 1px solid rgb(232,233,235); padding: 4px 12px; display: flex; align-items: center; width: 15px; border-radius: 7px; margin-bottom: 48px; background-color: white;">
        <svg width="1em" height="1em" viewBox="0 0 24 24" fill="var(--grey2);" xmlns="http://www.w3.org/2000/svg" color="systemGrayscale00;" style="transform: rotate(180deg); margin-top:2px;">
        <path fill-rule="evenodd" clip-rule="evenodd" d="m13.06 3.94 7 7 .02.02c.022.022.043.045.063.068l-.082-.089a1.513 1.513 0 0 1 .274.377 1.494 1.494 0 0 1-.071 1.493 1.28 1.28 0 0 1-.121.163 1.57 1.57 0 0 1-.062.068l-.02.02-7 7a1.5 1.5 0 0 1-2.122 0l-.103-.113a1.5 1.5 0 0 1 .103-2.008l4.44-4.439H5A1.5 1.5 0 0 1 3.5 12l.007-.145A1.5 1.5 0 0 1 5 10.5h10.379l-4.44-4.44a1.5 1.5 0 0 1 2.122-2.12Z"></path>
        </svg>
    </a>
    <h1 style="font-size: 12px; margin-bottom: 24px; margin-left: 20px; cursor: default; color: var(--black);">Hello there, {{request.user.first_name}}</h1>
</div>
{% endblock %}

{% block user_shipping-address %}
{% endblock %}

{% block pages_content %}
<ul>
    <div class="page_container">
        <div class=""><span></span></div>
        <a class="product-page " href="{% url 'account-settings' request.user.id %}">Your account</a>
    </div>
    <div class="page_container">
        <div class=""><span></span></div>
        <a class="product-page" href="{% url 'account-address' request.user.id %}">Addresses</a>
    </div>
    <div class="page_container">
        <div class=""><span></span></div>
        <a class="product-page" href="{% url 'account-referrals' request.user.id %}">Referrals</a>
    </div>
    <div class="page_container">
        <div class="pages_active-indicator"><span></span></div>
        <a class="product-page is_active">Subscriptions & Payments</a>
    </div>
    <div class="page_container">
        <div class=""><span></span></div>
        <a class="product-page" href="{% url 'account-security' request.user.id %}">Security & Privacy</a>
    </div>
    <hr>
    <div class="page_container">
        <div class=""><span></span></div>
        <a class="product-page">Get help</a>
    </div>
</ul>
{% endblock %}

{% block logout_container %}
{% endblock %}

{% block shop_content %}
<div class="content-wrapper">
    <div class="content-container">
        <div class="">
            <h1 style="font-size: 20px; margin: 0px;">Subscriptions & Payments</h1>
            <p style="font-size:14px; margin: 0px;">All about you</p>
        </div>
        <div class="" style="height:400px; border: 1px solid rgb(232,233,235); border-radius: 14px;  margin-top:32px; margin-bottom:16px; margin-right: 32px; padding: 16px; position: relative;">
            <div class="" style="display: flex; flex-direction: column;">
                <span style="font-size: 16px; font-weight: 600;"> Manage Subscriptions</span>
                <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</span>
                
                <div class="" style="display: flex; align-items: center; position: absolute; bottom: 0px; width: 97%; margin-bottom: 16px; margin-right: 64px; flex-wrap: wrap; align-content: space-between;">
                    
                    <div class="" style=" width: 300px; height: 250px; border: 1px solid rgb(232,233,235); border-radius: 10px; margin-right: 16px; position: relative; cursor: pointer;">
                        <div class="" style="position: absolute; top:0; background-color: #38aecc; height: 7px; width: 100%; border-radius: 10px 10px 00px 0px;"> <span></span></div>
                        <div class="" style="padding: 16px; height: calc(234px - 16px);">                        
                            <span style="font-size: 16px; font-weight: 500;">Business</span>
                            <div class="" style="margin-top: 20px;">
                                <span style="font-size: 12px; font-weight: 600;">Features</span>
                                <ul>
                                    <li>5% Store credit</li>
                                </ul>
                            </div>
                            <div style="display: flex; align-items: center; position: absolute; bottom: 16px ;">
                                <div style="margin-right: 20px; background-color: var(--grey); padding: 6px 18px; border-radius: 10px; border: 1px solid rgb(232,233,235); display: flex; flex-direction: column; align-items: flex-end;">
                                    <p style="margin: 0px; font-weight: 600; font-size: 24px;"><span style="font-size: 14px;">J$</span> 0.00</p>
                                    <p style="font-size: 12.5px; font-weight: 600; margin: 0px;">annually</p>
                                </div>
                                <p style="font-size: 10.5px; font-weight: 700; color: var(--green);">Selected</p>
                            </div>
                        </div>
                    </div>
                    <div class="" style="width: 300px; height: 250px; border: 1px solid rgb(232,233,235); border-radius: 10px; margin-right: 16px; position: relative; cursor: pointer;">
                        <div class="" style="position: absolute; top:0; background-color: #F1A208; height: 7px; width: 100%; border-radius: 10px 10px 00px 0px;"> <span></span></div>
                        <div class="" style="padding: 16px; height: calc(234px - 16px);">
                            <span style="font-size: 16px; font-weight: 500;">Express</span>
                            <div class="" style="margin-top: 20px;">
                                <span style="font-size: 12px; font-weight: 600;">Features</span>
                                <ul>
                                    <li>5% Store credit</li>
                                </ul>
                            </div>
                            <div style="display: flex; align-items: center; position: absolute; bottom: 16px ;">
                                <div style="margin-right: 20px; background-color: var(--grey); padding: 6px 18px; border-radius: 10px; border: 1px solid rgb(232,233,235); display: flex; flex-direction: column; align-items: flex-end;">
                                    <p style="margin: 0px; font-weight: 600; font-size: 24px;"><span style="font-size: 14px;">J$</span> 15,000.00</p>
                                    <p style="font-size: 12.5px; font-weight: 600; margin: 0px;">annually</p>
                                </div>
                                <!--<p style="font-size: 10.5px; font-weight: 700; color: var(--green);">Selected</p>-->
                            </div>
                        </div>
                    </div>
                    <div class="" style="width: 300px; height: 250px; border: 1px solid rgb(232,233,235); border-radius: 10px; position: relative; cursor: pointer; background-color: var(--black);">
                        <div class="" style="position: absolute; top:0; background-color: var(--black); height: 7px; width: 100%; border-radius: 10px 10px 00px 0px;"> <span></span></div>
                        <div class="" style="padding: 16px; height: calc(234px - 16px);">
                            <span style="color: white; font-size: 16px; font-weight: 500;">Premium</span>
                            <div class="" style="margin-top: 20px;">
                                <span style="font-size: 12px; font-weight: 600; color: var(--grey);">Features</span>
                                <ul style="color: var(--grey);">
                                    <li>5% Store credit</li>
                                </ul>
                            </div>
                            <div style="display: flex; align-items: center; position: absolute; bottom: 16px ;">
                                <div style="margin-right: 20px; background-color: var(--grey2); padding: 6px 18px; border-radius: 10px; border: 1px solid rgb(132,133,135); display: flex; flex-direction: column; align-items: flex-end;">
                                    <p style="margin: 0px; font-weight: 600; font-size: 24px; color: var(--grey);"><span style="font-size: 14px;">J$</span> 25,000.00</p>
                                    <p style="font-size: 12.5px; font-weight: 600; margin: 0px; color: var(--grey);">annually</p>
                                </div>
                                <!--<p style="font-size: 10.5px; font-weight: 700; color: var(--green);">Selected</p>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="" style="padding-bottom: 36px;">
            <div class=""style="display: flex; flex-direction: column; border:1px solid rgb(233,232,235); border-radius:14px; padding: 10px; margin-right: 32px; margin-bottom:4px; background-color: var(--grey); justify-content:center;">
                <span style="font-size: 14.5px; font-weight: 600; margin-bottom: 8px;">Payment Methods</span>
                <div class="">
                    <div class="" style="display: flex; position: relative; align-items: center; border: 1px solid rgb(232,233,235); padding: 8px; border-radius: 10px; margin-bottom: 8px; background-color: white;">
                        <div class="" style="display: flex; flex-direction: column;">
                            <div class="" style="display: flex; align-items: center;">
                                <img src="{% static 'images/mastercardfavicon.ico' %}" alt="" width="18px" style="margin-right: 8px;">
                                <span style="font-size: 10px; font-weight: 600; margin-bottom: 2px; color: var(--black);">MSTRCRD</span>
                            </div>
                            <span style="font-size: 14px; margin-bottom: 8px;">{{request.user.first_name}} {{request.user.last_name}}</span>
                            <span style="font-size: 10px; font-weight: 600; margin-bottom: 2px; color: var(--black);">CRD/ACC NUMBER</span>
                            <span style="font-size: 14px;"> **** **** 5983</span>
                        </div>
                        <div class="" style=" position: absolute; right:0; margin-right: 8px;">
                            <span style=" font-size: 12px; font-weight: 600; color: var(--green);">Change</span>
                        </div>
                    </div>
                    <div class="" style="display: flex; position: relative; align-items: center; border: 1px solid rgb(232,233,235); padding: 8px; border-radius: 10px; margin-bottom: 0px; background-color: white;">
                        <div class="" style="display: flex; flex-direction: column;">
                            <div class="" style="display: flex; align-items: center;">
                                <img src="{% static 'images/favicon.ico' %}" alt="" width="18px"  style="margin-right: 8px;">
                                <span style="font-size: 10px; font-weight: 600; margin-bottom: 2px; color: var(--black);">BANK</span>
                            </div>
                            <span style="font-size: 14px; margin-bottom: 8px;">{{request.user.first_name}} {{request.user.last_name}}</span>
                            <span style="font-size: 10px; font-weight: 600; margin-bottom: 2px; color: var(--black);">CRD/ACC NUMBER</span>
                            <span style="font-size: 14px;"> **** **** 3092</span>
                        </div>
                        <div class="" style=" position: absolute; right:0; margin-right: 8px;">
                            <span style=" font-size: 12px; font-weight: 600; color: var(--green);">Change</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class=""style=" cursor: pointer;">
                <span style="font-size: 12px; font-weight: 600; color: var(--green);">Add a method</span>
            </div>
        </div>

    </div>
</div>
<style>
    .sidenav_left-wrapper{
        width: calc(30vw);
    }
    .content-wrapper{
        margin: 0px;
        width: calc(100vw);
    }
    .content-container{
        width: 100%;
        height: 100vh;
        margin-top: 60px;
    }
</style>
{% endblock %}

{% block scripts %}
<script type="module" src="{% static 'js/main-home.js'%}"></script>
{% endblock %}