{% extends 'shop/main.html' %}
{% load static %}
{% block title %}Manage your security & privacy — GR8 #wholesale{% endblock %}
{% block page_active_shop %} 
{% endblock %}


{% block cart_indicator %}
<div class="account_auth-container" style="position: absolute; right: 0; margin-right: 60px; display: flex; align-items: center; justify-content: center; cursor: pointer; width: fit-content;">
    <a class="cart_active-indicator" style=" display:none; text-decoration: none;" href="/shop/green-produce">
        <span style="font-size: 11.5px; display: flex; align-items: center; font-weight: 800; color: #fff; margin: 0px; padding: 1px 2px;">
          <!--?xml version="1.0" encoding="UTF-8"?-->
          <svg id="uuid-b18f2d01-7785-47c4-b76d-fb6b19d5703c" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 605.65 838.2" width="10.5px" style="margin-right:8px;">
                  <g>
                  <path d="m197.76,8.73v276.7h-86.87V71.34L190.77,6.01c2.67-2.18,6.99-.5,6.99,2.72Z" style="fill: #fff;"></path>
                  <rect x="406.61" y="84.86" width="88.15" height="200.57" style="fill: #fff;"></rect>
                  <path d="m488.73,78.6c-93.19-.48-186.38-.96-279.58-1.44-2.04-.01-3.68-1.66-3.68-3.7V3.7c0-2.04,1.66-3.7,3.7-3.7h200.9c.93,0,1.82.35,2.51.98l77.52,71.38c2.08,1.92,1.33,5.37-1.37,6.24Z" style="fill: #fff;"></path>
                  </g>
                  <path d="m30.75,292.82h544.14c16.97,0,30.75,13.78,30.75,30.75v418.42c0,53.1-43.11,96.21-96.21,96.21H96.21c-53.1,0-96.21-43.11-96.21-96.21v-418.42c0-16.97,13.78-30.75,30.75-30.75Z" style="fill: #fff;"></path>
          </svg>
          <span id="cartNumber"></span>
        </span>
      </a>
</div>
{% endblock %}

{% block account_container %}
<div class=""> 
    <a href="{{back_link}}" style="border: 1px solid rgb(232,233,235); padding: 4px 12px; display: flex; align-items: center; width: 15px; border-radius: 7px; margin-bottom: 48px; background-color: white;">
        <svg width="1em" height="1em" viewBox="0 0 24 24" fill="var(--grey2);" xmlns="http://www.w3.org/2000/svg" color="systemGrayscale00;" style="transform: rotate(180deg); margin-top:2px;">
        <path fill-rule="evenodd" clip-rule="evenodd" d="m13.06 3.94 7 7 .02.02c.022.022.043.045.063.068l-.082-.089a1.513 1.513 0 0 1 .274.377 1.494 1.494 0 0 1-.071 1.493 1.28 1.28 0 0 1-.121.163 1.57 1.57 0 0 1-.062.068l-.02.02-7 7a1.5 1.5 0 0 1-2.122 0l-.103-.113a1.5 1.5 0 0 1 .103-2.008l4.44-4.439H5A1.5 1.5 0 0 1 3.5 12l.007-.145A1.5 1.5 0 0 1 5 10.5h10.379l-4.44-4.44a1.5 1.5 0 0 1 2.122-2.12Z"></path>
    </svg>
    </a>
    <h1 style="font-size: 12px; margin-bottom: 24px; margin-left: 20px; cursor: default; color: var(--black);">Hello there, {{request.user.first_name}}</h1>
</div>
{% endblock %}

{% block user_shipping-address %}
{% endblock %}

{% block pages_content %}
<ul>
    <div class="page_container">
        <div class=""><span></span></div>
        <a class="product-page" href="{% url 'account-settings' request.user.id %}">Your account</a>
    </div>
    <div class="page_container">
        <div class=""><span></span></div>
        <a class="product-page" href="{% url 'account-address' request.user.id %}">Addresses</a>
    </div>
    <div class="page_container">
        <div class=""><span></span></div>
        <a class="product-page" href="{% url 'account-referrals' request.user.id %}">Referrals</a>
    </div>
    <div class="page_container">
        <div class=""><span></span></div>
        <a class="product-page" href="{% url 'account-subscriptions' request.user.id %}">Subscriptions & Payments</a>
    </div>
    <div class="page_container">
        <div class="pages_active-indicator"><span></span></div>
        <a class="product-page is_active">Security & Privacy</a>
    </div>
    <hr>
    <div class="page_container">
        <div class=""><span></span></div>
        <a class="product-page">Get help</a>
    </div>
</ul>
{% endblock %}

{% block logout_container %}
{% endblock %}

{% block shop_content %}
<div class="content-wrapper">
    <div class="content-container">
        <div class="">
            <h1 style="font-size: 20px; margin: 0px;">Security & Privacy</h1>
            <p style="font-size:14px; margin: 0px;">All about you</p>
        </div>
        <div class=""style="display: flex; flex-direction: column; border:1px solid rgb(233,232,235); border-radius:14px; padding: 10px; margin-right: 32px; margin-top:32px; margin-bottom:16px; background-color: var(--grey);">
            <span style="font-size: 14.5px; font-weight: 600; margin-bottom: 8px;">Notification Options</span>
            <div class="">
                <div class="" style="background-color: white; display: flex; position: relative; align-items: center; border: 1px solid rgb(232,233,235); padding: 8px; border-radius: 10px; margin-bottom: 8px; cursor: pointer;">
                    <div class="" style="display: flex; flex-direction: column;">
                        <span style="font-size: 14px;">Product Updates</span>
                        <span style="font-size: 10px;">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
                    </div>
                    <div class="" style=" position: absolute; right:0; margin-right: 8px;">
                        {% if request.user.usersettings_set.first.notification_product_update == True %}
                        <div class="" style="background-color: var(--green); border-radius: 30px; width: 45px; height:20px; position: relative; border: 1px solid rgb(232,233,235); display: flex; align-items: center; cursor: pointer;">
                            <div style="background-color: white; border: 1px solid var(--green); border-radius: 100%; width: 22px; height: 22px; position: absolute; right: 0;"></div>
                        </div>
                        {% else %}
                        <div class="" style="background-color: var(--grey); border-radius: 30px; width: 45px; height:20px; position: relative; border: 1px solid rgb(232,233,235); display: flex; align-items: center; cursor: pointer;">
                            <div style="background-color: var(--grey2); border-radius: 100%; width: 22px; height: 22px; position: absolute; left: 0;"></div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="" style="background-color: white; display: flex; position: relative; align-items: center; border: 1px solid rgb(232,233,235); padding: 8px; border-radius: 10px; margin-bottom: 8px; cursor: pointer;">
                    <div class="" style="display: flex; flex-direction: column;">
                        <span style="font-size: 14px;">Order Updates</span>
                        <span style="font-size: 10px;">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
                    </div>
                    <div class="" style=" position: absolute; right:0; margin-right: 8px;">
                        {% if request.user.usersettings_set.first.notification_order_update == True %}
                        <div class="" style="background-color: var(--green); border-radius: 30px; width: 45px; height:20px; position: relative; border: 1px solid rgb(232,233,235); display: flex; align-items: center; cursor: pointer;">
                            <div style="background-color: white; border: 1px solid var(--green); border-radius: 100%; width: 22px; height: 22px; position: absolute; right: 0;"></div>
                        </div>
                        {% else %}
                        <div class="" style="background-color: var(--grey); border-radius: 30px; width: 45px; height:20px; position: relative; border: 1px solid rgb(232,233,235); display: flex; align-items: center; cursor: pointer;">
                            <div style="background-color: var(--grey2); border-radius: 100%; width: 22px; height: 22px; position: absolute; left: 0;"></div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="" style="background-color: white; display: flex; position: relative; align-items: center; border: 1px solid rgb(232,233,235); padding: 8px; border-radius: 10px; margin-bottom: 8px; cursor: pointer;">
                    <div class="" style="display: flex; flex-direction: column;">
                        <span style="font-size: 14px;">Delivery Updates</span>
                        <span style="font-size: 10px;">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
                    </div>
                    <div class="" style=" position: absolute; right:0; margin-right: 8px;">
                        {% if request.user.usersettings_set.first.notification_delivery_update == True %}
                        <div class="" style="background-color: var(--green); border-radius: 30px; width: 45px; height:20px; position: relative; border: 1px solid rgb(232,233,235); display: flex; align-items: center; cursor: pointer;">
                            <div style="background-color: white; border: 1px solid var(--green); border-radius: 100%; width: 22px; height: 22px; position: absolute; right: 0;"></div>
                        </div>
                        {% else %}
                        <div class="" style="background-color: var(--grey); border-radius: 30px; width: 45px; height:20px; position: relative; border: 1px solid rgb(232,233,235); display: flex; align-items: center; cursor: pointer;">
                            <div style="background-color: var(--grey2); border-radius: 100%; width: 22px; height: 22px; position: absolute; left: 0;"></div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="" style="background-color: white; display: flex; position: relative; align-items: center; border: 1px solid rgb(232,233,235); padding: 8px; border-radius: 10px; margin-bottom: 8px; cursor: pointer;">
                    <div class="" style="display: flex; flex-direction: column;">
                        <span style="font-size: 14px;">Promotion Updates</span>
                        <span style="font-size: 10px;">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
                    </div>
                    <div class="" style=" position: absolute; right:0; margin-right: 8px;">
                        {% if request.user.usersettings_set.first.notification_promotions_update == True %}
                        <div class="" style="background-color: var(--green); border-radius: 30px; width: 45px; height:20px; position: relative; border: 1px solid rgb(232,233,235); display: flex; align-items: center; cursor: pointer;">
                            <div style="background-color: white; border: 1px solid var(--green); border-radius: 100%; width: 22px; height: 22px; position: absolute; right: 0;"></div>
                        </div>
                        {% else %}
                        <div class="" style="background-color: var(--grey); border-radius: 30px; width: 45px; height:20px; position: relative; border: 1px solid rgb(232,233,235); display: flex; align-items: center; cursor: pointer;">
                            <div style="background-color: var(--grey2); border-radius: 100%; width: 22px; height: 22px; position: absolute; left: 0;"></div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="" style="display: flex; position: relative; align-items: center; border: 1px solid rgb(232,233,235); margin-top: 20px; padding: 8px; border-radius: 10px;background-color: white;  ">
                    <div class="" style="display: flex; flex-direction: column;">
                        <span style="font-size: 10px; font-weight: 600; margin-bottom: 2px; color: var(--black);">Preferred Method</span>
                        <span style="font-size: 14px">Phone</span>
                    </div>
                    <div class="" style=" position: absolute; right:0; margin-right: 8px;">
                        <span style=" font-size: 12px; font-weight: 600; color: var(--green);">Change</span>
                    </div>
                </div>
            </div>
        </div>
        <div class=""style="display: flex; flex-direction: column; border:1px solid rgb(233,232,235); border-radius:14px; padding: 10px; margin-right: 32px; margin-top:32px; margin-bottom:16px; background-color: var(--grey);">
            <span style="font-size: 14.5px; font-weight: 600; margin-bottom: 8px;">Privacy Options</span>
            <div class="">

                <div class="" style="background-color: white; display: flex; position: relative; align-items: center; border: 1px solid rgb(232,233,235); padding: 8px; border-radius: 10px; margin-bottom: 8px; cursor: pointer;">
                    <div class="" style="display: flex; flex-direction: column;">
                        <span style="font-size: 14px;">Send diagnostics</span>
                        <span style="font-size: 10px;">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
                    </div>
                    <div class="" style=" position: absolute; right:0; margin-right: 8px;">
                        {% if request.user.usersettings_set.first.send_diagnostics == True %}
                        <div class="" style="background-color: var(--green); border-radius: 30px; width: 45px; height:20px; position: relative; border: 1px solid rgb(232,233,235); display: flex; align-items: center; cursor: pointer;">
                            <div style="background-color: white; border: 1px solid var(--green); border-radius: 100%; width: 22px; height: 22px; position: absolute; right: 0;"></div>
                        </div>
                        {% else %}
                        <div class="" style="background-color: var(--grey); border-radius: 30px; width: 45px; height:20px; position: relative; border: 1px solid rgb(232,233,235); display: flex; align-items: center; cursor: pointer;">
                            <div style="background-color: var(--grey2); border-radius: 100%; width: 22px; height: 22px; position: absolute; left: 0;"></div>
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div class="" style="display: flex; flex-direction:column; position: relative; align-items: flex-start; 
                border: 1px solid rgb(232,233,235); padding: 8px; border-radius: 14px; margin-bottom: 0px; ">
                    <div class="" style="display: flex; flex-direction: column;">
                        <span style="font-size: 12px; font-weight: 600; margin-bottom: 8px;">Your data</span>
                    </div>
                    <div class="" style=" margin-right: 8px; width: 100%; background-color: white; border-radius: 10px;">
                        <div class="">
                            <div class="" style="padding: 16px; display: flex; flex-direction: column; border-radius: 10px 10px 0px 0px; position: relative; justify-content: center;">
                                <span style=" font-size: 14px; font-weight: 600; color: var(--black);">Download your data</span>
                                <span style=" font-size: 12px; font-weight: 400; color: var(--grey2);">Have everything in JSON</span>
                                <div class="" style="position: absolute; right: 0; padding: 16px;">
                                    <span>dwnld</span>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <div class="" style="padding: 16px; display: flex; flex-direction: column; border-radius: 0px 0px 10px 10px; position: relative; justify-content: center;">
                                <span style=" font-size: 14px; font-weight: 600; color: var(--black);">Delete your account</span>
                                <span style=" font-size: 12px; font-weight: 400; color: var(--grey2);">Erase all your data</span>
                                <div class="" style="position: absolute; right: 0; padding: 16px;">
                                    <span>del</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="padding-bottom: 36px;">
            <div class=""style="display: flex; flex-direction: column; border:1px solid rgb(233,232,235); border-radius:14px; padding: 10px; margin-right: 32px; margin-top:32px; margin-bottom:16px; background-color: var(--grey);">
                <span style="font-size: 14.5px; font-weight: 600; margin-bottom: 8px;">Security Options</span>
                <div class="">
                    <div class="" style="background-color: white; display: flex; position: relative; align-items: center; border: 1px solid rgb(232,233,235); padding: 8px; border-radius: 10px; margin-bottom: 8px; cursor: pointer;">
                        <div class="" style="display: flex; flex-direction: column;">
                            <span style="font-size: 14px;">Two-step verification</span>
                            <span style="font-size: 10px;">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
                        </div>
                        <div class="" style=" position: absolute; right:0; margin-right: 8px;">
                            {% if request.user.userrecovery_set.first.two_step == True %}
                            <div class="" style="background-color: var(--green); border-radius: 30px; width: 45px; height:20px; position: relative; border: 1px solid rgb(232,233,235); display: flex; align-items: center; cursor: pointer;">
                                <div style="background-color: white; border: 1px solid var(--green); border-radius: 100%; width: 22px; height: 22px; position: absolute; right: 0;"></div>
                            </div>
                            {% else %}
                            <div class="" style="background-color: var(--grey); border-radius: 30px; width: 45px; height:20px; position: relative; border: 1px solid rgb(232,233,235); display: flex; align-items: center; cursor: pointer;">
                                <div style="background-color: var(--grey2); border-radius: 100%; width: 22px; height: 22px; position: absolute; left: 0;"></div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="" style="display: flex; position: relative; align-items: center; border: 1px solid rgb(232,233,235); padding: 8px; border-radius: 10px;background-color: white; margin-bottom: 8px; ">
                        <div class="" style="display: flex; flex-direction: column;">
                            <span style="font-size: 10px; font-weight: 600; margin-bottom: 2px; color: var(--black);">Recovery Email</span>
                            <span style="font-size: 14px; color: var(--grey2);">No recovery email</span>
                        </div>
                        <div class="" style=" position: absolute; right:0; margin-right: 8px;">
                            <span style=" font-size: 12px; font-weight: 600; color: var(--green);">Add</span>
                        </div>
                    </div>
                    <div class="" style="display: flex; position: relative; align-items: center; border: 1px solid rgb(232,233,235); padding: 8px; border-radius: 10px;background-color: white; margin-bottom: 0px; ">
                        <div class="" style="display: flex; flex-direction: column;">
                            <span style="font-size: 10px; font-weight: 600; margin-bottom: 2px; color: var(--black);">Recovery Phone</span>
                            <span style="font-size: 14px;">+1 (876) 238-2482</span>
                        </div>
                        <div class="" style=" position: absolute; right:0; margin-right: 8px;">
                            <span style=" font-size: 12px; font-weight: 600; color: var(--green);">Change</span>
                        </div>
                    </div>


                </div>
            </div>
        </div>
</div>
<style>
    .sidenav_left-wrapper{
        width: calc(30vw);
    }
    .content-wrapper{
        margin: 0px;
        width: calc(100vw);
    }
    .content-container{
        width: 100%;
        height: 100vh;
        margin-top: 60px;
    }
</style>
{% endblock %}

{% block scripts %}
<script type="module" src="{% static 'js/main-home.js'%}"></script>
{% endblock %}