{% extends 'green_produce/main.html' %}
{% block  title %}Vegetables • Shop — GR8 #wholesale{% endblock %}
{% load static %}
{% load humanize %}

{% block breadcrumbs %}
<a href="{% url 'shoppage' %}">Shop</a> >
<a href="{% url 'green_produce-main' %}">Green Produce</a> >
<a href="{% url 'green_produce-vegetables' %}">Vegetables</a>
{% endblock %}

{% block pages_content %}
<ul>
    <div class="page_container">
        <div class=""><span></span></div>
        <a class="product-page" href="{% url 'shoppage'%}">Shop</a>
    </div>
    <div class="produce_pages-container">
        <div class=""><span></span></div>
        <a class="product-page is_active">Green Produce <span class="expand-produce_pages">-</span></a>
        <div class="sub_pages" id="produce_subpages">
            <ul>
                <li id="produce-link1">
                    <div class=""><span></span></div>
                    <a class="sub_page-link" href="{% url 'green_produce-all'%}">All</a>
                </li>
                <li id="produce-link2">
                    <div class=""><span></span></div>
                    <a class="sub_page-link" href="{% url 'green_produce-fruits'%}">Fruits</a>
                </li>
                <li id="produce-link3">
                    <div class="subpage_active-indicator"><span></span></div>
                    <a class="sub_page-link is_active">Vegetables</a>
                </li>
                <li id="produce-link4">
                    <div class=""><span></span></div>
                    <a class="sub_page-link" href="{% url 'green_produce-herbs-spices'%}">Herbs & Spices</a>
                </li>
                <li id="produce-link5">
                    <div class=""><span></span></div>
                    <a class="sub_page-link" href="{% url 'green_produce-tubers-provisions'%}">Tubers & Provisions</a>
                </li>
                <li id="produce-link6">
                    <div class=""><span></span></div>
                    <a class="sub_page-link" href="{% url 'green_produce-nuts-grains'%}">Nuts & Grains</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="meats_pages-container">
        <div class=""><span></span></div>
        <a class="product-page" href="{% url 'meats-main'%}">Meats<span class="expand-meats_pages">+</span></a>
    </div>
    <div class="page_container">
        <div class=""><span></span></div>
        <a class="product-page" href="{% url 'deals'%}">Deals</a>
    </div>
    <div class="page_container">
        <div class=""><span></span></div>
        <a class="product-page" href="{% url 'buy-it-again'%}">Buy it again</a>
    </div>
    <hr>
    <div class="page_container">
        <div class=""><span></span></div>
        <a class="product-page" >Get help</a>
        </div>
        <div class="page_container">
            <div class=""><span></span></div>
            <a href="{% url 'birthday-club'%}" class="product-page" >Join <span style="font-weight: 600;">The Birthday Club™</span></a>
        </div>
        <div class="page_container">
            <div class=""><span></span></div>
            <a href="{% url 'premium'%}" class="product-page" >Get <span style="font-weight: 600;">Premium</span></a>
        </div>
        <div class="page_container">
            <div class=""><span></span></div>
            <a href="{% url 'store-credit'%}" class="product-page" >Build your <span style="font-weight: 600;">store credit</span></a>
        </div>
</ul>
{% endblock %}

{% block shop_content %}
<div class="content_center-wrapper">
    <div class="content_center-top">

        <div class="content-right">
            <div class="searchbar-container">
                <svg width="20" height="20" viewBox="0 0 24 24" fill="#343538" xmlns="http://www.w3.org/2000/svg" size="24" color="var(-grey2)">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M16.396 14.275a7 7 0 1 0-2.121 2.121l3.664 3.665a1.5 1.5 0 0 0 2.122-2.122l-3.665-3.664ZM10.5 14.5a4 4 0 1 1 0-8 4 4 0 0 1 0 8Z"></path>
                </svg>
                <input type="text" name="search" id="Green Produce" placeholder="Search">
            </div>
        </div>
    </div>
    <div class="content_center-container">
        <div id="frm-product_wall">
            {% for product in products %}
                <div class="product_card-container" style="position: relative;">
                    <a href="{% url 'product-details' %}" style="display: block; width: 100%; height: 100%; position: absolute;"></a>
                    <div class="product-img">
                        <span></span>
                        <div class="product-add">
                            <button data-product="{{product.product_id}}" data-action="add" class="product_add-btn update-cart">
                                <svg width="20" height="20" viewBox="0 0 24 24" fill="#FFFFFF" xmlns="http://www.w3.org/2000/svg" size="24" color="systemGrayscale00"><path fill-rule="evenodd" clip-rule="evenodd" d="M12 3.5A1.5 1.5 0 0 1 13.5 5v5.5H19a1.5 1.5 0 0 1 1.493 1.355L20.5 12a1.5 1.5 0 0 1-1.5 1.5h-5.5V19a1.5 1.5 0 0 1-1.355 1.493L12 20.5a1.5 1.5 0 0 1-1.5-1.5v-5.5H5a1.5 1.5 0 0 1-1.493-1.355L3.5 12A1.5 1.5 0 0 1 5 10.5h5.5V5a1.5 1.5 0 0 1 1.355-1.493L12 3.5Z"></path>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="product-details">
                        <div class="product-title">
                            <div class="product_price-container">
                                <div class="product-price">
                                    <p class="dollars" id="product_price-dollars">{% if product.price.currency == "JMD" %}J{% endif %}${{product.price.value}}</p>
                                </div>
                            </div>  
                            <p class="product_variety">{{product.product.name}}</p>
                            <p class="product_name">{{product.product.product.name}}</p>
                            <p class="product_unit">per {{product.unit.unit}} ({{product.unit.unit_abbr}}.)</p> 
                        </div>
                    </div>
                </div>
            {% endfor %}
             <!--   <div class="product_card-container" style="position: relative;">
                    <a href="{% url 'product-details' %}" style="display: block; width: 100%; height: 100%; position: absolute;"></a>
                    <div class="product-img">
                        <span></span>
                        <div class="product-add">
                            <button type="submit" class="product_add-btn">
                                <svg width="20" height="20" viewBox="0 0 24 24" fill="#FFFFFF" xmlns="http://www.w3.org/2000/svg" size="24" color="systemGrayscale00"><path fill-rule="evenodd" clip-rule="evenodd" d="M12 3.5A1.5 1.5 0 0 1 13.5 5v5.5H19a1.5 1.5 0 0 1 1.493 1.355L20.5 12a1.5 1.5 0 0 1-1.5 1.5h-5.5V19a1.5 1.5 0 0 1-1.355 1.493L12 20.5a1.5 1.5 0 0 1-1.5-1.5v-5.5H5a1.5 1.5 0 0 1-1.493-1.355L3.5 12A1.5 1.5 0 0 1 5 10.5h5.5V5a1.5 1.5 0 0 1 1.355-1.493L12 3.5Z"></path>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="product-details">
                        <div class="product-title">
                            <div class="product_price-container">
                                <div class="product-price">
                                    <p class="dollars" id="product_price-dollars">J$50.00</p>
                                </div>
                            </div>  
                            <p class="product_variety">White-stemmed</p>
                            <p class="product_name">Pak Choy</p>
                            <p class="product_unit">per pound (lb.)</p> 
                         
                        </div>
                    </div>
                </div>            
                <div class="product_card-container" style="position: relative;">
                    <a href="{% url 'product-details' %}" style="display: block; width: 100%; height: 100%; position: absolute;"></a>
                    <div class="product-img">
                        <span></span>
                        <div class="product-add">
                            <button type="submit" class="product_add-btn">+</button>
                        </div>
                    </div>
                    <div class="product-details">
                        <div class="product-title">
                            <div class="product_price-container">
                                <div class="product-price">
                                    <p class="dollars" id="product_price-dollars">J$50.00</p>
                                </div>
                            </div>  
                            <p class="product_variety">White-stemmed</p>
                            <p class="product_name">Pak Choy</p>
                            <p class="product_unit">per pound (lb.)</p> 
                        </div>
                    </div>
                </div>
                <div class="product_card-container" style="position: relative;">
                    <a href="{% url 'product-details' %}" style="display: block; width: 100%; height: 100%; position: absolute;"></a>
                    <div class="product-img">
                        <span></span>
                        <div class="product-add">
                            <button type="submit" class="product_add-btn">+</button>
                        </div>
                    </div>
                    <div class="product-details">
                        <div class="product-title">
                            <div class="product_price-container">
                                <div class="product-price">
                                    <p class="dollars" id="product_price-dollars">J$50.00</p>
                                </div>
                            </div>  
                            <p class="product_variety">White-stemmed</p>
                            <p class="product_name">Pak Choy</p>
                            <p class="product_unit">per pound (lb.)</p> 
                        </div>
                    </div>
                </div>
            -->
            </div>
    </div>
</div>
<div class="sidenav_right-wrapper">
    <div class="cart-container">
        <div class="cart-header">
        <h1 class="cart-title">Shopping Bag</h1>
        {% if items.count > 0 %}
        <div class="item-num" style="border: 1px solid rgb(232, 233, 235); padding: 4px 8px;">
            <div style="display: flex; width: fit-content; align-items: center;">
                <?xml version="1.0" encoding="UTF-8"?>
                <svg id="uuid-b18f2d01-7785-47c4-b76d-fb6b19d5703c" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 605.65 838.2" width="10px" style="margin-right:8px;">
                      <g>
                        <path d="m197.76,8.73v276.7h-86.87V71.34L190.77,6.01c2.67-2.18,6.99-.5,6.99,2.72Z" style="fill: var(--green);"/>
                        <rect x="406.61" y="84.86" width="88.15" height="200.57" style="fill: var(--green);"/>
                        <path d="m488.73,78.6c-93.19-.48-186.38-.96-279.58-1.44-2.04-.01-3.68-1.66-3.68-3.7V3.7c0-2.04,1.66-3.7,3.7-3.7h200.9c.93,0,1.82.35,2.51.98l77.52,71.38c2.08,1.92,1.33,5.37-1.37,6.24Z" style="fill: var(--green);"/>
                      </g>
                      <path d="m30.75,292.82h544.14c16.97,0,30.75,13.78,30.75,30.75v418.42c0,53.1-43.11,96.21-96.21,96.21H96.21c-53.1,0-96.21-43.11-96.21-96.21v-418.42c0-16.97,13.78-30.75,30.75-30.75Z" style="fill: var(--green);"/>
                    </svg>
                <span style="color: var(--grey2 ); font-weight: 800;">{{items.count}}</span>
            </div>
        </div>
        {% endif %}
        </div>
        <div class="cart-content">
            {% for item in items %}
            <div class="cart_item-container" id="{{item.order.id}}">
                <div class="item-details" id="cart_details" style="position: relative;">
                    <a href="{% url 'product-details'%}" style=" display: block; position: absolute; width: 100%; height: 100%;"></a>
                    <p class="item-title" id="cart_product-title">{{item.product_grade.product.product.name}}</p>
                    <p class="item-unit" id="cart_product-unit">per {{item.product_grade.unit.unit}} ({{item.product_grade.unit.unit_abbr}}.)</p>
                    <div class="item-others">
                        <p class="item-variety" id="cart_product-variety">{{item.product_grade.product.name}}</p>
                        <p class="item-grade" id="cart_product-grade">Grade {{item.product_grade.grade}}</p>
                    </div>
                </div>
                <div class="item_price-container" style="width: fit-content; display: flex; align-items: center;" >
                    <input type="number" name="{{item.product_grade.id}}" id="id_product_qty{{forloop.counter0}}" data-id="{{forloop.counter0}}" data-item_id="{{item.id}}" value="{{item.quantity}}" class="cart-input" style="width: 25px; height: 30px;">
                    <span style="font-weight: 600; font-size: 12.5px; margin-right: 8px;">{{item.product_grade.unit.unit_abbr}}</span>
                </div>
                <div class="item_price-container">
                    <p class="currency">J$</p>
                    <input type="number" name="{{item.product_grade.id}}" id="id_product_price{{forloop.counter0}}" data-id="{{forloop.counter0}}" data-item_id="{{item.id}}" value="{{item.subtotal|floatformat:2}}" class="cart-input">
                </div>
                <div class="item_actions">
                    <button id="id_more_options{{item.id}}" class="more_options-btn">
                        <svg width="12" height="12" viewBox="0 0 24 24" fill="# 343538" xmlns="http://www.w3.org/2000/svg" size="20" color="systemGrayscale70" class="css-1qx34im"><path fill-rule="evenodd" clip-rule="evenodd" d="M3 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm9 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm12-3a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path></svg>
                    </button>
                    <div id="id_more_options{{item.id}}-menu" class="more_options-menu hidden">
                    <ul>

                        <li class="add_note-option" data-product="{{item.product_grade.id}}">
                            <span>Add instructions</span>
                        </li>
                        <li style="position: relative;">
                            <a href="{% url 'product-details'%}" style="display: block; position: absolute; width: 100%; height: 100%;"></a>
                            <span>Edit product</span>
                        </li>
                        <li class="rmv_item-option" data-product="{{item.product_grade.id}}" data-action="remove">
                            <span>Remove</span>
                        </li>
                    </ul>
                    </div>
                </div>
            </div>
            {% empty %}

            {% endfor %}
            <!--
            <div class="cart_item-container">
                <div class="item-details" id="cart_details">
                    <p class="item-title" id="cart_product-title">Pak Choy</p>
                    <p class="item-unit" id="cart_product-unit">per pound (lb.)</p>
                    <div class="item-others">
                        <p class="item-variety" id="cart_product-variety">White-stemmed</p>
                        <p class="item-grade" id="cart_product-grade">Grade B</p>
                    </div>
                </div>
                <div class="item_qty-container">
                    <input type="number" name="product_qty" id="id_product_qty" value="50" class="cart-input">
                </div>
                <div class="item_price-container">
                    <p class="currency">J$</p>
                    <input type="number" name="product_price" id="id_product_price" value="2500.00" class="cart-input">
                </div>
                <div class="item_actions">
                    <button id="id_more_options1" class="more_options-btn">
                        <svg width="12" height="12" viewBox="0 0 24 24" fill="#343538" xmlns="http://www.w3.org/2000/svg" size="20" color="systemGrayscale70" class="css-1qx34im"><path fill-rule="evenodd" clip-rule="evenodd" d="M3 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm9 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm12-3a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path></svg>
                    </button>
                    <div id="id_more_options1-menu" class="more_options-menu hidden">
                    <ul>

                        <li class="add_note-option">
                            <span>Add instructions</span>
                        </li>
                        <li>
                            <span>Edit product</span>
                        </li>
                        <li class="rmv_item-option">
                            <span>Remove</span>
                        </li>
                    </ul>
                    </div>
                </div>
            </div>

            <div class="cart_item-container">
                <div class="item-details" id="cart_details">
                    <p class="item-title" id="cart_product-title">Pak Choy</p>
                    <p class="item-unit" id="cart_product-unit">per pound (lb.)</p>
                    <div class="item-others">
                        <p class="item-variety" id="cart_product-variety">White-stemmed</p>
                        <p class="item-grade" id="cart_product-grade">Grade B</p>
                    </div>
                </div>
                <div class="item_qty-container">
                    <input type="number" name="product_qty" id="id_product_qty" value="50" class="cart-input">
                </div>
                <div class="item_price-container">
                    <p class="currency">J$</p>
                    <input type="number" name="product_price" id="id_product_price" value="2500.00" class="cart-input">
                </div>
                <div class="item_actions">
                    <button id="id_more_options1" class="more_options-btn">
                        <svg width="12" height="12" viewBox="0 0 24 24" fill="#343538" xmlns="http://www.w3.org/2000/svg" size="20" color="systemGrayscale70" class="css-1qx34im"><path fill-rule="evenodd" clip-rule="evenodd" d="M3 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm9 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm12-3a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path></svg>
                    </button>
                    <div id="id_more_options1-menu" class="more_options-menu hidden">
                    <ul>

                        <li class="add_note-option">
                            <span>Add instructions</span>
                        </li>
                        <li>
                            <span>Edit product</span>
                        </li>
                        <li class="rmv_item-option">
                            <span>Remove</span>
                        </li>
                    </ul>
                    </div>
                </div>
            </div>

            <div class="cart_item-container">
                <div class="item-details" id="cart_details">
                    <p class="item-title" id="cart_product-title">Pak Choy</p>
                    <p class="item-unit" id="cart_product-unit">per pound (lb.)</p>
                    <div class="item-others">
                        <p class="item-variety" id="cart_product-variety">White-stemmed</p>
                        <p class="item-grade" id="cart_product-grade">Grade B</p>
                    </div>
                </div>
                <div class="item_qty-container">
                    <input type="number" name="product_qty" id="id_product_qty" value="50" class="cart-input">
                </div>
                <div class="item_price-container">
                    <p class="currency">J$</p>
                    <input type="number" name="product_price" id="id_product_price" value="2500.00" class="cart-input">
                </div>
                <div class="item_actions">
                    <button id="id_more_options1" class="more_options-btn">
                        <svg width="12" height="12" viewBox="0 0 24 24" fill="#343538" xmlns="http://www.w3.org/2000/svg" size="20" color="systemGrayscale70" class="css-1qx34im"><path fill-rule="evenodd" clip-rule="evenodd" d="M3 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm9 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm12-3a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path></svg>
                    </button>
                    <div id="id_more_options1-menu" class="more_options-menu hidden">
                    <ul>

                        <li class="add_note-option">
                            <span>Add instructions</span>
                        </li>
                        <li>
                            <span>Edit product</span>
                        </li>
                        <li class="rmv_item-option">
                            <span>Remove</span>
                        </li>
                    </ul>
                    </div>
                </div>
            </div>

            <div class="cart_item-container">
                <div class="item-details" id="cart_details">
                    <p class="item-title" id="cart_product-title">Pak Choy</p>
                    <p class="item-unit" id="cart_product-unit">per pound (lb.)</p>
                    <div class="item-others">
                        <p class="item-variety" id="cart_product-variety">White-stemmed</p>
                        <p class="item-grade" id="cart_product-grade">Grade B</p>
                    </div>
                </div>
                <div class="item_qty-container">
                    <input type="number" name="product_qty" id="id_product_qty" value="50" class="cart-input">
                </div>
                <div class="item_price-container">
                    <p class="currency">J$</p>
                    <input type="number" name="product_price" id="id_product_price" value="2500.00" class="cart-input">
                </div>
                <div class="item_actions">
                    <button id="id_more_options1" class="more_options-btn">
                        <svg width="12" height="12" viewBox="0 0 24 24" fill="#343538" xmlns="http://www.w3.org/2000/svg" size="20" color="systemGrayscale70" class="css-1qx34im"><path fill-rule="evenodd" clip-rule="evenodd" d="M3 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm9 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm12-3a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path></svg>
                    </button>
                    <div id="id_more_options1-menu" class="more_options-menu hidden">
                    <ul>

                        <li class="add_note-option">
                            <span>Add instructions</span>
                        </li>
                        <li>
                            <span>Edit product</span>
                        </li>
                        <li class="rmv_item-option">
                            <span>Remove</span>
                        </li>
                    </ul>
                    </div>
                </div>
            </div>

            <div class="cart_item-container">
                <div class="item-details" id="cart_details">
                    <p class="item-title" id="cart_product-title">Pak Choy</p>
                    <p class="item-unit" id="cart_product-unit">per pound (lb.)</p>
                    <div class="item-others">
                        <p class="item-variety" id="cart_product-variety">White-stemmed</p>
                        <p class="item-grade" id="cart_product-grade">Grade B</p>
                    </div>
                </div>
                <div class="item_qty-container">
                    <input type="number" name="product_qty" id="id_product_qty" value="50" class="cart-input">
                </div>
                <div class="item_price-container">
                    <p class="currency">J$</p>
                    <input type="number" name="product_price" id="id_product_price" value="2500.00" class="cart-input">
                </div>
                <div class="item_actions">
                    <button id="id_more_options1" class="more_options-btn">
                        <svg width="12" height="12" viewBox="0 0 24 24" fill="#343538" xmlns="http://www.w3.org/2000/svg" size="20" color="systemGrayscale70" class="css-1qx34im"><path fill-rule="evenodd" clip-rule="evenodd" d="M3 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm9 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm12-3a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path></svg>
                    </button>
                    <div id="id_more_options1-menu" class="more_options-menu hidden">
                    <ul>

                        <li class="add_note-option">
                            <span>Add instructions</span>
                        </li>
                        <li>
                            <span>Edit product</span>
                        </li>
                        <li class="rmv_item-option">
                            <span>Remove</span>
                        </li>
                    </ul>
                    </div>
                </div>
            </div>

            <div class="cart_item-container">
                <div class="item-details" id="cart_details">
                    <p class="item-title" id="cart_product-title">Pak Choy</p>
                    <p class="item-unit" id="cart_product-unit">per pound (lb.)</p>
                    <div class="item-others">
                        <p class="item-variety" id="cart_product-variety">White-stemmed</p>
                        <p class="item-grade" id="cart_product-grade">Grade B</p>
                    </div>
                </div>
                <div class="item_qty-container">
                    <input type="number" name="product_qty" id="id_product_qty" value="50" class="cart-input">
                </div>
                <div class="item_price-container">
                    <p class="currency">J$</p>
                    <input type="number" name="product_price" id="id_product_price" value="2500.00" class="cart-input">
                </div>
                <div class="item_actions">
                    <button id="id_more_options1" class="more_options-btn">
                        <svg width="12" height="12" viewBox="0 0 24 24" fill="#343538" xmlns="http://www.w3.org/2000/svg" size="20" color="systemGrayscale70" class="css-1qx34im"><path fill-rule="evenodd" clip-rule="evenodd" d="M3 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm9 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm12-3a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path></svg>
                    </button>
                    <div id="id_more_options1-menu" class="more_options-menu hidden">
                    <ul>

                        <li class="add_note-option">
                            <span>Add instructions</span>
                        </li>
                        <li>
                            <span>Edit product</span>
                        </li>
                        <li class="rmv_item-option">
                            <span>Remove</span>
                        </li>
                    </ul>
                    </div>
                </div>
            </div>

            <div class="cart_item-container">
                <div class="item-details" id="cart_details">
                    <p class="item-title" id="cart_product-title">Pak Choy</p>
                    <p class="item-unit" id="cart_product-unit">per pound (lb.)</p>
                    <div class="item-others">
                        <p class="item-variety" id="cart_product-variety">White-stemmed</p>
                        <p class="item-grade" id="cart_product-grade">Grade B</p>
                    </div>
                </div>
                <div class="item_qty-container">
                    <input type="number" name="product_qty" id="id_product_qty" value="50" class="cart-input">
                </div>
                <div class="item_price-container">
                    <p class="currency">J$</p>
                    <input type="number" name="product_price" id="id_product_price" value="2500.00" class="cart-input">
                </div>
                <div class="item_actions">
                    <button id="id_more_options1" class="more_options-btn">
                        <svg width="12" height="12" viewBox="0 0 24 24" fill="#343538" xmlns="http://www.w3.org/2000/svg" size="20" color="systemGrayscale70" class="css-1qx34im"><path fill-rule="evenodd" clip-rule="evenodd" d="M3 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm9 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm12-3a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path></svg>
                    </button>
                    <div id="id_more_options1-menu" class="more_options-menu hidden">
                    <ul>

                        <li class="add_note-option">
                            <span>Add instructions</span>
                        </li>
                        <li>
                            <span>Edit product</span>
                        </li>
                        <li class="rmv_item-option">
                            <span>Remove</span>
                        </li>
                    </ul>
                    </div>
                </div>
            </div>
            <div class="cart_item-container">
                <div class="item-details" id="cart_details">
                    <p class="item-title" id="cart_product-title">Pak Choy</p>
                    <p class="item-unit" id="cart_product-unit">per pound (lb.)</p>
                    <div class="item-others">
                        <p class="item-variety" id="cart_product-variety">White-stemmed</p>
                        <p class="item-grade" id="cart_product-grade">Grade B</p>
                    </div>
                </div>
                <div class="item_qty-container">
                    <input type="number" name="product_qty" id="id_product_qty" value="50" class="cart-input">
                </div>
                <div class="item_price-container">
                    <p class="currency">J$</p>
                    <input type="number" name="product_price" id="id_product_price" value="2500.00" class="cart-input">
                </div>
                <div class="item_actions">
                    <button id="id_more_options1" class="more_options-btn">
                        <svg width="12" height="12" viewBox="0 0 24 24" fill="#343538" xmlns="http://www.w3.org/2000/svg" size="20" color="systemGrayscale70" class="css-1qx34im"><path fill-rule="evenodd" clip-rule="evenodd" d="M3 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm9 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm12-3a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path></svg>
                    </button>
                    <div id="id_more_options1-menu" class="more_options-menu hidden">
                    <ul>

                        <li class="add_note-option">
                            <span>Add instructions</span>
                        </li>
                        <li>
                            <span>Edit product</span>
                        </li>
                        <li class="rmv_item-option">
                            <span>Remove</span>
                        </li>
                    </ul>
                    </div>
                </div>
            </div>

            <div class="cart_item-container">

                <div class="item-details" id="cart_details">
                    <p class="item-title" id="cart_product-title">Pak Choy</p>
                    <p class="item-unit" id="cart_product-unit">per pound (lb.)</p>
                    <div class="item-others">
                        <p class="item-variety" id="cart_product-variety">White-stemmed</p>
                        <p class="item-grade" id="cart_product-grade">Grade B</p>
                    </div>
                </div>
                <div class="item_qty-container">
                    <input type="number" name="product_qty" id="id_product_qty" value="50" class="cart-input">
                </div>
                <div class="item_price-container">
                    <p class="currency">J$</p>
                    <input type="number" name="product_price" id="id_product_price" value="2500.00" class="cart-input">
                </div>
                <div class="item_actions">
                    <button id="id_more_options2" class="more_options-btn">
                        <svg width="12" height="12" viewBox="0 0 24 24" fill="#343538" xmlns="http://www.w3.org/2000/svg" size="20" color="systemGrayscale70" class="css-1qx34im"><path fill-rule="evenodd" clip-rule="evenodd" d="M3 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm9 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm12-3a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path></svg>
                    </button>
                    <div id="id_more_options2-menu" class="more_options-menu hidden">
                    <ul>

                        <li class="add_note-option">
                            <span>Add instructions</span>
                        </li>
                        <li>
                            <span>Edit product</span>
                        </li>
                        <li class="rmv_item-option">
                            <span>Remove</span>
                        </li>
                    </ul>
                    </div>
                </div>
            </div>
            -->
        </div>
        <div class="cart-footer">
            {% if items.count > 0 %}
                <div class="checkout-btn">
                    <a class="checkout-link" href="{% url 'checkout-aisle' %}">Checkout <span id="subtotal-container">Subtotal: J$<span id="subtotal-amount">{{order.grandtotal|floatformat:2|intcomma}}</span></span></a>
                </div>
            {% endif %}
        </div>

    </div>
</div>
{% endblock %}
{% block cart_indicator %}
{% endblock %}

{% block scripts %}

      <script type="module" src="{% static 'js/main.js'%}"></script>

{% endblock %}