{% extends 'shop/main.html'%}
{% load static %}
{% load humanize %}
{% block title %}{{product.product.name}} {{product.product.product.name}} • Shop — GR8 #wholesale{% endblock %}
{% block user_shipping-address %}
{% endblock %}

{% block cart_indicator %}
{% endblock %}
{% block user_style %} style="display: flex; align-items: center; position: absolute; right: 60px;"{% endblock %}
{% block modal %}
<div class="modal hidden">
    <div class="replacement-modal-container hidden">
        <div class="main_product-modal-content" style="    
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 1220px;
        height: 550px;
        background-color: white;
        border-radius: 14px;
        padding: 20px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 8px;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;">
        <div class="" style="display: flex; flex-direction: column; justify-content: center; width: 100%; height: 550px; padding: 4px 0px;">
            <div class="" style="display: flex; flex-direction: column;">
                <div class="close-btn" style="display: flex; align-items: center; margin-bottom: 16px; max-width: fit-content; padding: 6px 32px 6px 6px; border: 1px solid rgb(232,233,235); border-radius: 10px; cursor: pointer;">
                    <svg width="1em" height="1em" viewBox="0 0 24 24" fill="var(--grey2);" xmlns="http://www.w3.org/2000/svg" color="systemGrayscale00;" style="transform: rotate(180deg);" >
                        <path fill-rule="evenodd" clip-rule="evenodd" d="m13.06 3.94 7 7 .02.02c.022.022.043.045.063.068l-.082-.089a1.513 1.513 0 0 1 .274.377 1.494 1.494 0 0 1-.071 1.493 1.28 1.28 0 0 1-.121.163 1.57 1.57 0 0 1-.062.068l-.02.02-7 7a1.5 1.5 0 0 1-2.122 0l-.103-.113a1.5 1.5 0 0 1 .103-2.008l4.44-4.439H5A1.5 1.5 0 0 1 3.5 12l.007-.145A1.5 1.5 0 0 1 5 10.5h10.379l-4.44-4.44a1.5 1.5 0 0 1 2.122-2.12Z"></path>
                    </svg>
                    <span style="margin-left: 10px; font-size: 12px; font-weight: 600;">Back</span>
                </div>
            </div>
            <div class="" style="width: 100%; position: relative; padding: 24px;">
                <div class="">
                    <div class=""  style="display: flex; flex-direction: column; justify-content: center; border: 1px solid rgb(232,233,235); padding: 16px; border-radius: 14px; margin-top: 16px; margin-right: 48px;">
                        <p style="margin: 0px 0px 16px 0px; font-size: 32px; font-weight: 700;">Choose a replacement</p>
                        <div class="" style="display: flex; align-items: center; margin-bottom: 24px;">
                            <div class="" style="padding: 6px 24px; border-radius: 10px; margin-right: 16px; background-color:#3f9b3122; cursor: default;"><span style="font-size: 12px; font-weight: 700; color: var(--green);">All</span></div>
                            <div class="" style="padding: 6px 24px; border: 1px solid rgb(232,233,235); border-radius: 10px; margin-right: 16px; cursor: pointer;"><span style="font-size: 12px;">Green Produce</span></div>
                            <div class=""  style="padding: 6px 24px; border: 1px solid rgb(232,233,235); border-radius: 10px; margin-right: 16px; cursor: pointer;"><span style="font-size: 12px;">Meats</span></div>
                            <div class=""  style="padding: 6px 24px; border: 1px solid rgb(232,233,235); border-radius: 10px; margin-right: 16px; cursor: pointer;"><span style="font-size: 12px;">Deals</span></div>
                            <div class=""  style="padding: 6px 24px; border: 1px solid rgb(232,233,235); border-radius: 10px; cursor: pointer;"><span style="font-size: 12px;">Buy it again</span></div>
                        </div>
                        <div class="" style="display: flex; align-items: center;">
                            <div class="" style="border: 1px solid rgb(232,233,235); display: flex; justify-content: center; align-items: center; border-radius: 7px; padding: 4px 8px; width: 100%; background-color: var(--grey);">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="#343538" xmlns="http://www.w3.org/2000/svg" size="24" color="var(-grey2)">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M16.396 14.275a7 7 0 1 0-2.121 2.121l3.664 3.665a1.5 1.5 0 0 0 2.122-2.122l-3.665-3.664ZM10.5 14.5a4 4 0 1 1 0-8 4 4 0 0 1 0 8Z"></path>
                                </svg>
                                <input type="text" style="background-color: transparent; font-size: 16px; padding: 6px 6px 6px  6px; outline: none; border:transparent; width: 100%;" placeholder="Search">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div style=" margin: 8px 32px 32px 32px; position: relative; width: 100%;">
                <div class="" style="position: relative;">
                    <div class="" style=" display: flex; flex-wrap: wrap; align-items: center;">
                        <div class="" style="margin-right: 24px;">
                            <div class="" style="width: 172px; height: 172px; background-color: var(--grey2); position: relative;">
                                <span></span>
                                <div class="" style="position: absolute; top: 8px; right: 8px; background-color: var(--green); padding: 6px 12px; border-radius: 10px; cursor: pointer;">
                                    <span style="color: #fff; font-size: 20px; font-weight: 700; ">+</span>
                                </div>
                            </div>
                            <div class="" style="margin-bottom: 16px;">
                                <p style="font-size: 18px; font-weight: 800; margin: 6px 0px 6px 0px;">J$200.00</p>
                                <p style="margin: 0px; font-size: 14px; font-weight: 500;">White</p>
                                <p style="margin: 0px; font-size: 16px; font-weight: 600;">Cabbage</p>
                                <p style="margin: 0px; font-size: 12px;">per pound (lb.)</p>
                            </div>
                        </div>
                        <div class=""  style="margin-right: 24px;">
                            <div class="" style="width: 172px; height: 172px; background-color: var(--grey2); position: relative;">
                                <span></span>
                                <div class="" style="position: absolute; top: 8px; right: 8px; background-color: var(--green); padding: 6px 12px; border-radius: 10px; cursor: pointer;">
                                    <span style="color: #fff; font-size: 20px; font-weight: 700;  ">+</span>
                                </div>
                            </div>
                            <div class="" style="margin-bottom: 16px;">
                                <p style="font-size: 18px; font-weight: 800; margin: 6px 0px 6px 0px;">J$200.00</p>
                                <p style="margin: 0px; font-size: 14px; font-weight: 500;">White</p>
                                <p style="margin: 0px; font-size: 16px; font-weight: 600;">Cabbage</p>
                                <p style="margin: 0px; font-size: 12px;">per pound (lb.)</p>
                            </div>
                        </div>
                        <div class=""  style="margin-right: 24px;">
                            <div class="" style="width: 172px; height: 172px; background-color: var(--grey2); position: relative;">
                                <span></span>
                                <div class="" style="position: absolute; top: 8px; right: 8px; background-color: var(--green); padding: 6px 12px; border-radius: 10px; cursor: pointer;">
                                    <span style="color: #fff; font-size: 20px; font-weight: 700; ">+</span>
                                </div>
                            </div>
                            <div class="" style="margin-bottom: 16px;">
                                <p style="font-size: 18px; font-weight: 800; margin: 6px 0px 6px 0px;">J$200.00</p>
                                <p style="margin: 0px; font-size: 14px; font-weight: 500;">White</p>
                                <p style="margin: 0px; font-size: 16px; font-weight: 600;">Cabbage</p>
                                <p style="margin: 0px; font-size: 12px;">per pound (lb.)</p>
                            </div>
                        </div>
                        <div class=""  style="margin-right: 24px;">
                            <div class="" style="width: 172px; height: 172px; background-color: var(--grey2); position: relative;">
                                <span></span>
                                <div class="" style="position: absolute; top: 8px; right: 8px; background-color: var(--green); padding: 6px 12px; border-radius: 10px; cursor: pointer;">
                                    <span style="color: #fff; font-size: 20px; font-weight: 700; ">+</span>
                                </div>
                            </div>
                            <div class="" style="margin-bottom: 16px;">
                                <p style="font-size: 18px; font-weight: 800; margin: 6px 0px 6px 0px;">J$200.00</p>
                                <p style="margin: 0px; font-size: 14px; font-weight: 500;">White</p>
                                <p style="margin: 0px; font-size: 16px; font-weight: 600;">Cabbage</p>
                                <p style="margin: 0px; font-size: 12px;">per pound (lb.)</p>
                            </div>
                        </div>
                        <div class=""  style="margin-right: 24px;">
                            <div class="" style="width: 172px; height: 172px; background-color: var(--grey2); position: relative;">
                                <span></span>
                                <div class="" style="position: absolute; top: 8px; right: 8px; background-color: var(--green); padding: 6px 12px; border-radius: 10px;">
                                    <span style="color: #fff; font-size: 20px; font-weight: 700; ">+</span>
                                </div>
                            </div>
                            <div class="" style="margin-bottom: 16px;">
                                <p style="font-size: 18px; font-weight: 800; margin: 6px 0px 6px 0px;">J$200.00</p>
                                <p style="margin: 0px; font-size: 14px; font-weight: 500;">White</p>
                                <p style="margin: 0px; font-size: 16px; font-weight: 600;">Cabbage</p>
                                <p style="margin: 0px; font-size: 12px;">per pound (lb.)</p>
                            </div>
                        </div>
                        <div class=""  style="margin-right: 24px;">
                            <div class="" style="width: 172px; height: 172px; background-color: var(--grey2); position: relative;">
                                <span></span>
                                <div class="" style="position: absolute; top: 8px; right: 8px; background-color: var(--green); padding: 6px 12px; border-radius: 10px;">
                                    <span style="color: #fff; font-size: 20px; font-weight: 700; ">+</span>
                                </div>
                            </div>
                            <div class="" style="margin-bottom: 16px;">
                                <p style="font-size: 18px; font-weight: 800; margin: 6px 0px 6px 0px;">J$200.00</p>
                                <p style="margin: 0px; font-size: 14px; font-weight: 500;">White</p>
                                <p style="margin: 0px; font-size: 16px; font-weight: 600;">Cabbage</p>
                                <p style="margin: 0px; font-size: 12px;">per pound (lb.)</p>
                            </div>
                        </div>
                        <div class=""  style="margin-right: 24px;">
                            <div class="" style="width: 172px; height: 172px; background-color: var(--grey2); position: relative;">
                                <span></span>
                                <div class="" style="position: absolute; top: 8px; right: 8px; background-color: var(--green); padding: 6px 12px; border-radius: 10px;">
                                    <span style="color: #fff; font-size: 20px; font-weight: 700; ">+</span>
                                </div>
                            </div>
                            <div class="" style="margin-bottom: 16px;">
                                <p style="font-size: 18px; font-weight: 800; margin: 6px 0px 6px 0px;">J$200.00</p>
                                <p style="margin: 0px; font-size: 14px; font-weight: 500;">White</p>
                                <p style="margin: 0px; font-size: 16px; font-weight: 600;">Cabbage</p>
                                <p style="margin: 0px; font-size: 12px;">per pound (lb.)</p>
                            </div>
                        </div>
                        <div class=""  style="margin-right: 24px;">
                            <div class="" style="width: 172px; height: 172px; background-color: var(--grey2); position: relative;">
                                <span></span>
                                <div class="" style="position: absolute; top: 8px; right: 8px; background-color: var(--green); padding: 6px 12px; border-radius: 10px;">
                                    <span style="color: #fff; font-size: 20px; font-weight: 700; ">+</span>
                                </div>
                            </div>
                            <div class="" style="margin-bottom: 16px;">
                                <p style="font-size: 18px; font-weight: 800; margin: 6px 0px 6px 0px;">J$200.00</p>
                                <p style="margin: 0px; font-size: 14px; font-weight: 500;">White</p>
                                <p style="margin: 0px; font-size: 16px; font-weight: 600;">Cabbage</p>
                                <p style="margin: 0px; font-size: 12px;">per pound (lb.)</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class=""></div>
        </div>
    </div>
    <div class="unit-modal-container hidden">
        <div class="address-modal-content">
            <form method="post" class="select-address-form">
                {% csrf_token %}
                <div class="form-header">
                    <div class="address_close-btn" style="display: flex; align-items: center;">
                        <svg width="1em" height="1em" viewBox="0 0 24 24" fill="var(--black)" xmlns="http://www.w3.org/2000/svg" size="24">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M19.06 4.94a1.5 1.5 0 0 1 0 2.12L14.122 12l4.94 4.94a1.5 1.5 0 0 1 .103 2.007l-.103.114a1.5 1.5 0 0 1-2.122 0L12 14.12l-4.94 4.94a1.5 1.5 0 0 1-2.12-2.122L9.878 12l-4.94-4.94a1.5 1.5 0 0 1-.103-2.007l.103-.114a1.5 1.5 0 0 1 2.122 0L12 9.88l4.94-4.94a1.5 1.5 0 0 1 2.12 0Z"></path>
                        </svg>
                    </div>
                    <h1 class="" style="margin-left: 32px; margin-bottom: 0px;">Choose a unit</h1>
                    <a style="margin-left: 32px; margin-bottom: 20px; font-size: 14px; color: var(--grey2); font-weight: 600; text-decoration: none;"href="">View pricing policy</a>

                </div>
                <div class="addresses_content">
                    <ul class= "addresses_list">
                        <li class="addresses_list-item" id="{{address.pk}}">
                            <div class="address_details-container" style="position: relative;">
                                <div class="address_select">
                                    <input type="radio" class="address_select-input" name="select" id="address{{address.pk}}" checked>
                                </div>
                                <div class="address_details">
                                <h2 style="font-size: 18px;" id="">lb</h2>
                                <p class="address_city" id="">per pound</p>
                                <p style=" position: absolute; font-weight: 900; right: 0px; top: 10px; font-size: 14px; color: var(--green);" id="">J$50.00</p>
                                </div>
                            </div>  
                        </li>
                        <li class="addresses_list-item" id="{{address.pk}}">
                            <div class="address_details-container" style="position: relative;">
                                <div class="address_select">
                                    <input type="radio" class="address_select-input" name="select" id="address{{address.pk}}">
                                </div>
                                <div class="address_details">
                                <h2 style="font-size: 18px;" id="">kg</h2>
                                <p class="address_city" id="">per kilogram</p>
                                <p style=" position: absolute; font-weight: 900; right: 0px; top: 10px; font-size: 14px; color: var(--green);" id="">J$50.00</p>
                                </div>
                            </div>  
                        </li>
                        <li class="addresses_list-item" id="{{address.pk}}">
                            <div class="address_details-container" style="position: relative;">
                                <div class="address_select">
                                    <input type="radio" class="address_select-input" name="select" id="address{{address.pk}}">
                                </div>
                                <div class="address_details">
                                <h2 style="font-size: 18px;" id="">oz</h2>
                                <p class="address_city" id="">per ounce</p>
                                <p style=" position: absolute; font-weight: 900; right: 0px; top: 10px; font-size: 14px; color: var(--green);" id="">J$50.00</p>
                                </div>
                            </div>  
                        </li>
                    </ul>
            </div>
            </form>
        </div>
    </div>
    <div class="grade-modal-container hidden">
        <div class="address-modal-content">
            <form method="post" class="select-address-form">
                {% csrf_token %}
                <div class="form-header" style="margin-bottom: 15px;">
                    <div class="address_close-btn" style="display: flex; align-items: center;">
                        <svg width="1em" height="1em" viewBox="0 0 24 24" fill="var(--black)" xmlns="http://www.w3.org/2000/svg" size="24">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M19.06 4.94a1.5 1.5 0 0 1 0 2.12L14.122 12l4.94 4.94a1.5 1.5 0 0 1 .103 2.007l-.103.114a1.5 1.5 0 0 1-2.122 0L12 14.12l-4.94 4.94a1.5 1.5 0 0 1-2.12-2.122L9.878 12l-4.94-4.94a1.5 1.5 0 0 1-.103-2.007l.103-.114a1.5 1.5 0 0 1 2.122 0L12 9.88l4.94-4.94a1.5 1.5 0 0 1 2.12 0Z"></path>
                        </svg>
                    </div>
                    <h1 class="" style="margin-left: 32px; margin-bottom: 0px;">Choose a grade</h1>
                    <a style="margin-left: 32px; margin-bottom: 32px; font-size: 14px; color: var(--grey2); font-weight: 600; text-decoration: none;"href="">View grading policy</a>
                </div>
                <div class="grade-list-container"  style=" max-height: 355px; overflow: hidden; overflow-y: auto;">
                    <ul class= "addresses_list">
                        <li class="addresses_list-item" id="{{address.pk}}">
                            <div class="address_details-container" style="position: relative;">
                                <div class="address_select">
                                    <input type="radio" class="address_select-input" name="select" id="address{{address.pk}}" checked>
                                </div>
                                <div class="address_details">
                                <h2 style="font-size: 18px;" id="">A</h2>
                                <p class="address_city" style="width:120px;">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                <p style=" position: absolute; font-weight: 900; right: 0px; top: 10px; font-size: 14px; color: var(--green);" id="">J$50.00<span style=" margin-left: 4px; font-weight: 600; border: 1px solid rgb(232,233,235); color: var(--black); padding: 6px 10px; border-radius: 7px;">/lb</span></p>
                                </div>
                            </div>  
                        </li>
                        <li class="addresses_list-item" id="{{address.pk}}">
                            <div class="address_details-container" style="position: relative;">
                                <div class="address_select">
                                    <input type="radio" class="address_select-input" name="select" id="address{{address.pk}}">
                                </div>
                                <div class="address_details">
                                <h2 style="font-size: 18px;" id="">B</h2>
                                <p class="address_city" style="width:120px;">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                <p style=" position: absolute; font-weight: 900; right: 0px; top: 10px; font-size: 14px; color: var(--green);" id="">J$50.00<span style=" margin-left: 4px; font-weight: 600; border: 1px solid rgb(232,233,235); color: var(--black); padding: 6px 10px; border-radius: 7px;">/lb</span></p>
                                </div>
                            </div>  
                        </li>
                        <li class="addresses_list-item" id="{{address.pk}}">
                            <div class="address_details-container" style="position: relative;">
                                <div class="address_select">
                                    <input type="radio" class="address_select-input" name="select" id="address{{address.pk}}">
                                </div>
                                <div class="address_details">
                                <h2 style="font-size: 18px;" id="">C</h2>
                                <p class="address_city" style="width:120px;">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                <p style=" position: absolute; font-weight: 900; right: 0px; top: 10px; font-size: 14px; color: var(--green);" id="">J$50.00<span style=" margin-left: 4px; font-weight: 600; border: 1px solid rgb(232,233,235); color: var(--black); padding: 6px 10px; border-radius: 7px;">/lb</span></p>
                                </div>
                            </div>  
                        </li>
                        <li class="addresses_list-item" id="{{address.pk}}">
                            <div class="address_details-container" style="position: relative;">
                                <div class="address_select">
                                    <input type="radio" class="address_select-input" name="select" id="address{{address.pk}}">
                                </div>
                                <div class="address_details">
                                <h2 style="font-size: 18px;" id="">D</h2>
                                <p class="address_city" style="width:120px;">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                <p style=" position: absolute; font-weight: 900; right: 0px; top: 10px; font-size: 14px; color: var(--green);" id="">J$50.00<span style=" margin-left: 4px; font-weight: 600; border: 1px solid rgb(232,233,235); color: var(--black); padding: 6px 10px; border-radius: 7px;">/lb</span></p>
                                </div>
                            </div>  
                        </li>
                    </ul>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block user_button %}
<div class="account_auth-container" style="margin-left: 60px;  cursor: pointer; width: fit-content;">
    <div class="" style="position: relative; display: flex; align-items: center; justify-content: center;">
        <div class="account_business-name" style=" display: flex; align-items: center; justify-content: center; ">
        <span style="color: var(--grey2); font-weight: 700; font-size: 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; cursor: pointer;">{{request.user.userbusiness_set.first.business_name}}</span>
        </div>
        <a class="cart_active-indicator" style=" display:block; text-decoration: none;" href="{% url 'green_produce-main'%}">
            <span style="font-size: 11.5px; display: flex; align-items: center; font-weight: 800; color: #fff; margin: 0px; padding: 1px 2px;">
                <?xml version="1.0" encoding="UTF-8"?>
                <svg id="uuid-b18f2d01-7785-47c4-b76d-fb6b19d5703c" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 605.65 838.2" width="10.5px" style="margin-right:8px;">
                        <g>
                        <path d="m197.76,8.73v276.7h-86.87V71.34L190.77,6.01c2.67-2.18,6.99-.5,6.99,2.72Z" style="fill: #fff;"/>
                        <rect x="406.61" y="84.86" width="88.15" height="200.57" style="fill: #fff;"/>
                        <path d="m488.73,78.6c-93.19-.48-186.38-.96-279.58-1.44-2.04-.01-3.68-1.66-3.68-3.7V3.7c0-2.04,1.66-3.7,3.7-3.7h200.9c.93,0,1.82.35,2.51.98l77.52,71.38c2.08,1.92,1.33,5.37-1.37,6.24Z" style="fill: #fff;"/>
                        </g>
                        <path d="m30.75,292.82h544.14c16.97,0,30.75,13.78,30.75,30.75v418.42c0,53.1-43.11,96.21-96.21,96.21H96.21c-53.1,0-96.21-43.11-96.21-96.21v-418.42c0-16.97,13.78-30.75,30.75-30.75Z" style="fill: #fff;"/>
                </svg>
                <span id="cartNumber">{{items.count}}</span>
            </span>
        </a>
          <div class="account_auth_menu-container" style="display: none;">
            <div class="cart_details">
              <a href="{%url 'green_produce-main'%}" style="font-size: 10px; color: #fff; cursor: pointer; text-decoration:none;">View Shopping Bag</a>
              <div class="" style="position: absolute; right: 0; margin-right: 32px; margin-bottom: 4px;">
              <span id="cartNumber"style="font-size: 10px; font-weight: 600; color: #fff; margin: 0px;">10</span>
              </div>
            </div>
            <div class="account_details" style="margin-top: 16px;">
              <p class="user_name" style=" font-size: 14px; margin: 0px;"><span class="first_name">{{user.first_name}}</span> <span class="last_name">{{user.last_name}}</span></p>
              <p class="email_address" style="font-size: 10px; margin: 0px;">{{user.email}}</p>
              <p class="membership" style="font-size: 10px; margin: 0px; font-weight: 600;">Business Member</p>
            </div>
            <div class="account-pages_container" style="margin: 12px 0px;">
              <div class="auth_menu-option" style=" display: flex; align-items: center; border-radius: 4px; margin-bottom: 4px;">
                <a href="{% url 'account-settings' user.id%}" style="font-size: 10px; margin-left: 10px;  width: 100%; text-decoration: none; color: var(--black);  padding: 6px;">Manage your account</a>
              </div>
              <div class=" auth_menu-option" style="display: flex; border-radius: 4px; margin-bottom: 4px; align-items: center;">
                <a style="font-size: 10px; margin-left: 10px;  width: 100%; text-decoration: none; color: var(--black); padding: 6px; cursor: pointer;">Refer & Earn</a>
              </div>
              <div class="auth_menu-option"  style=" display: flex; align-items: center; border-radius: 4px; margin-bottom: 4px;">
                <span style="font-size: 10px; margin-left: 10px;  width: 100%; text-decoration: none; color: var(--black); padding: 6px; cursor: pointer;" >Get help</span>
              </div>
          
              <div class="auth_menu-option"  style=" display: flex; align-items: center; border-radius: 4px; margin-bottom: 4px; ">
                <a {% block birthday-link %} href="{% url 'birthday-club' %}"{% endblock %} style="font-size: 10px; margin-left: 10px;  width: 100%; text-decoration: none; color: var(--black); padding: 6px;">Join <span style="font-weight: 600;">The Birthday Club™</span></a>
              </div>
              <div class="auth_menu-option"  style=" display: flex; align-items: center; border-radius: 4px; margin-bottom: 4px;">
                <a {% block premium-link %} href="{% url 'premium' %}" {% endblock %} style="font-size: 10px; margin-left: 10px;  width: 100%; text-decoration: none; color: var(--black); padding: 6px;">Explore <span style="font-weight: 600;">Premium</span></a>
              </div>
          
              <div class="account-get_help_btn" style="display: flex; align-items: center; position: absolute; bottom: 0; margin-bottom: 16px; background-color: var(--grey2); width: 82.5%;padding: 6px; border-radius: 7px;">
                <a href="{% url 'signout' %}" style="font-size: 10px; margin-left: 10px;  width: 100%; text-decoration: none; color: #fff; font-weight: 600;">Logout</a>
              </div>
            </div>
          </div>
    </div>
  </div>
  <script>
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }

  
    const csrftoken = getCookie('csrftoken');

    const getCartCount = () => {
    const url  = new URL(new URL('shop/update-cart',window.location.origin).toString());    
    return fetch(url,{
    method:'POST',
    headers:{
        "Content-Type":"application/json",
        "X-CSRFToken": csrftoken,
    },
    credentials:"include",
    mode:"same-origin",
    body: JSON.stringify({
        'productID':'',
        'action':'getCartCount'
    })
  }).then(response =>{
    return response.json()
  }).then(responseData => {
    console.log(responseData)
    return responseData
  }).finally(results =>{
    return results
  })
  }
    const account_nav_btn = document.querySelector('.account_business-name')
    let cartCount = 0;
    const itemTotal = getCartCount().then(result => cartCount =result) 
    account_nav_btn.addEventListener('click',(e)=>{
      let cart_indicator = document.querySelector('.cart_active-indicator')
      let menu = document.querySelector('.account_auth_menu-container')
      if(cart_indicator.classList.contains('hidden')){
        if(cartCount > 0 )
        cart_indicator.style.display='flex';
        else{
          cart_indicator.style.display = 'none';
        }
        menu.style.display='none';

        cart_indicator.classList.remove('hidden')
      }
      else{
      cart_indicator.style.display = 'none';
      cart_indicator.classList.toggle('hidden')
      menu.style = 'display:block;';
      }
      document.addEventListener('blur',()=>{
        menu.style.display = 'none';
      })
    })
</script>
  </script>
{% endblock %}

{% block content %}
<div class="content-wrapper">
    <div class="content-container">
        <div class="" style="width: calc(100vw - 24px); overflow-x: hidden;">
            <div class="" style="display: flex; align-items: center; height: 550px; padding: 4px 0px; width: calc(100vw - 8px); margin: 0px;">
                <div class="" style="display: flex; flex-direction: column;">
                    <a href="{{request.META.HTTP_REFERER}}" class=" close-btn" style="margin-left: 36px; display: flex; align-items: center; margin-bottom: 16px; max-width: fit-content; padding: 6px 32px 6px 6px; border: 1px solid rgb(232,233,235); border-radius: 10px; cursor: pointer; text-decoration: none; color: var(--grey2);">
                        <svg width="1em" height="1em" viewBox="0 0 24 24" fill="var(--grey2);" xmlns="http://www.w3.org/2000/svg" color="systemGrayscale00;" style="transform: rotate(180deg);" >
                            <path fill-rule="evenodd" clip-rule="evenodd" d="m13.06 3.94 7 7 .02.02c.022.022.043.045.063.068l-.082-.089a1.513 1.513 0 0 1 .274.377 1.494 1.494 0 0 1-.071 1.493 1.28 1.28 0 0 1-.121.163 1.57 1.57 0 0 1-.062.068l-.02.02-7 7a1.5 1.5 0 0 1-2.122 0l-.103-.113a1.5 1.5 0 0 1 .103-2.008l4.44-4.439H5A1.5 1.5 0 0 1 3.5 12l.007-.145A1.5 1.5 0 0 1 5 10.5h10.379l-4.44-4.44a1.5 1.5 0 0 1 2.122-2.12Z"></path>
                        </svg>
                        <span style="margin-left: 10px; font-size: 12px; font-weight: 600;">Back</span>
                    </a>
                    <div class="product_images" style="display: flex; justify-content: center; height: calc(600px - 128px); padding: 8px 32px;">
                        <div class="" style="display: flex; flex-direction: column; align-items: center; height: 100%; margin-right: 16px; justify-content: flex-end;">
                            <div class="" style=" width: 30px; height: 30px; background-color: var(--grey2); margin-bottom: 16px; cursor: pointer;">
                                <span></span>
                            </div>
                            <div class=""  style=" width: 30px; height: 30px; background-color: var(--grey2); cursor: pointer;">
                                <span></span>
                            </div>
                        </div>
                        <div class="img" style=" background-color: var(--grey2); width: calc(700px - 128px); height:100%;">
                            <span></span>
                        </div>
                    
                    </div>
                </div>
                <div class="" style="position: relative; padding: 32px;">
                    <div class="">
                        <p style="margin: 0px; font-size: 20px; font-weight: 700;">{{product.product.product.name}}</p>
                        <p style="margin: 0px; font-size: 14px;">{{product.product.name}}</p>
                        <div class=""  style="display: flex; flex-direction: column; justify-content: center; border: 1px solid rgb(232,233,235); padding: 16px; border-radius: 14px; margin-top: 36px;">
                            <div class="" style="display: flex;align-items: center;">
                                <p style="font-size: 28px; margin: 6px 0px 0px; font-weight: 800; margin-right: 8px;">{% if product.price.currency == "JMD" %}J{% endif %}${{product.price.value}}</p>
                                <span class="product-unit" style="font-size: 14.5px; padding: 8px 12px; margin: 0px;width: fit-content; border-radius: 10px; cursor: pointer; border: 1px solid rgb(232,233,235); font-weight: 600;">/{{product.unit.unit_abbr}}</span>
                            </div>
                            <div class="">
                            <p style="margin: 20px 0px; font-size: 18px; font-weight: 500; margin-bottom: 8px;">Grade <span class="product-grade" style="padding: 6px 14.5px; margin: 0px; width: fit-content; border-radius: 10px; cursor: pointer; border: 1px solid rgb(232,233,235);">A</span></p>
                            <p style=" font-size:12px; margin-top: 0px; width: 300px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 500; color: var(--grey2);">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem laudantium facilis perferendis? Pariatur expedita, quis iusto itaque veniam distinctio incidunt assumenda quidem excepturi placeat? Tempore, quae. Iste quis autem illum.</p>
                            </div>
                            <p style="font-size: 13px; font-weight: 500; color: var(--grey2);">Total: <span> 
                                <span>
                                    <span>{% if product.price.currency == "JMD" %}J{% endif %}$ <span class="prdt_total">{% if order != None %}{{order.subtotal| floatformat:2 | intcomma}}{% else %} {{product.price.value}}{% endif %}</span></span>
                                </span> 
                                <span>(<span>{% if product.price.currency == "JMD" %}J{% endif %}$ <span class="prdt_price">{{product.price.value}}</span>/<span>{{product.unit.unit_abbr}}</span></span> × <span>
                                <span class="prdt_qty">{% if order != None %}{{ order.quantity| floatformat:2 | intcomma }}{% else %}1.00 {% endif %}</span>
                                <span>{{product.unit.unit_abbr}}</span>)
                            </span>
                            </span> </p>
                            <div class="" style="display: flex; align-items: center;">
                                <div class="update-qty"  style="border: 1px solid rgb(232,233,235); display: flex; justify-content: center; align-items: center; border-radius: 10px; padding: 4px 8px; width: 100%; margin-right: 10px; background-color: var(--grey);">
                                    <input type="number" {% if order != None %} data-order="{{order.id}}"{% endif %} min="1" step="0.05" style="background-color: transparent; font-size: 16px; padding: 6px 6px 6px 16px; outline: none; border:transparent; width: 100%; text-align: center; font-weight: 600;" value="{% if order != None %}{{ order.quantity }}{% else %}1{% endif %}">
                                    <span style="font-weight: 600;">{{product.unit.unit_abbr}}</span>
                                </div>
                                {% if order == None %}
                                <div style="border: 1px solid rgb(232,233,235); display: flex; justify-content: center; padding: 11.5px 32px; border-radius: 10px; cursor: pointer; width: 100%; background-color: var(--green);" data-product="{{product.id}}" data-action="add" class="update-cart">
                                    <span style="font-weight: 600; color: #fff; font-size: 14.5px;">Add to bag</span>
                                </div>
                                {% else %} 
                                <div class="bag-action_btn"  style="border: 1px solid rgb(232,233,235); display: flex; justify-content: center; padding: 11.5px 32px; border-radius: 10px; cursor: pointer; width: 100%; background-color: var(--green); height: 17.5px; display: flex; align-items: center; justify-content: center; position: relative;"
                                    onclick="
                                    var menu = document.querySelector('.bag-action_menu')
                                    
                                    if( menu.classList.contains('hidden')){
                                        document.querySelector('.bag-atn_arr').style.transform = 'rotate(180deg)';
                                    }
                                    else{
                                        document.querySelector('.bag-atn_arr').style.transform = 'rotate(0deg)'
                                    }
                                    menu.classList.toggle('hidden')
                                    "
                                >
                                    <span style="font-weight: 600; color: #fff; font-size: 14.5px;">
                                        In bag
                                        <svg class="bag-atn_arr" style="position: absolute; right:11.5px; top:0px; bottom:0px; margin:auto; " width="24" height="24" viewBox="0 0 24 24" fill="#FFFFFF" xmlns="http://www.w3.org/2000/svg" size="24" color="systemGrayscale00" aria-hidden="true"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.829 15.437a1.5 1.5 0 0 0 2.342 0l4-5C17.957 9.455 17.258 8 16 8H8c-1.258 0-1.957 1.455-1.171 2.437l4 5Z"></path></svg>
                                    </span>
                                    <div class="bag-action_menu hidden" style=" position: absolute; bottom: -126px;  height: fit-content; width: 190px; background-color: white; border: 1px solid rgb(232,233,235); border-radius: 10px; padding: 11px 10.5px; box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 8px; ">
                                        <p style=" padding: 6px; border-radius: 6px; margin: 0px; margin-bottom: 4px; font-size: 12.5px; font-weight: 500; color: var(--black);">Add instructions</p>
                                        <p style="  padding: 6px; border-radius: 6px;  margin: 0px; margin-bottom: 4px; font-size: 12.5px; font-weight: 500; color: var(--black);">Set a budget</p>
                                        <p style="  padding: 6px;  border-radius: 6px;  margin: 0px; font-size: 12.5px; font-weight: 500; color: var(--black);" data-product="{{product.id}}" data-action="remove" class="product_remove-btn">Remove from bag</p>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div style=" margin: 8px 42px 38px 42px; position: relative;">
                    <h1 style="margin: 24px 12px 12px 0px ; font-size: 24px;">Often bought with</h1>
                    <div class="" style="position: relative;">
                        <div class="" style=" display: flex; overflow: hidden; align-items: center;">
                            <!--
                                loop here
                            -->
                            <div class="" style="margin-right: 24px; position: relative;">
                                <a href="" style="position: absolute; width: 100%; height: 100%; z-index: 1;"></a>

                                <div class="" style="width: 172px; height: 172px; background-color: var(--grey2); position: relative;">
                                    <span></span>
                                    <div class="" style="position: absolute; top: 8px; right: 8px; background-color: var(--green); padding: 6px 12px; border-radius: 10px; cursor: pointer; z-index: 2;">
                                        <span style="color: #fff; font-size: 20px; font-weight: 700; ">+</span>
                                    </div>
                                </div>
                                <div class="" style="margin-bottom: 16px;">
                                    <div style="margin-left: 8px;">
                                    <p style="font-size: 16px; font-weight: 900; margin: 6px 0px 6px 0px;">J$200.00</p>
                                    </div>
                                    <p style="margin: 0px; font-size: 14px; font-weight: 500; font-size: 10px;">White</p>
                                    <p style="margin: 0px; font-size: 16px; font-weight: 600; font-size: 14px;">Cabbage</p>
                                    <p style="margin: 0px; font-size: 12px;">per pound (lb.)</p>
                                </div>
                            </div>

                        </div>
                        <div class="" style="position: absolute; background-color: #fff; border-radius: 14px; width: 45px; height: 45px; display: flex; justify-content: center; align-items: center; border: 1px solid rgb(232,233,235); right: -16px; cursor: pointer; top: -36px; bottom: 0px; margin: auto; box-shadow: 5px rgba(0, 0, 0, 0.16);">
                            <svg width="1em" height="1em" viewBox="0 0 24 24" fill="#343538" xmlns="http://www.w3.org/2000/svg" color="systemGrayscale70" class="e-srhrfb"><path fill-rule="evenodd" clip-rule="evenodd" d="m16.879 12-5.94-5.94a1.5 1.5 0 0 1 2.122-2.12l7 7a1.5 1.5 0 0 1 0 2.12l-7 7a1.5 1.5 0 0 1-2.122-2.12L16.88 12Z"></path></svg>
                        </div>
                    </div>
                </div>
                <div style=" margin: 8px 42px 38px 42px; position: relative;">
                    <h1 style="margin: 16px 12px 12px 0px ; font-size: 24px;">Related Items</h1>
                    <div class="" style="position: relative;">
                        <div class="" style=" display: flex; overflow: hidden; align-items: center;">
                            {% for relate in related %}
                            <div class="product_card-container" style="position: relative;">
                                <a href="{% url 'product-details' relate.product.product.id relate.product.id %}" style="display: block; width: 100%; height: 100%; position: absolute;"></a>
                                <div class="product-img">
                                    <span></span>
                                    <div class="product-add">
                                        <button data-product="{{product.id}}" data-action="add" class="product_add-btn update-cart">
                                            <svg width="20" height="20" viewBox="0 0 24 24" fill="#FFFFFF" xmlns="http://www.w3.org/2000/svg" size="24" color="systemGrayscale00"><path fill-rule="evenodd" clip-rule="evenodd" d="M12 3.5A1.5 1.5 0 0 1 13.5 5v5.5H19a1.5 1.5 0 0 1 1.493 1.355L20.5 12a1.5 1.5 0 0 1-1.5 1.5h-5.5V19a1.5 1.5 0 0 1-1.355 1.493L12 20.5a1.5 1.5 0 0 1-1.5-1.5v-5.5H5a1.5 1.5 0 0 1-1.493-1.355L3.5 12A1.5 1.5 0 0 1 5 10.5h5.5V5a1.5 1.5 0 0 1 1.355-1.493L12 3.5Z"></path>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                                <div class="product-details">
                                    <div class="product-title">
                                        <div class="product_price-container">
                                            <div class="product-price">
                                                <p class="dollars" id="product_price-dollars">{% if relate.price.currency == "JMD" %}J{% endif %}${{relate.price.value}}</p>
                                            </div>
                                        </div>  
                                        <p class="product_variety">{{relate.product.name}}</p>
                                        <p class="product_name">{{relate.product.product.name}}</p>
                                        <p class="product_unit">per {{relate.unit.unit}} ({{relate.unit.unit_abbr}}.)</p> 
                                    </div>
                                </div>
                            </div>
                           {% endfor %}
                            <div class="" style="position: absolute; background-color: #fff; border-radius: 14px; width: 45px; height: 45px; display: flex; justify-content: center; align-items: center; border: 1px solid rgb(232,233,235); right: -16px; cursor: pointer; top: -36px; bottom: 0px; margin: auto; box-shadow: 5px rgba(0, 0, 0, 0.16);">
                                <svg width="1em" height="1em" viewBox="0 0 24 24" fill="#343538" xmlns="http://www.w3.org/2000/svg" color="systemGrayscale70" class="e-srhrfb"><path fill-rule="evenodd" clip-rule="evenodd" d="m16.879 12-5.94-5.94a1.5 1.5 0 0 1 2.122-2.12l7 7a1.5 1.5 0 0 1 0 2.12l-7 7a1.5 1.5 0 0 1-2.122-2.12L16.88 12Z"></path></svg>
                            </div>
                        </div>

                    </div>
                </div>
                <div class=""></div>
                {% if order != None %}
                <div style=" margin: 8px 42px 38px 42px; position: relative;">
                    <hr>
                    <h1 style="margin: 8px 12px 12px 0px ; font-size: 24px;">Your preferences</h1>
                    <div class="" style="position: relative; display: flex; ">
                        <div class="" style=" display: flex; flex-direction: column; margin-left: 36px; margin-top: 18px; border-right: 1px solid rgb(232,233,235); padding-right: 60px;">
                            <span>If out of stock...</span>
                            <div class="product-replace-actions" style="display: flex; align-items: center; margin-top: 24px;">
                                <div style="margin-right: 20px; border-radius: 10px;">
                                    <div class="product-refund" style="padding: 8px 96px; font-weight: 500; font-size: 16px;">Refund</div>
                                </div>
                                <div style=" cursor: pointer;border-radius: 10px; background-color: var(--green);">
                                    <div class="product-replacement" style="padding: 8px 96px; font-weight: 500; font-size: 16px; color: #fff;">Replace</div>
                                </div>
                            </div>
                        </div>
                        <div class="" style="background-color: #fff; margin-left: 60px; width: 100%; ">
                            <p style="font-weight: 600;">Add a note</p>
                            <textarea name="" id="" style=" background-color: var(--grey); color: var(--grey2); width: calc(100% - 32px); border: 1px solid rgb(232,233,235); height: 150px; border-radius: 14px; padding: 16px; outline: var(--green); appearance: none; font-size: 14.5px; resize: none;" placeholder="I would like..."></textarea>
                        </div>
                    </div>
                </div>
                {% endif %}
        </div>
    </div>
</div>
<style>
    .content-wrapper{
        margin: 0px;
        width: calc(100vw);
    }
    .content-container{
        max-width: 100vw;
        padding: 0px;
    }
    .grade-list-container:hover::-webkit-scrollbar{
    display: block;
    }

    .grade-list-container::-webkit-scrollbar{
        width: 14px;
        display: none;
    }
    .grade-list-container::-webkit-scrollbar-thumb{
        background: rgb(218,220,224);
        background-clip: padding-box;
        border: 4px solid transparent;
        border-radius: 8px;
        box-shadow: none;
        min-height: 50px;
    }
    .grade-list-container::-webkit-scrollbar-track{
        background: none;
        border: none;
    }
</style>
<script>
    const renderUnitModal = () => {
        document.body.classList.toggle('fixed')
        document.querySelector('.modal').classList.toggle('hidden')
        const create_statement = document.querySelector('.unit-modal-container')
        create_statement.classList.toggle('hidden')
        document.querySelector('div.modal .unit-modal-container .address_close-btn').addEventListener('click',renderUnitModal)
    }
    const unit = document.querySelector('.product-unit');
    unit.addEventListener('click',renderUnitModal)

    const renderGradeModal = () => {
        document.body.classList.toggle('fixed')
        document.querySelector('.modal').classList.toggle('hidden')
        const create_statement = document.querySelector('.grade-modal-container')
        create_statement.classList.toggle('hidden')
        document.querySelector('div.modal .grade-modal-container .address_close-btn').addEventListener('click',renderGradeModal)
    }
    const grade = document.querySelector('.product-grade');
    grade.addEventListener('click',renderGradeModal);

</script>
{% endblock %}

{% block scripts %}
    <script type="module" src="{% static 'js/productDetails/main.js'%}"></script>
{% endblock %}