
{% extends 'shop/main.html' %}

{% block page_active_orders %} 
style="
font-weight:700;
background-color:var(--grey);
border-radius:10px;
color: var(--grey2);
"{% endblock %}
{% block title %} Orders — GR8 #wholesale{% endblock %}

{% block page_active_shop %} 
style="
color:var(--grey2);
"
{% endblock %}

{% block user_shipping-address %}
{% endblock %}

{% block pages_content %}
<ul>
    <div class="page_container">
        <div class="pages_active-indicator"><span></span></div>
        <a class="product-page is_active" href="{% url 'orderpage'%}">Orders</a>
    </div>
    <div class="page_container">
        <div class=""><span></span></div>
        <a class="product-page" href="{% url 'orders-activity'%}">Activity</a>
    </div>
    <div class="page_container">
        <div class=""><span></span></div>
        <a class="product-page" href="{% url 'recurring-orders'%}">Recurring Orders</a>
    </div>
    <div class="page_container">
        <div class=""><span></span></div>
        <a class="product-page" href="{% url 'pending-orders'%}">Pending Deliveries</a>
    </div>
    {% if request.user.is_staff %}
    <div class="page_container">
        <div class=""><span></span></div>
        <a class="product-page" href="{% url 'delivery-map'%}">Delivery Map</a>
    </div>
    {% endif %}
    <hr>
    <div class="page_container">
        <div class=""><span></span></div>
        <a class="product-page" >Get help</a>
    </div>
</ul>
{% endblock %}
{% block shop_content %}
<div class="content_center-wrapper">
    <div class="content_center-container">
        <h1 style="font-size: 36px; margin: 0px;">Orders</h1>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium quis at dolorem.</span>
        
        <div class="top-banner" style="border: 1px solid rgb(232,233,235); margin-right: 32px; height: 100px; border-radius: 14px;">
            <span></span>
        </div>
        <div class="top-banner" style="border: 1px solid rgb(232,233,235); margin-right: 32px; height: 100px; border-radius: 14px;">
            <span style="font-size: 18px; font-weight: 600;">Product Categories</span>
            <div class="">
                
            </div>
    </div>
        <div class="top-banner" style="border: 1px solid rgb(232,233,235); margin-right: 32px; height: 100px; border-radius: 14px;">
                <span style="font-size: 18px; font-weight: 600;">New Arrivals</span>
                <div class="">
                    
                </div>
        </div>
    </div>
</div>
<style>
    .sidenav_left-wrapper{
        width: calc(30vw);
    }
    .content_center-wrapper{
        margin: 0px;
        width: calc(100vw);
    }
    .content_center-container{
        margin-top: 60px;
        width: 100%;
        height: 100%;
    }
</style>
{% endblock %}
{% block cart_indicator %}
<div class="account_auth-container" style="position: absolute; right: 0; margin-right: 60px; display: flex; align-items: center; justify-content: center; cursor: pointer; width: fit-content;">
    <a class="cart_active-indicator" style=" display:block; text-decoration: none;" href="{% url 'green_produce-main'%}">
      <span style="font-size: 10px; font-weight: 700; color: #fff; margin: 0px;">10</span>
    </a>
</div>
{% endblock %}
{% block shop_scripts %}
{% endblock %}