
{% extends 'shop/main.html' %}
{% load static %}
{% block page_active_orders %} 
style="
font-weight:700;
background-color:var(--grey);
border-radius:10px;
color: var(--grey2);
"{% endblock %}
{% block title %} Orders — GR8 #wholesale{% endblock %}

{% block page_active_shop %} 
style="
color:var(--grey2);
"
{% endblock %}

{% block modal %}
<div class="backdrop hidden" style=" position: fixed; height: 100vh; width: 100vw; background-color: rgba(0, 0, 0, 0.16); z-index: 203;"></div>
{% endblock %}
{% block user_shipping-address %}
{% endblock %}

{% block pages_content %}
<ul>
    <div class="page_container">
        <div class="pages_active-indicator"><span></span></div>
        <a class="product-page is_active" href="{% url 'orderpage'%}">Orders</a>
    </div>
    <div class="page_container">
        <div class=""><span></span></div>
        <a class="product-page" href="{% url 'orders-activity'%}">Activity</a>
    </div>
    <div class="page_container">
        <div class=""><span></span></div>
        <a class="product-page" href="{% url 'recurring-orders'%}">Recurring Orders</a>
    </div>
    <div class="page_container">
        <div class=""><span></span></div>
        <a class="product-page" href="{% url 'pending-orders'%}">Pending Deliveries</a>
    </div>
    {% if request.user.is_staff %}
    <div class="page_container">
        <div class=""><span></span></div>
        <a class="product-page" href="{% url 'delivery-map'%}">Delivery Map</a>
    </div>
    {% endif %}
    <hr>
    <div class="page_container">
        <div class=""><span></span></div>
        <a class="product-page" >Get help</a>
        </div>
        <div class="page_container">
            <div class=""><span></span></div>
            <a href="{% url 'birthday-club'%}" class="product-page" >Join <span style="font-weight: 600;">The Birthday Club™</span></a>
        </div>
        <div class="page_container">
            <div class=""><span></span></div>
            <a href="{% url 'premium'%}" class="product-page" >Get <span style="font-weight: 600;">Premium</span></a>
        </div>
        <div class="page_container">
            <div class=""><span></span></div>
            <a href="{% url 'store-credit'%}" class="product-page" >Build your <span style="font-weight: 600;">store credit</span></a>
        </div>
</ul>
{% endblock %}
{% block shop_content %}
<div class="content_center-wrapper">
    <div class="content_center-container">
        <h1 style="font-size: 36px; margin: 0px;">Orders</h1>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium quis at dolorem.</span>
        <div class="create-order_btn"  style="width: 130px; position: absolute; right: 16px; cursor: pointer;">
            <div onclick="
                var button = document.querySelector('.create-order_btn')
                var menu = document.querySelector('.create-order_menu')
                menu.classList.toggle('hidden')
                var bd = document.querySelector('.backdrop')
                bd.classList.toggle('hidden')
                if(!menu.classList.contains('hidden')){button.style.zIndex = '204'}
                else {button.style.zIndex = '100'}
                menu.style.zIndex = '204'
                document.body.classList.toggle('fixed')
            " class="" style="background-color: var(--green);  width:fit-content; padding: 10px 16px; border-radius: 7px; display: flex; align-items: center;">
                <span style="font-weight: 500; font-size: 12.5px; color: #fff; margin-right: 20px;">Create ...</span>
            </div>
            <div class="create-order_menu hidden" style=" left:-176px; position: relative; bottom: -10px; background-color: #fff; width: 280px; height: max-content;  z-index: 102; border-radius: 8px; box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;">
                <ul style=" list-style-type: none; padding: 0px; padding: 8px; margin: 0px; font-size: 13.5px; font-weight: 600; color: var(--black);">
                    <li style="margin-bottom:6px; padding: 8px; border-radius: 7px; position: relative;" >recurring order
                        <a style="display: block; position: absolute; width: 100%; height: 100%; top: 0px; left: 0px;" href="{% url 'recurring-orders-add'%}"></a>
                    </li>
                    <li style="margin-bottom:6px; padding: 8px; border-radius: 7px;">statement of activity</li>
                    <li style="margin-bottom:6px; padding: 8px;  border-radius: 7px;">statement of credit</li>
                    <li style="margin-bottom:6px; padding: 8px; border-radius: 7px;">statement of outstanding balances</li>
                    <li style="padding: 8px; border-radius: 7px;">statement of order history</li>
                </ul>
            </div>
        </div>
        <div class="top-banner" style=" margin-right: 32px; border-radius: 14px; margin-top: 72px;">
            <p style="font-size: 18px; font-weight: 600;">On the way</p>
            <div class="">
                <div class="" style="position: relative;">
                    <div class="" style=" display: flex; overflow: hidden; align-items: center;">
                        <div class="" style=" display: flex; margin-right: 24px; position: relative; border: 1px solid rgb(232,233,235); border-radius: 10px;">
                            <a href="{% url 'orders-activity-details' %}" style="position: absolute; width: 100%; height: 100%; z-index: 1;"></a>
                            <div class="" style="width: 650px; height: 350px; margin: 0px;">
                                <div class="" style="background-color: var(--grey); height:100%; border-radius: 10px 0px 0px 10px; margin: 0px; position: absolute; top:0px; width: 650px; ">
                                    <span></span>
                                    <div style="position: relative; padding: 10px; ">
                                        <p style="font-size: 18px; font-weight: 700; margin-left: 6px;">Fernette Williams</p>
                                    </div>
                                    <div style="position: relative; display: flex; justify-content: center; align-items: center; border-bottom: 1px solid rgb(232,233,235); border-top: 1px solid rgb(232,233,235); z-index: 2; padding: 4px;">
                                        <div class=" add_options-btn" style=" padding: 6px 28px; width: 100%; border-radius: 10px; position: relative; display: flex; align-items: center; cursor: pointer;">
                                            <span style="font-weight: 600; font-size: 14px; color: var(--green); ">Message</span>
                                            <svg id="Layer_2" data-name="Layer 2"  width="16" height="16 " fill="var(--green)" xmlns="http://www.w3.org/2000/svg" class="hidden" viewBox="0 0 635.79 638.32" style="position: absolute; right:0; margin-right:12px;">
                                            <g id="Layer_1-2" data-name="Layer 1">
                                                <g>
                                                <path d="m616.31,206.96C565.22,71.21,434.5-11.62,289.95,1.33c-82.71,7.41-152.22,42.96-207.2,104.99C-7.54,208.18-22.86,350.31,42.05,470.01c1.48,2.73,1.88,6.86,1.07,9.88-8.98,33.82-18.29,67.56-27.51,101.32-5.12,18.73-10.24,37.46-15.61,57.1,2.98-.63,5.09-.99,7.16-1.53,51.2-13.42,102.42-26.78,153.57-40.4,5.14-1.37,9.18-.67,13.8,1.73,37.23,19.36,76.86,30.92,118.66,34,84.46,6.21,159.89-17.37,225.98-70.44,104.02-83.52,144.11-229.97,97.15-354.72Zm-233.31,364.77c-70.41,17.35-137.23,7.05-199.73-29.89-5.6-3.31-10.49-4.03-16.74-2.32-28.62,7.82-57.36,15.19-86.06,22.7-1.2.31-2.42.54-4.49.99,5.67-20.83,11.11-40.83,16.56-60.84,2.68-9.83,5.15-19.72,8.17-29.44,1.44-4.63.92-8.2-1.77-12.31-22.45-34.31-36.67-71.85-41.04-112.6-8.59-80.05,13.86-150.56,68.22-210.07,41.03-44.91,92.25-72.33,152.35-81.53,149.52-22.9,276.83,80.73,299.86,214.79,23.29,135.59-61.82,267.63-195.34,300.52Z"/>
                                                <path d="m216.41,170.6c14.02-3.61,20.62,5.02,25.44,17.62,6.95,18.19,14.59,36.13,22.38,53.98,3,6.88,2.6,12.81-1.83,18.65-6.29,8.3-12.39,16.76-18.95,24.84-4.09,5.04-4.32,9.65-1.06,15.16,25.81,43.71,62.01,75.26,109.24,94.08,6.48,2.58,11.57,1.25,15.88-4.15,7.88-9.88,16.13-19.47,23.69-29.58,4.45-5.96,9.66-7.86,16.12-4.84,22.45,10.5,44.84,21.12,67.02,32.17,2.5,1.25,4.88,5.49,4.96,8.42.68,23.83-6.58,43.58-28.03,57.12-25.71,16.24-52.52,17.72-80.99,9.77-76.27-21.31-132.45-69.28-177.39-132.52-13.96-19.65-26.54-39.9-31.87-63.73-7.67-34.29.79-64,26.02-88.76,7.99-7.84,17.65-9.59,29.35-8.23Z"/>
                                                </g>
                                            </g>
                                            </svg>
                                            <a style="position: absolute; top:0px; left: 0px; width: 100%; height: 100%;" href=""></a>
                                        </div>
                                    </div>
                                    <div style="position: absolute; display: flex; align-items: center; z-index: 2; bottom: 16px; width: 95%; left: 0; right:0; margin: auto;">
                                        <div class="" style="border: 1px solid rgb(232,233,235); margin-right: 12px; padding: 6px 28px; background-color: var(--grey);border-radius: 10px; cursor: pointer;">
                                            <span style="font-weight: 600; font-size: 14px; color: var(--grey2); ">Postpone</span>
                                        </div>
                                        <div class=" add_options-btn" style="border: 1px solid var(--green); padding: 6px 28px; width: 100%; border-radius: 10px; background-color: var(--green); position: relative; display: flex; align-items: center; cursor: pointer;">
                                            <span style="font-weight: 600; font-size: 14px; color: white; ">More options</span>
                                            <svg width="12" height="12" viewBox="0 0 24 24" fill="white" xmlns="http://www.w3.org/2000/svg" size="20" color="systemGrayscale70" class="css-1qx34im" style="position: absolute; right:0; margin-right:12px;"><path fill-rule="evenodd" clip-rule="evenodd" d="M3 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm9 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm12-3a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path></svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="" style=" display: flex; flex-direction: column; position: relative; width: 300px;">
                                <div style="padding: 16px;">
                                <p style="margin: 0px; font-size: 14px; font-weight: 500; font-size: 10px;">05-23-2023</p>
                                <p style="font-size: 20px; font-weight: 900; margin: 6px 0px 20px 0px;">#GR8W0001</p>
                                <p style="margin: 20px 0px 0px 0px; font-size: 16px; font-size: 14px;"><span style="background-color: var(--grey); padding: 6px 14px; border-radius: 7px; font-weight: 600;">4</span> items</p>
                                 </div>

                                <div class="order_delivery-container" style="display: flex; flex-direction: column; z-index: 2; position: relative; max-height: 180px; overflow: auto; border-top: 1px solid rgb(232,233,235); border-bottom: 1px solid rgb(232,233,235);">
                                    <div style="  display: flex; align-items: center; padding: 12px 0px; position: relative;">
                                        <a href="{% url 'orders-activity-details' %}" style="position: absolute; width: 100%; height: 100%; z-index: 1;"></a>
                                        <div class="img" style="border-radius: 10px; background-color: var(--grey); height: 40px; width: 45px; margin: 0px 12px; display: flex; align-items: center; justify-content: center;">
                                            <span style="font-size: 14px; font-weight: 600;">15</span>
                                        </div>
                                        <div class="">
                                            <span style="font-size: 12px; font-weight: 600;">Pak Choy</span>
                                            <p style=" margin: 1px 0px ; font-size: 10.5px; font-weight: 600;">White-stemmed</p>
                                            <p style=" margin: 1px 0px ; font-size: 9.5px; font-weight: 600;">per pound (lb.)</p>
                                        </div>
                                        <div class="" style=" font-size: 10px; font-weight: 600; color: var(--green); position: absolute; right: 48px;">
                                            Fufilled
                                        </div>
                                    </div>
                                    <div style="border-top: 1px solid rgb(232,233,235);  display: flex; align-items: center; padding: 12px 0px; position: relative;">
                                        <a href="{% url 'orders-activity-details' %}" style="position: absolute; width: 100%; height: 100%; z-index: 1;"></a>
                                        <div class="img" style="border-radius: 10px; background-color: var(--grey); height: 40px; width: 45px; margin: 0px 12px; display: flex; align-items: center; justify-content: center;">
                                            <span style="font-size: 14px; font-weight: 600;">15</span>
                                        </div>
                                        <div class="">
                                            <span style="font-size: 12px; font-weight: 600;">Pak Choy</span>
                                            <p style=" margin: 1px 0px ; font-size: 10.5px; font-weight: 600;">White-stemmed</p>
                                            <p style=" margin: 1px 0px ; font-size: 9.5px; font-weight: 600;">per pound (lb.)</p>
                                        </div>
                                        <div class="" style=" font-size: 10px; font-weight: 600; color: var(--green); position: absolute; right: 48px;">
                                            Fufilled
                                        </div>
                                    </div>
                                    <div style="border-top: 1px solid rgb(232,233,235);  display: flex; align-items: center; padding: 12px 0px; position: relative;">
                                        <a href="{% url 'orders-activity-details' %}" style="position: absolute; width: 100%; height: 100%; z-index: 1;"></a>
                                        <div class="img" style="border-radius: 10px; background-color: var(--grey); height: 40px; width: 45px; margin: 0px 12px; display: flex; align-items: center; justify-content: center;">
                                            <span style="font-size: 14px; font-weight: 600;">15</span>
                                        </div>
                                        <div class="">
                                            <span style="font-size: 12px; font-weight: 600;">Pak Choy</span>
                                            <p style=" margin: 1px 0px ; font-size: 10.5px; font-weight: 600;">White-stemmed</p>
                                            <p style=" margin: 1px 0px ; font-size: 9.5px; font-weight: 600;">per pound (lb.)</p>
                                        </div>
                                        <div class="" style=" font-size: 10px; font-weight: 600; color: var(--green); position: absolute; right: 48px;">
                                            Fufilled
                                        </div>
                                    </div>
                                    <div style="border-top: 1px solid rgb(232,233,235);  display: flex; align-items: center; padding: 12px 0px; position: relative;">
                                        <a href="{% url 'orders-activity-details' %}" style="position: absolute; width: 100%; height: 100%; z-index: 1;"></a>
                                        <div class="img" style="border-radius: 10px; background-color: var(--grey); height: 40px; width: 45px; margin: 0px 12px; display: flex; align-items: center; justify-content: center;">
                                            <span style="font-size: 14px; font-weight: 600;">15</span>
                                        </div>
                                        <div class="">
                                            <span style="font-size: 12px; font-weight: 600;">Pak Choy</span>
                                            <p style=" margin: 1px 0px ; font-size: 10.5px; font-weight: 600;">White-stemmed</p>
                                            <p style=" margin: 1px 0px ; font-size: 9.5px; font-weight: 600;">per pound (lb.)</p>
                                        </div>
                                        <div class="" style="  font-size: 10px; font-weight: 600; color: var(--green); position: absolute; right: 48px;">
                                            Fufilled
                                        </div>
                                    </div>
                                </div>
                                <div class="order_delivery_status-container" style="display: flex; flex-direction: row; align-items: center; margin-top: 8px; margin-bottom: 6px; position: absolute; bottom: 6px; left: 16px; overflow-x: auto; width: 265px; z-index: 2;">
                                    <span style="padding: 6px 16px; background-color: var(--grey); font-size: 12px; border-radius: 7px;">Paid</span>
                                    <span style="padding: 6px 16px; background-color: var(--grey); font-size: 12px; border-radius: 7px; margin-left: 10px;">Pending</span>
                                    <span style="padding: 6px 16px; background-color: var(--grey); font-size: 12px; border-radius: 7px; margin-left: 10px;">Pending</span>
                                    <span style="padding: 6px 16px; background-color: var(--grey); font-size: 12px; border-radius: 7px; margin-left: 10px;">Pending</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" hidden" style=" position: absolute; background-color: #fff; border-radius: 14px; width: 45px; height: 45px; display: flex; justify-content: center; align-items: center; border: 1px solid rgb(232,233,235); right: -16px; cursor: pointer; top: -36px; bottom: 0px; margin: auto; box-shadow: 5px rgba(0, 0, 0, 0.16); z-index: 3;">
                        <svg width="1em" height="1em" viewBox="0 0 24 24" fill="#343538" xmlns="http://www.w3.org/2000/svg" color="systemGrayscale70" class="e-srhrfb"><path fill-rule="evenodd" clip-rule="evenodd" d="m16.879 12-5.94-5.94a1.5 1.5 0 0 1 2.122-2.12l7 7a1.5 1.5 0 0 1 0 2.12l-7 7a1.5 1.5 0 0 1-2.122-2.12L16.88 12Z"></path></svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="top-banner" style=" margin-right: 32px; border-radius: 14px; margin-top: 72px;">
            <p style="font-size: 18px; font-weight: 600; margin-bottom: 4px;">At a  glance</p>
            <p style="margin-top: 0px;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore minima ratione culpa?</p>
            <div class="" style="position: relative; display: flex; width: 950px;" >
                <div class="" style="width: 100%; margin-right: 30px; position: relative;">
                    <p style="font-size: 13.5px; font-weight: 700;">Recent</p>
                    <div class="" style=" display: flex; flex-direction: column; justify-content: center;">
                        <div class="" style="position: relative; border-top: 1px solid rgb(232,233,235);">
                            <p style="font-size: 13.5px; font-weight: 500;">#GR8W0001</p>
                            <p style="position: absolute; color: var(--green); font-weight:600; right: 0px; top: 0px; font-size: 14px;">Fulfilled</p>
                        </div>
                        <div class="" style="position: relative; border-top: 1px solid rgb(232,233,235);">
                            <p style="font-size: 13.5px; font-weight: 500;">#GR8W0001</p>
                            <p style="position: absolute; color: var(--green); font-weight:600; right: 0px; top: 0px; font-size: 14px;">Fulfilled</p>
                        </div>
                        <div class="" style="position: relative; border-top: 1px solid rgb(232,233,235);">
                            <p style="font-size: 13.5px; font-weight: 500;">#GR8W0001</p>
                            <p style="position: absolute; color: var(--green); font-weight:600; right: 0px; top: 0px; font-size: 14px;">Fulfilled</p>
                        </div>
                        <div class="" style="position: relative; border-top: 1px solid rgb(232,233,235);">
                            <p style="font-size: 13.5px; font-weight: 500;">#GR8W0001</p>
                            <p style="position: absolute; color: var(--green); font-weight:600; right: 0px; top: 0px; font-size: 14px;">Fulfilled</p>
                        </div>
                        <div class="" style="position: relative; border-top: 1px solid rgb(232,233,235);">
                            <a href="{% url 'orders-activity' %}" style="position: absolute; width: 100%; height: 100%;"></a>
                            <p style="color: var(--green); font-weight:600; font-size: 14px;">View all</p>
                        </div>
                    </div>
                </div>
                <div class="" style="width: 100%;;">
                    <p style="font-size: 13.5px; font-weight: 700;">On the way</p>
                    <div class="" style=" display: flex; flex-direction: column; justify-content: center;">
                        <div class="" style="position:relative;">
                            <div class="" style="position: relative; border-top: 1px solid rgb(232,233,235);">
                                <p style="font-size: 13.5px; font-weight: 500;">#GR8W0001</p>
                            </div>
                            <div class="" style="position: relative; border-top: 1px solid rgb(232,233,235);">
                                <p style="font-size: 13.5px; font-weight: 500;">#GR8W0001</p>
                            </div>
                            <div class="" style="position: relative; border-top: 1px solid rgb(232,233,235);">
                                <p style="font-size: 13.5px; font-weight: 500;">#GR8W0001</p>
                            </div>
                            <div class="" style="position: relative; border-top: 1px solid rgb(232,233,235);">
                                <p style="font-size: 13.5px; font-weight: 500;">#GR8W0001</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
        <div class="top-banner" style=" margin-right: 32px; border-radius: 14px; margin-top: 72px; position: relative;">
            <p style="font-size: 18px; font-weight: 600;">Order History</p>
            <p style="width: 550px;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo officiis assumenda nobis dolore minus est laborum!</p>
            <div class="" style=" position: absolute; right: 0px; top:0px; padding: 10px 16px; border-radius: 7px; background-color: var(--green); font-size: 12.5px; font-weight: 500; color: #fff; width: fit-content;">View report</div>
            <div class="">
                <div class="" style="position: relative;">
                    <div class="" style=" display: flex; overflow: hidden; align-items: center;">
                        <div class="" style=" display: flex; margin-right: 24px; position: relative; border: 1px solid rgb(232,233,235); border-radius: 10px;">
                            <div class="" style="width: 650px; height: 350px;">
                                <div class="" style="background-color: var(--grey2); height:100%; border-radius: 10px 0px 0px 10px;">
                                <span></span>
                                </div>
                            </div>
                            <div class="" style=" display: flex; flex-direction: column; position: relative; width: 300px;">
                                <div style="padding: 16px;">
                                <span style=" border: 1px solid rgb(232,233,235); padding:6px 10px; margin: 0px; font-size: 12.5px; font-weight: 500; border-radius: 10px; color: var(--green);">Last 12 months</span>
                                <span style="border: 1px solid rgb(232,233,235); padding:6px 10px; margin: 0px; font-size: 12.5px; font-weight: 500; border-radius: 10px;">Last 24 months</span>
                                <div class="" style="display: flex; align-items: center; margin-top: 25px; flex-wrap: wrap;">
                                    <div class="" style="display: flex; align-items: center; margin-right: 30px; margin-left: 6px;">
                                        <span style="background-color: var(--green); height: 10px; width: 10px; border-radius: 3.5px; margin-right: 6px;"></span>
                                        <span style="font-size: 12px; font-weight: 500;">Order Total</span>
                                    </div>
                                    <div class="" style="display: flex; align-items: center;">
                                        <span style="background-color: var(--grey2); height: 10px; width: 10px; border-radius: 3.5px; margin-right: 6px;"></span>
                                        <span style="font-size: 12px; font-weight: 500;">Store Credit Used</span>
                                    </div>
                                </div>
                                <p style="margin: 30px 0px 0px 0px; font-size: 16px; font-size: 14px;"><span style="background-color: var(--grey); padding: 6px 14px; border-radius: 7px; font-weight: 600;">4</span> orders</p>
                                 </div>

                                <div class="order_delivery-container" style="display: flex; flex-direction: column; z-index: 2; position: relative; max-height: 200px; overflow: auto; border-top: 1px solid rgb(232,233,235);">
                                    <div style="  display: flex; align-items: center; padding: 12px 0px; position: relative;">
                                        <a href="{% url 'orders-activity-details' %}" style="position: absolute; width: 100%; height: 100%; z-index: 1;"></a>

                                        <div class="" style="margin-left: 20px;">
                                            <span style="font-size: 12px; font-weight: 700;">#GR8W0001</span>
                                            <p style=" margin: 1px 0px ; font-size: 9.5px; font-weight: 600;">05-23-2023</p>
                                        </div>
                                        <div class="" style=" font-size: 10px; font-weight: 600; color: var(--green); position: absolute; right: 48px;">
                                            Fufilled
                                        </div>
                                    </div>
                                    <div style="  display: flex; align-items: center; padding: 12px 0px; position: relative;">
                                        <a href="{% url 'orders-activity-details' %}" style="position: absolute; width: 100%; height: 100%; z-index: 1;"></a>

                                        <div class="" style="margin-left: 20px;">
                                            <span style="font-size: 12px; font-weight: 700;">#GR8W0001</span>
                                            <p style=" margin: 1px 0px ; font-size: 9.5px; font-weight: 600;">05-23-2023</p>
                                        </div>
                                        <div class="" style=" font-size: 10px; font-weight: 600; color: var(--green); position: absolute; right: 48px;">
                                            Fufilled
                                        </div>
                                    </div>
                                    <div style="  display: flex; align-items: center; padding: 12px 0px; position: relative;">
                                        <a href="{% url 'orders-activity-details' %}" style="position: absolute; width: 100%; height: 100%; z-index: 1;"></a>

                                        <div class="" style="margin-left: 20px;">
                                            <span style="font-size: 12px; font-weight: 700;">#GR8W0001</span>
                                            <p style=" margin: 1px 0px ; font-size: 9.5px; font-weight: 600;">05-23-2023</p>
                                        </div>
                                        <div class="" style=" font-size: 10px; font-weight: 600; color: var(--green); position: absolute; right: 48px;">
                                            Fufilled
                                        </div>
                                    </div>
                                    <div style="  display: flex; align-items: center; padding: 12px 0px; position: relative;">
                                        <a href="{% url 'orders-activity-details' %}" style="position: absolute; width: 100%; height: 100%; z-index: 1;"></a>

                                        <div class="" style="margin-left: 20px;">
                                            <span style="font-size: 12px; font-weight: 700;">#GR8W0001</span>
                                            <p style=" margin: 1px 0px ; font-size: 9.5px; font-weight: 600;">05-23-2023</p>
                                        </div>
                                        <div class="" style=" font-size: 10px; font-weight: 600; color: var(--green); position: absolute; right: 48px;">
                                            Fufilled
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="top-banner" style=" margin-right: 32px; border-radius: 14px; margin-top: 72px; position: relative; padding-bottom: 72px;">
            <p style="font-size: 18px; font-weight: 600;">Store Credit</p>
            <p style="width: 550px;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo officiis assumenda nobis dolore minus est laborum!</p>
            <div class="" style=" position: absolute; right: 0px; top:0px; padding: 10px 16px; border-radius: 7px; background-color: var(--green); font-size: 12.5px; font-weight: 500; color: #fff; width: fit-content;">View report</div>
            <div class="">
                <div class="" style="position: relative;">
                    <div class="" style=" display: flex; overflow: hidden; align-items: center;">
                        <div class="" style=" display: flex; margin-right: 24px; position: relative; border: 1px solid rgb(232,233,235); border-radius: 10px;">
                            <div class="" style="width: 650px; height: 350px;">
                                <div class="" style="background-color: var(--grey2); height:363px; border-radius: 10px 0px 0px 10px;">
                                <span></span>
                                </div>
                            </div>
                            <div class="" style=" display: flex; flex-direction: column; position: relative; width: 300px;">
                                <div style="padding: 16px;">
                                <span style=" border: 1px solid rgb(232,233,235); padding:6px 10px; margin: 0px; font-size: 12.5px; font-weight: 500; border-radius: 10px; color: var(--green);">Last 12 months</span>
                                <span style="border: 1px solid rgb(232,233,235); padding:6px 10px; margin: 0px; font-size: 12.5px; font-weight: 500; border-radius: 10px;">Last 24 months</span>
                                <div class="" style="display: flex; align-items: center; margin-top: 25px; flex-wrap: wrap;">
                                    <div class="" style="display: flex; align-items: center; margin-right: 30px; margin-left: 6px;">
                                        <span style="background-color: var(--green); height: 10px; width: 10px; border-radius: 3.5px; margin-right: 6px;"></span>
                                        <span style="font-size: 12px; font-weight: 500;">Credit Used</span>
                                    </div>
                                    <div class="" style="display: flex; align-items: center;">
                                        <span style="background-color: var(--grey2); height: 10px; width: 10px; border-radius: 3.5px; margin-right: 6px;"></span>
                                        <span style="font-size: 12px; font-weight: 500;">Credit Available</span>
                                    </div>
                                    <div class="" style="display: flex; align-items: center;  margin-left: 6px; margin-top: 6px;">
                                        <span style="background-color: var(--grey2); height: 10px; width: 10px; border-radius: 3.5px; margin-right: 6px;"></span>
                                        <span style="font-size: 12px; font-weight: 500;">Outstanding Balance</span>
                                    </div>
                                </div>
                                <p style="margin: 30px 0px 0px 0px; font-size: 16px; font-size: 14px;"><span style="background-color: var(--grey); padding: 6px 14px; border-radius: 7px; font-weight: 600;">4</span> orders</p>
                                 </div>

                                <div class="order_delivery-container" style="display: flex; flex-direction: column; z-index: 2; position: relative; max-height: 200px; overflow: auto; border-top: 1px solid rgb(232,233,235);">
                                    <div style="  display: flex; align-items: center; padding: 12px 0px; position: relative;">
                                        <a href="{% url 'orders-activity-details' %}" style="position: absolute; width: 100%; height: 100%; z-index: 1;"></a>

                                        <div class="" style="margin-left: 20px;">
                                            <span style="font-size: 12px; font-weight: 700;">#GR8W0001</span>
                                            <p style=" margin: 1px 0px ; font-size: 9.5px; font-weight: 600;">05-23-2023</p>
                                        </div>
                                        <div class="" style=" font-size: 10px; font-weight: 600; color: var(--green); position: absolute; right: 48px;">
                                            Fufilled
                                        </div>
                                    </div>
                                    <div style="  display: flex; align-items: center; padding: 12px 0px; position: relative;">
                                        <a href="{% url 'orders-activity-details' %}" style="position: absolute; width: 100%; height: 100%; z-index: 1;"></a>

                                        <div class="" style="margin-left: 20px;">
                                            <span style="font-size: 12px; font-weight: 700;">#GR8W0001</span>
                                            <p style=" margin: 1px 0px ; font-size: 9.5px; font-weight: 600;">05-23-2023</p>
                                        </div>
                                        <div class="" style=" font-size: 10px; font-weight: 600; color: var(--green); position: absolute; right: 48px;">
                                            Fufilled
                                        </div>
                                    </div>
                                    <div style="  display: flex; align-items: center; padding: 12px 0px; position: relative;">
                                        <a href="{% url 'orders-activity-details' %}" style="position: absolute; width: 100%; height: 100%; z-index: 1;"></a>

                                        <div class="" style="margin-left: 20px;">
                                            <span style="font-size: 12px; font-weight: 700;">#GR8W0001</span>
                                            <p style=" margin: 1px 0px ; font-size: 9.5px; font-weight: 600;">05-23-2023</p>
                                        </div>
                                        <div class="" style=" font-size: 10px; font-weight: 600; color: var(--green); position: absolute; right: 48px;">
                                            Fufilled
                                        </div>
                                    </div>
                                    <div style="  display: flex; align-items: center; padding: 12px 0px; position: relative;">
                                        <a href="{% url 'orders-activity-details' %}" style="position: absolute; width: 100%; height: 100%; z-index: 1;"></a>

                                        <div class="" style="margin-left: 20px;">
                                            <span style="font-size: 12px; font-weight: 700;">#GR8W0001</span>
                                            <p style=" margin: 1px 0px ; font-size: 9.5px; font-weight: 600;">05-23-2023</p>
                                        </div>
                                        <div class="" style=" font-size: 10px; font-weight: 600; color: var(--green); position: absolute; right: 48px;">
                                            Fufilled
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .sidenav_left-wrapper{
        max-width: 300px;
        width: calc(30vw);
    }
    .content_center-wrapper{
        margin: 0px;
        width: calc(72vw);
    }
    .content_center-container{
        margin-top: 60px;
        width: 100%;
        height: 100%;
    }
    .order_delivery-container::-webkit-scrollbar,.order_delivery_status-container::-webkit-scrollbar{
        display: none;
    }
</style>
{% endblock %}
{% block cart_indicator %}
<div class="account_auth-container" style="position: absolute; right: 0; margin-right: 60px; display: flex; align-items: center; justify-content: center; cursor: pointer; width: fit-content;">
    <a class="cart_active-indicator" style=" display:none; text-decoration: none;" href="/shop/green-produce">
        <span style="font-size: 11.5px; display: flex; align-items: center; font-weight: 800; color: #fff; margin: 0px; padding: 1px 2px;">
          <!--?xml version="1.0" encoding="UTF-8"?-->
          <svg id="uuid-b18f2d01-7785-47c4-b76d-fb6b19d5703c" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 605.65 838.2" width="10.5px" style="margin-right:8px;">
                  <g>
                  <path d="m197.76,8.73v276.7h-86.87V71.34L190.77,6.01c2.67-2.18,6.99-.5,6.99,2.72Z" style="fill: #fff;"></path>
                  <rect x="406.61" y="84.86" width="88.15" height="200.57" style="fill: #fff;"></rect>
                  <path d="m488.73,78.6c-93.19-.48-186.38-.96-279.58-1.44-2.04-.01-3.68-1.66-3.68-3.7V3.7c0-2.04,1.66-3.7,3.7-3.7h200.9c.93,0,1.82.35,2.51.98l77.52,71.38c2.08,1.92,1.33,5.37-1.37,6.24Z" style="fill: #fff;"></path>
                  </g>
                  <path d="m30.75,292.82h544.14c16.97,0,30.75,13.78,30.75,30.75v418.42c0,53.1-43.11,96.21-96.21,96.21H96.21c-53.1,0-96.21-43.11-96.21-96.21v-418.42c0-16.97,13.78-30.75,30.75-30.75Z" style="fill: #fff;"></path>
          </svg>
          <span id="cartNumber"></span></span>
      </a>
</div>
{% endblock %}
{% block shop_scripts %}
{% endblock %}


{% block scripts %}
<script type="module" src="{% static 'js/cart.js'%}"></script>
{% endblock %}