
{% extends 'shop/main.html' %}

{% block page_active_orders %} 
style="
font-weight:700;
background-color:var(--grey);
border-radius:10px;
color: var(--grey2);
"{% endblock %}
{% block title %} Orders — GR8 #wholesale{% endblock %}

{% block page_active_shop %} 
style="
color:var(--grey2);
"
{% endblock %}

{% block user_shipping-address %}
{% endblock %}

{% block pages_content %}
<ul>
    <div class="page_container">
        <div class="pages_active-indicator"><span></span></div>
        <a class="product-page is_active" href="{% url 'orderpage'%}">Orders</a>
    </div>
    <div class="page_container">
        <div class=""><span></span></div>
        <a class="product-page" href="{% url 'orders-activity'%}">Activity</a>
    </div>
    <div class="page_container">
        <div class=""><span></span></div>
        <a class="product-page" href="{% url 'recurring-orders'%}">Recurring Orders</a>
    </div>
    <div class="page_container">
        <div class=""><span></span></div>
        <a class="product-page" href="{% url 'pending-orders'%}">Pending Deliveries</a>
    </div>
    {% if request.user.is_staff %}
    <div class="page_container">
        <div class=""><span></span></div>
        <a class="product-page" href="{% url 'delivery-map'%}">Delivery Map</a>
    </div>
    {% endif %}
    <hr>
    <div class="page_container">
        <div class=""><span></span></div>
        <a class="product-page" >Get help</a>
        </div>
        <div class="page_container">
            <div class=""><span></span></div>
            <a href="{% url 'birthday-club'%}" class="product-page" >Join <span style="font-weight: 600;">The Birthday Club™</span></a>
        </div>
        <div class="page_container">
            <div class=""><span></span></div>
            <a href="{% url 'premium'%}" class="product-page" >Get <span style="font-weight: 600;">Premium</span></a>
        </div>
        <div class="page_container">
            <div class=""><span></span></div>
            <a href="{% url 'store-credit'%}" class="product-page" >Build your <span style="font-weight: 600;">store credit</span></a>
        </div>
</ul>
{% endblock %}
{% block shop_content %}
<div class="content_center-wrapper">
    <div class="content_center-container">
        <h1 style="font-size: 36px; margin: 0px;">Orders</h1>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium quis at dolorem.</span>
        <div class=""  style="width: 130px; position: absolute; right: 16px; cursor: pointer;">
            <div class="" style="background-color: var(--green);  width:fit-content; padding: 10px 16px; border-radius: 7px; display: flex; align-items: center;">
                <span style="font-weight: 500; font-size: 12.5px; color: #fff; margin-right: 20px;">Create ...</span>
            </div>
        </div>
        <div class="top-banner" style=" margin-right: 32px; border-radius: 14px; margin-top: 72px;">
            <p style="font-size: 18px; font-weight: 600;">Today's Deliveries</p>
            <div class="">
                <div class="" style="position: relative;">
                    <div class="" style=" display: flex; overflow: hidden; align-items: center;">
                        <div class="" style=" display: flex; margin-right: 24px; position: relative; border: 1px solid rgb(232,233,235); border-radius: 10px;">
                            <a href="{% url 'orders-activity-details' %}" style="position: absolute; width: 100%; height: 100%; z-index: 1;"></a>
                            <div class="" style="width: 650px; height: 350px;">
                                <div class="" style="background-color: var(--grey2); height:100%; border-radius: 10px 0px 0px 10px;">
                                <span></span>
                                </div>
                            </div>
                            <div class="" style=" display: flex; flex-direction: column; position: relative; width: 300px;">
                                <div style="padding: 16px;">
                                <p style="margin: 0px; font-size: 14px; font-weight: 500; font-size: 10px;">05-23-2023</p>
                                <p style="font-size: 20px; font-weight: 900; margin: 6px 0px 20px 0px;">#GR8W0001</p>
                                <p style="margin: 20px 0px 0px 0px; font-size: 16px; font-size: 14px;"><span style="background-color: var(--grey); padding: 6px 14px; border-radius: 7px; font-weight: 600;">4</span> items</p>
                                 </div>

                                <div class="order_delivery-container" style="display: flex; flex-direction: column; z-index: 2; position: relative; max-height: 180px; overflow: auto; border-top: 1px solid rgb(232,233,235); border-bottom: 1px solid rgb(232,233,235);">
                                    <div style="  display: flex; align-items: center; padding: 12px 0px; position: relative;">
                                        <a href="{% url 'orders-activity-details' %}" style="position: absolute; width: 100%; height: 100%; z-index: 1;"></a>
                                        <div class="img" style="border-radius: 10px; background-color: var(--grey); height: 40px; width: 45px; margin: 0px 12px; display: flex; align-items: center; justify-content: center;">
                                            <span style="font-size: 14px; font-weight: 600;">15</span>
                                        </div>
                                        <div class="">
                                            <span style="font-size: 12px; font-weight: 600;">Pak Choy</span>
                                            <p style=" margin: 1px 0px ; font-size: 10.5px; font-weight: 600;">White-stemmed</p>
                                            <p style=" margin: 1px 0px ; font-size: 9.5px; font-weight: 600;">per pound (lb.)</p>
                                        </div>
                                        <div class="" style=" font-size: 10px; font-weight: 600; color: var(--green); position: absolute; right: 48px;">
                                            Fufilled
                                        </div>
                                    </div>
                                    <div style="border-top: 1px solid rgb(232,233,235);  display: flex; align-items: center; padding: 12px 0px; position: relative;">
                                        <a href="{% url 'orders-activity-details' %}" style="position: absolute; width: 100%; height: 100%; z-index: 1;"></a>
                                        <div class="img" style="border-radius: 10px; background-color: var(--grey); height: 40px; width: 45px; margin: 0px 12px; display: flex; align-items: center; justify-content: center;">
                                            <span style="font-size: 14px; font-weight: 600;">15</span>
                                        </div>
                                        <div class="">
                                            <span style="font-size: 12px; font-weight: 600;">Pak Choy</span>
                                            <p style=" margin: 1px 0px ; font-size: 10.5px; font-weight: 600;">White-stemmed</p>
                                            <p style=" margin: 1px 0px ; font-size: 9.5px; font-weight: 600;">per pound (lb.)</p>
                                        </div>
                                        <div class="" style=" font-size: 10px; font-weight: 600; color: var(--green); position: absolute; right: 48px;">
                                            Fufilled
                                        </div>
                                    </div>
                                    <div style="border-top: 1px solid rgb(232,233,235);  display: flex; align-items: center; padding: 12px 0px; position: relative;">
                                        <a href="{% url 'orders-activity-details' %}" style="position: absolute; width: 100%; height: 100%; z-index: 1;"></a>
                                        <div class="img" style="border-radius: 10px; background-color: var(--grey); height: 40px; width: 45px; margin: 0px 12px; display: flex; align-items: center; justify-content: center;">
                                            <span style="font-size: 14px; font-weight: 600;">15</span>
                                        </div>
                                        <div class="">
                                            <span style="font-size: 12px; font-weight: 600;">Pak Choy</span>
                                            <p style=" margin: 1px 0px ; font-size: 10.5px; font-weight: 600;">White-stemmed</p>
                                            <p style=" margin: 1px 0px ; font-size: 9.5px; font-weight: 600;">per pound (lb.)</p>
                                        </div>
                                        <div class="" style=" font-size: 10px; font-weight: 600; color: var(--green); position: absolute; right: 48px;">
                                            Fufilled
                                        </div>
                                    </div>
                                    <div style="border-top: 1px solid rgb(232,233,235);  display: flex; align-items: center; padding: 12px 0px; position: relative;">
                                        <a href="{% url 'orders-activity-details' %}" style="position: absolute; width: 100%; height: 100%; z-index: 1;"></a>
                                        <div class="img" style="border-radius: 10px; background-color: var(--grey); height: 40px; width: 45px; margin: 0px 12px; display: flex; align-items: center; justify-content: center;">
                                            <span style="font-size: 14px; font-weight: 600;">15</span>
                                        </div>
                                        <div class="">
                                            <span style="font-size: 12px; font-weight: 600;">Pak Choy</span>
                                            <p style=" margin: 1px 0px ; font-size: 10.5px; font-weight: 600;">White-stemmed</p>
                                            <p style=" margin: 1px 0px ; font-size: 9.5px; font-weight: 600;">per pound (lb.)</p>
                                        </div>
                                        <div class="" style="  font-size: 10px; font-weight: 600; color: var(--green); position: absolute; right: 48px;">
                                            Fufilled
                                        </div>
                                    </div>
                                </div>
                                <div class="order_delivery_status-container" style="display: flex; flex-direction: row; align-items: center; margin-top: 8px; margin-bottom: 6px; position: absolute; bottom: 6px; left: 16px; overflow-x: auto; width: 265px; z-index: 2;">
                                    <span style="padding: 6px 16px; background-color: var(--grey); font-size: 12px; border-radius: 7px;">Paid</span>
                                    <span style="padding: 6px 16px; background-color: var(--grey); font-size: 12px; border-radius: 7px; margin-left: 10px;">Pending</span>
                                    <span style="padding: 6px 16px; background-color: var(--grey); font-size: 12px; border-radius: 7px; margin-left: 10px;">Pending</span>
                                    <span style="padding: 6px 16px; background-color: var(--grey); font-size: 12px; border-radius: 7px; margin-left: 10px;">Pending</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" hidden" style=" position: absolute; background-color: #fff; border-radius: 14px; width: 45px; height: 45px; display: flex; justify-content: center; align-items: center; border: 1px solid rgb(232,233,235); right: -16px; cursor: pointer; top: -36px; bottom: 0px; margin: auto; box-shadow: 5px rgba(0, 0, 0, 0.16); z-index: 3;">
                        <svg width="1em" height="1em" viewBox="0 0 24 24" fill="#343538" xmlns="http://www.w3.org/2000/svg" color="systemGrayscale70" class="e-srhrfb"><path fill-rule="evenodd" clip-rule="evenodd" d="m16.879 12-5.94-5.94a1.5 1.5 0 0 1 2.122-2.12l7 7a1.5 1.5 0 0 1 0 2.12l-7 7a1.5 1.5 0 0 1-2.122-2.12L16.88 12Z"></path></svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="top-banner" style=" margin-right: 32px; border-radius: 14px; margin-top: 72px;">
                <p style="font-size: 18px; font-weight: 600;">Recent</p>
                <div class="">
                    <div class="" style="position: relative;">
                        <div class="" style=" display: flex; overflow: hidden; align-items: center;">
                            <div class="" style="margin-right: 24px; position: relative; border: 1px solid rgb(232,233,235); border-radius: 10px;">
                                <a href="{% url 'orders-activity-details' %}" style="position: absolute; width: 100%; height: 100%; z-index: 1;"></a>
                                <div class="" style=" padding: 16px 72px 16px 36px;">
                                    <div>
                                    <p style="font-size: 16px; font-weight: 900; margin: 6px 0px 6px 0px;">#GR8W0001</p>
                                    </div>
                                    <p style="margin: 0px; font-size: 14px; font-weight: 500; font-size: 10px;">05-23-2023</p>
                                    <p style="margin: 0px; font-size: 16px; font-weight: 600; font-size: 14px;">14 items</p>
                                    <div class="" style="display: flex; flex-direction: row; align-items: center; margin-top: 8px; margin-bottom: 6px;">
                                        <span style="padding: 6px 16px; background-color: var(--grey); font-size: 12px; border-radius: 7px;">Paid</span>
                                        <span style="padding: 6px 16px; background-color: var(--grey); font-size: 12px; border-radius: 7px; margin-left: 10px;">Pending</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" hidden" style=" position: absolute; background-color: #fff; border-radius: 14px; width: 45px; height: 45px; display: flex; justify-content: center; align-items: center; border: 1px solid rgb(232,233,235); right: -16px; cursor: pointer; top: -36px; bottom: 0px; margin: auto; box-shadow: 5px rgba(0, 0, 0, 0.16); z-index: 3;">
                            <svg width="1em" height="1em" viewBox="0 0 24 24" fill="#343538" xmlns="http://www.w3.org/2000/svg" color="systemGrayscale70" class="e-srhrfb"><path fill-rule="evenodd" clip-rule="evenodd" d="m16.879 12-5.94-5.94a1.5 1.5 0 0 1 2.122-2.12l7 7a1.5 1.5 0 0 1 0 2.12l-7 7a1.5 1.5 0 0 1-2.122-2.12L16.88 12Z"></path></svg>
                        </div>
                    </div>
                </div>
        </div>
        <div class="top-banner" style=" margin-right: 32px; border-radius: 14px; margin-top: 72px;">
            <div class="" style="padding-bottom: 120px;">
                <p style="font-size: 18px; font-weight: 600;">Canceled</p>
                <div class="">
                    <div class="" style="position: relative;">
                        <div class="" style=" display: flex; overflow: hidden; align-items: center;">
                            <div class="" style="margin-right: 24px; position: relative; border: 1px solid rgb(232,233,235); border-radius: 10px;">
                                <a href="{% url 'orders-activity-details' %}" style="position: absolute; width: 100%; height: 100%; z-index: 1;"></a>
                                <div class="" style=" padding: 16px 72px 16px 36px;">
                                    <div>
                                    <p style="font-size: 16px; font-weight: 900; margin: 6px 0px 6px 0px;">#GR8W0001</p>
                                    </div>
                                    <p style="margin: 0px; font-size: 14px; font-weight: 500; font-size: 10px;">05-23-2023</p>
                                    <p style="margin: 0px; font-size: 16px; font-weight: 600; font-size: 14px;">14 items</p>
                                    <div class="" style="display: flex; flex-direction: row; align-items: center; margin-top: 8px; margin-bottom: 6px;">
                                        <span style="padding: 6px 16px; background-color: var(--grey); font-size: 12px; border-radius: 7px;">Paid</span>
                                        <span style="padding: 6px 16px; background-color: var(--grey); font-size: 12px; border-radius: 7px; margin-left: 10px;">Pending</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" hidden" style=" position: absolute; background-color: #fff; border-radius: 14px; width: 45px; height: 45px; display: flex; justify-content: center; align-items: center; border: 1px solid rgb(232,233,235); right: -16px; cursor: pointer;  top:0px; bottom: 0px; margin: auto; box-shadow: 5px rgba(0, 0, 0, 0.16); z-index: 3;">
                            <svg width="1em" height="1em" viewBox="0 0 24 24" fill="#343538" xmlns="http://www.w3.org/2000/svg" color="systemGrayscale70" class="e-srhrfb"><path fill-rule="evenodd" clip-rule="evenodd" d="m16.879 12-5.94-5.94a1.5 1.5 0 0 1 2.122-2.12l7 7a1.5 1.5 0 0 1 0 2.12l-7 7a1.5 1.5 0 0 1-2.122-2.12L16.88 12Z"></path></svg>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </div>
</div>
<style>
    .sidenav_left-wrapper{
        max-width: 300px;
        width: calc(30vw);
    }
    .content_center-wrapper{
        margin: 0px;
        width: calc(72vw);
    }
    .content_center-container{
        margin-top: 60px;
        width: 100%;
        height: 100%;
    }
    .order_delivery-container::-webkit-scrollbar,.order_delivery_status-container::-webkit-scrollbar{
        display: none;
    }
</style>
{% endblock %}
{% block cart_indicator %}
<div class="account_auth-container" style="position: absolute; right: 0; margin-right: 60px; display: flex; align-items: center; justify-content: center; cursor: pointer; width: fit-content;">
    <a class="cart_active-indicator" style=" display:block; text-decoration: none;" href="{% url 'green_produce-main'%}">
      <span style="font-size: 10px; font-weight: 700; color: #fff; margin: 0px;">10</span>
    </a>
</div>
{% endblock %}
{% block shop_scripts %}
{% endblock %}