{% extends 'orders/main.html' %}
{% block shop_scripts %}
{% endblock %}
{% block pages_content %}
<ul>
    <div class="page_container">
        <div class=""><span></span></div>
        <a class="product-page " href="{% url 'orderpage'%}">Orders</a>
    </div>
    <div class="page_container">
        <div class=""><span></span></div>
        <a class="product-page" href="{% url 'orders-activity'%}">Activity</a>
    </div>
    <div class="page_container">
        <div class="pages_active-indicator"><span></span></div>
        <a class="product-page is_active" href="{% url 'recurring-orders'%}">Recurring Orders</a>
    </div>
    <div class="page_container">
        <div class=""><span></span></div>
        <a class="product-page" href="{% url 'pending-orders'%}">Pending Deliveries</a>
    </div>
    <hr>
    <div class="page_container">
        <div class=""><span></span></div>
        <a class="product-page" >Get help</a>
    </div>
</ul>
{% endblock %}

{% block shop_content %}
<div class="content-wrapper">
    <div class="content-container">
        <div class=""> 
            <a href="{% url 'recurring-orders'%}" style="border: 1px solid rgb(232,233,235); padding: 4px 12px; display: flex; align-items: center; width: 15px; border-radius: 7px;">
                <svg width="1em" height="1em" viewBox="0 0 24 24" fill="var(--grey2);" xmlns="http://www.w3.org/2000/svg" color="systemGrayscale00;" style="transform: rotate(180deg); margin-top:2px;">
                <path fill-rule="evenodd" clip-rule="evenodd" d="m13.06 3.94 7 7 .02.02c.022.022.043.045.063.068l-.082-.089a1.513 1.513 0 0 1 .274.377 1.494 1.494 0 0 1-.071 1.493 1.28 1.28 0 0 1-.121.163 1.57 1.57 0 0 1-.062.068l-.02.02-7 7a1.5 1.5 0 0 1-2.122 0l-.103-.113a1.5 1.5 0 0 1 .103-2.008l4.44-4.439H5A1.5 1.5 0 0 1 3.5 12l.007-.145A1.5 1.5 0 0 1 5 10.5h10.379l-4.44-4.44a1.5 1.5 0 0 1 2.122-2.12Z"></path>
            </svg>
        </a>
        </div>
        <div class="table_top-container" style=" height: 100px; border: 1px solid rgb(232,233,235); border-radius: 10px; margin-bottom: 24px; margin-top: 12px; position: relative; display: flex; align-items: center; background-color: var(--grey);">
            <div class="order_number-container" style="position: absolute; left: 0; margin-left: 16px;">
                <div class="" style="display: flex; align-items: center; justify-content: center; background-color: var(--grey2); border: 1px solid var(--grey2); padding: 6px 16px; border-radius: 7px; cursor: default;">
                    <span style="font-size: 12px; font-weight: 600; color: #fff;">#GR8W0003</span>
                </div>
                <span style="font-size: 12px; font-weight: 600; color: var(--grey2); padding: 6px 16px; cursor: default;">05-23-2023</span>
            </div>
            <div class="payment_status-container" style="position: absolute; right: 0; margin-right: 16px; display: flex; align-items: center;">
                <div class="payment_status-container" style="margin-right: 16px;">
                    <div class="" style="display: flex; align-items: center; justify-content: center; background-color: var(--grey); border: 1px solid rgb(232,233,235); padding: 6px 16px; border-radius: 7px; cursor: default;">
                        <span style="font-size: 12px; font-weight: 600; color: var(--grey2);">Recurring</span>
                    </div>
                </div>
                <div class="payment_status-container" style="margin-right: 16px;">
                    <div class="" style="display: flex; align-items: center; justify-content: center; background-color: var(--grey); border: 1px solid rgb(232,233,235); padding: 6px 16px; border-radius: 7px; cursor: default;">
                        <span style="font-size: 12px; font-weight: 600; color: var(--grey2);">On Hold</span>
                    </div>
                </div>
                <div class="" style="display: flex; align-items: center; justify-content: center; background-color: rgba(106, 255, 83, 0.311); border: 1px solid rgb(85, 205, 66); padding: 6px 16px; border-radius: 7px; cursor: default;">
                    <span style="font-size: 12px; font-weight: 600; color: var(--green);">Paid</span>
                </div>

            </div>

        </div>
        <div class="table_main-actions-container" style="height: 30px; border: 1px solid rgb(232,233,235); border-radius: 10px; margin-bottom: 8px; padding: 6px; display: flex; align-items: center;">
            <div class="" style="display: flex; align-items: center; margin-right: 24px; cursor: default;">
                <div class="" style="background-color: var(--grey); padding: 4px 12px; margin-right: 4px; border-radius: 7px;">
                    <span style="font-size: 12px; font-weight: 600;">5</span>
                </div>
                <span style="font-size: 12px; font-weight: 500;">items</span>
            </div>
        </div>
        <div class="table_main-wrapper">
            <div class="table_main-container">
                <div class="table-header" style="display: flex; border-radius: 10px; align-items: center; background-color: var(--grey); border: 1px solid rgb(232,233,235); position: relative; height: 40px;">
                        <div class="tableheading"style="position: absolute; left: 0; margin-left: 125px;">
                            <span style="font-size: 14px; font-weight: 600;">Product</span>
                        </div>
                        <div class="tableheading" style="position: absolute; right: 0; margin-right: 295px;">
                            <span style="font-size: 14px; font-weight: 600;">Quantity</span>
                        </div>
                        <div class="tableheading" style="position: absolute; right: 0; margin-right: 205px;">
                            <span style="font-size: 14px; font-weight: 600;">Price</span>
                        </div>
                        <div class="tableheading" style="position: absolute; right: 0; margin-right: 85px;">
                            <span style="font-size: 14px; font-weight: 600;">Cost</span>
                        </div>
                </div>
                <div class="table-content">
                    <div class="table_unfufilled-container" style=" margin-top: 8px; overflow-y: auto; position: relative; cursor: default;">
                        <div class="table_cell-container" style="display: flex; align-items: center; border: 1px solid rgb(232,233,235); margin:4px 10px; position: relative; padding: 12px 48px; border-radius: 10px;">
                            <div class="table_cell-item_grade">
                                <span style="font-size: 12; font-weight: 600;">A</span>
                            </div>
                            <div class="table_cell-item_product-details" style="margin-left: 48px;">
                                <div class="product_name" style="margin: 0px;">
                                    <span style="font-size: 12px; margin: 0px;">Pak Choy</span>
                                </div>
                                <div class="product_variety" style="margin: 0px;">
                                    <span style="font-size: 10px; margin: 2px 0px; font-weight: 500;">White-stemmed</span>
                                </div>
                                <div class="product_variety" style="margin: 0px;"> 
                                    <span style="font-size: 10px; margin: 2px 0px; font-weight: 500; margin: 0px;">per pound (lb.)</span>
                                </div>
                            </div>
                            <div class="table_cell-item_product-quantity">
                                <div class="product_qty" style="border: 1px solid rgb(232,233,235); padding: 8px 16px; border-radius: 7px; background-color: var(--grey); display: flex; justify-content: center; align-items: center; position: absolute; bottom:0; top:0; right: 0; margin: auto; margin-right: 295px; height:fit-content;">
                                    <span style="font-size: 12px; font-weight: 600;">7</span>
                                </div>
                            </div>
                            <div class="table_cell-item_product-price">
                                <div class="product_price" style="border: 1px solid rgb(232,233,235); padding: 8px; border-radius: 7px; background-color: var(--grey); display: flex; justify-content: center; align-items: center; position: absolute; bottom:0; top:0; right: 0; margin: auto; margin-right: 160px; height:fit-content;">
                                    <span style="font-size: 12px; font-weight: 600;">J$<span>50.00</span></span>
                                </div>
                            </div>
                            <div class="table_cell-item_product-cost">
                                <div class="product_cost"style="border: 1px solid rgb(232,233,235); padding: 8px; border-radius: 7px; background-color: var(--grey); display: flex; justify-content: center; align-items: center; position: absolute; bottom:0; top: 0; right: 0; margin:auto; margin-right:32px; height:fit-content;">
                                    <span style="font-size: 12px; font-weight: 600;">J$<span>350.00</span></span>
                                </div>
                            </div>

                        </div>
                        <div class="table_cell-container" style="display: flex; align-items: center; border: 1px solid rgb(232,233,235); margin: 4px 10px; position: relative; padding: 12px 48px; border-radius: 10px;">
                            <div class="table_cell-item_grade">
                                <span style="font-size: 12; font-weight: 600;">A</span>
                            </div>
                            <div class="table_cell-item_product-details" style="margin-left: 48px;">
                                <div class="product_name" style="margin: 0px;">
                                    <span style="font-size: 12px; margin: 0px;">Pak Choy</span>
                                </div>
                                <div class="product_variety" style="margin: 0px;">
                                    <span style="font-size: 10px; margin: 2px 0px; font-weight: 500;">White-stemmed</span>
                                </div>
                                <div class="product_variety" style="margin: 0px;"> 
                                    <span style="font-size: 10px; margin: 2px 0px; font-weight: 500; margin: 0px;">per pound (lb.)</span>
                                </div>
                            </div>
                            <div class="table_cell-item_product-quantity">
                                <div class="product_qty" style="border: 1px solid rgb(232,233,235); padding: 8px 16px; border-radius: 7px; background-color: var(--grey); display: flex; justify-content: center; align-items: center; position: absolute; bottom:0; top:0; right: 0; margin: auto; margin-right: 295px; height:fit-content;">
                                    <span style="font-size: 12px; font-weight: 600;">7</span>
                                </div>
                            </div>
                            <div class="table_cell-item_product-price">
                                <div class="product_price" style="border: 1px solid rgb(232,233,235); padding: 8px; border-radius: 7px; background-color: var(--grey); display: flex; justify-content: center; align-items: center; position: absolute; bottom:0; top:0; right: 0; margin: auto; margin-right: 160px; height:fit-content; cursor: default;">
                                    <span style="font-size: 12px; font-weight: 600;">J$<span>50.00</span></span>
                                </div>
                            </div>
                            <div class="table_cell-item_product-cost">
                                <div class="product_cost"style="border: 1px solid rgb(232,233,235); padding: 8px; border-radius: 7px; background-color: var(--grey); display: flex; justify-content: center; align-items: center; position: absolute; bottom:0; top: 0; right: 0; margin:auto; margin-right:32px; height:fit-content; cursor: default;">
                                    <span style="font-size: 12px; font-weight: 600;">J$<span>350.00</span></span>
                                </div>
                            </div>

                        </div>
                        <div class="table_cell-container" style="display: flex; align-items: center; border: 1px solid rgb(232,233,235); margin: 4px 10px; position: relative; padding: 12px 48px; border-radius: 10px;">
                            <div class="table_cell-item_grade">
                                <span style="font-size: 12; font-weight: 600;">A</span>
                            </div>
                            <div class="table_cell-item_product-details" style="margin-left: 48px;">
                                <div class="product_name" style="margin: 0px;">
                                    <span style="font-size: 12px; margin: 0px;">Pak Choy</span>
                                </div>
                                <div class="product_variety" style="margin: 0px;">
                                    <span style="font-size: 10px; margin: 2px 0px; font-weight: 500;">White-stemmed</span>
                                </div>
                                <div class="product_variety" style="margin: 0px;"> 
                                    <span style="font-size: 10px; margin: 2px 0px; font-weight: 500; margin: 0px;">per pound (lb.)</span>
                                </div>
                            </div>
                            <div class="table_cell-item_product-quantity">
                                <div class="product_qty" style="border: 1px solid rgb(232,233,235); padding: 8px 16px; border-radius: 7px; background-color: var(--grey); display: flex; justify-content: center; align-items: center; position: absolute; bottom:0; top:0; right: 0; margin: auto; margin-right: 295px; height:fit-content;">
                                    <span style="font-size: 12px; font-weight: 600;">7</span>
                                </div>
                            </div>
                            <div class="table_cell-item_product-price">
                                <div class="product_price" style="border: 1px solid rgb(232,233,235); padding: 8px; border-radius: 7px; background-color: var(--grey); display: flex; justify-content: center; align-items: center; position: absolute; bottom:0; top:0; right: 0; margin: auto; margin-right: 160px; height:fit-content;">
                                    <span style="font-size: 12px; font-weight: 600;">J$<span>50.00</span></span>
                                </div>
                            </div>
                            <div class="table_cell-item_product-cost">
                                <div class="product_cost"style="border: 1px solid rgb(232,233,235); padding: 8px; border-radius: 7px; background-color: var(--grey); display: flex; justify-content: center; align-items: center; position: absolute; bottom:0; top: 0; right: 0; margin:auto; margin-right:32px; height:fit-content;">
                                    <span style="font-size: 12px; font-weight: 600;">J$<span>350.00</span></span>
                                </div>
                            </div>

                        </div>
                        <div class="table_cell-container" style="display: flex; align-items: center; border: 1px solid rgb(232,233,235); margin: 4px 10px; position: relative; padding: 12px 48px; border-radius: 10px;">
                            <div class="table_cell-item_grade">
                                <span style="font-size: 12; font-weight: 600;">A</span>
                            </div>
                            <div class="table_cell-item_product-details" style="margin-left: 48px;">
                                <div class="product_name" style="margin: 0px;">
                                    <span style="font-size: 12px; margin: 0px;">Pak Choy</span>
                                </div>
                                <div class="product_variety" style="margin: 0px;">
                                    <span style="font-size: 10px; margin: 2px 0px; font-weight: 500;">White-stemmed</span>
                                </div>
                                <div class="product_variety" style="margin: 0px;"> 
                                    <span style="font-size: 10px; margin: 2px 0px; font-weight: 500; margin: 0px;">per pound (lb.)</span>
                                </div>
                            </div>
                            <div class="table_cell-item_product-quantity">
                                <div class="product_qty" style="border: 1px solid rgb(232,233,235); padding: 8px 16px; border-radius: 7px; background-color: var(--grey); display: flex; justify-content: center; align-items: center; position: absolute; bottom:0; top:0; right: 0; margin: auto; margin-right: 295px; height:fit-content;">
                                    <span style="font-size: 12px; font-weight: 600;">7</span>
                                </div>
                            </div>
                            <div class="table_cell-item_product-price">
                                <div class="product_price" style="border: 1px solid rgb(232,233,235); padding: 8px; border-radius: 7px; background-color: var(--grey); display: flex; justify-content: center; align-items: center; position: absolute; bottom:0; top:0; right: 0; margin: auto; margin-right: 160px; height:fit-content;">
                                    <span style="font-size: 12px; font-weight: 600;">J$<span>50.00</span></span>
                                </div>
                            </div>
                            <div class="table_cell-item_product-cost">
                                <div class="product_cost"style="border: 1px solid rgb(232,233,235); padding: 8px; border-radius: 7px; background-color: var(--grey); display: flex; justify-content: center; align-items: center; position: absolute; bottom:0; top: 0; right: 0; margin:auto; margin-right:32px; height:fit-content;">
                                    <span style="font-size: 12px; font-weight: 600;">J$<span>350.00</span></span>
                                </div>
                            </div>

                        </div>                        
                        <div class="table_cell-container" style="display: flex; align-items: center; border: 1px solid rgb(232,233,235); margin: 4px 10px; position: relative; padding: 12px 48px; border-radius: 10px; margin-bottom: 12px;">
                            <div class="table_cell-item_grade">
                                <span style="font-size: 12; font-weight: 600;">A</span>
                            </div>
                            <div class="table_cell-item_product-details" style="margin-left: 48px;">
                                <div class="product_name" style="margin: 0px;">
                                    <span style="font-size: 12px; margin: 0px;">Pak Choy</span>
                                </div>
                                <div class="product_variety" style="margin: 0px;">
                                    <span style="font-size: 10px; margin: 2px 0px; font-weight: 500;">White-stemmed</span>
                                </div>
                                <div class="product_variety" style="margin: 0px;"> 
                                    <span style="font-size: 10px; margin: 2px 0px; font-weight: 500; margin: 0px;">per pound (lb.)</span>
                                </div>
                            </div>
                            <div class="table_cell-item_product-quantity">
                                <div class="product_qty" style="border: 1px solid rgb(232,233,235); padding: 8px 16px; border-radius: 7px; background-color: var(--grey); display: flex; justify-content: center; align-items: center; position: absolute; bottom:0; top:0; right: 0; margin: auto; margin-right: 295px; height:fit-content;">
                                    <span style="font-size: 12px; font-weight: 600;">7</span>
                                </div>
                            </div>
                            <div class="table_cell-item_product-price">
                                <div class="product_price" style="border: 1px solid rgb(232,233,235); padding: 8px; border-radius: 7px; background-color: var(--grey); display: flex; justify-content: center; align-items: center; position: absolute; bottom:0; top:0; right: 0; margin: auto; margin-right: 160px; height:fit-content;">
                                    <span style="font-size: 12px; font-weight: 600;">J$<span>50.00</span></span>
                                </div>
                            </div>
                            <div class="table_cell-item_product-cost">
                                <div class="product_cost"style="border: 1px solid rgb(232,233,235); padding: 8px; border-radius: 7px; background-color: var(--grey); display: flex; justify-content: center; align-items: center; position: absolute; bottom:0; top: 0; right: 0; margin:auto; margin-right:32px; height:fit-content;">
                                    <span style="font-size: 12px; font-weight: 600;">J$<span>350.00</span></span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="table_actions_lower-container" style=" margin-top: 24px; display: flex; width: 100%; padding-bottom: 32px;">
                        <div class="" style="border: 1px solid rgb(232,233,235); margin-right: 12px; padding: 6px 28px; background-color: var(--grey);border-radius: 10px; cursor: pointer;">
                            <span style="font-weight: 600; font-size: 14px; color: var(--grey2); ">Cancel</span>
                        </div>
                        <div class="" style="border: 1px solid var(--green); padding: 6px 28px; width: 100%; border-radius: 10px; background-color: var(--green); position: relative; display: flex; align-items: center; cursor: pointer;">
                            <span style="font-weight: 600; font-size: 14px; color: white; ">More options</span>
                            <svg width="12" height="12" viewBox="0 0 24 24" fill="white" xmlns="http://www.w3.org/2000/svg" size="20" color="systemGrayscale70" class="css-1qx34im" style="position: absolute; right:0; margin-right:12px;"><path fill-rule="evenodd" clip-rule="evenodd" d="M3 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm9 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm12-3a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path></svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="side_right-content-wrapper">
    <div class="side_right-content-container">
            <div class="" style="position: relative;">
            <div class="" style="width: 87%; border: 1px solid rgb(232,233,235); border-radius: 10px; margin-right: 10px; height: fit-content; margin-bottom: 20px; background-color: var(--grey); padding: 16px; padding-left: 12px; position: relative;">
                <div class="" style="display: flex; align-items: center;">
                    <h1 style="margin-top: 0px; font-size: 16px; color: var(--grey2);">Delivery Information</h1>
                    <svg width="12" height="12" viewBox="0 0 24 24" fill="var(--grey2)" xmlns="http://www.w3.org/2000/svg" size="20" color="systemGrayscale70" class="css-1qx34im" style="position: absolute; right:0; margin-right:12px; cursor:pointer;"><path fill-rule="evenodd" clip-rule="evenodd" d="M3 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm9 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm12-3a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path></svg>
                </div>
                <div class="" style="display: flex; flex-direction: column; align-items: flex-start; margin-right: 16px; position: relative; max-width: 87%; margin-bottom: 8px;">
                    <span style="font-size: 9.5px; font-weight: 600; margin-bottom: 4px; color: var(--grey2);">Arrival Date</span>
                    <div class="" style=" background-color: var(--grey); padding: 6px 18px; border-radius: 7px; width: 100%; position: relative; border: 1px solid rgb(232,233,235);">
                        <span style="font-size: 18px; font-weight:600; color: var(--grey2);">25<span style="position: absolute; top: 0; font-size: 8px; margin-top: 4px;">th</span> <span style="position: absolute; right: 0; margin-right: 12px;">May 2023</span></span>
                    </div>
                </div>
                <div class="" style="display: flex; align-items: center; width: 100%; position: relative;">
                    <div class="" style="display: flex; flex-direction: column; align-items: flex-start; margin-right: 16px; position: relative;">
                        <span style="font-size: 9.5px; font-weight: 600; margin-bottom: 4px; color: var(--grey2);">Delivery Time (est.)</span>
                        <div class="" style=" background-color: var(--green); padding: 6px 18px; border-radius: 7px;">
                            <span style="font-size: 24px; font-weight:600; color: #fff;">11:30</span>
                        </div>
                    </div>
                    <div class="" style="display: flex; flex-direction: column; align-items: flex-start; margin-left: 0px; position: absolute; max-width:107px; right: 0; margin-right: 32px;">
                        <span style="font-size: 9.5px; font-weight: 600; margin-bottom: 4px; color: var(--grey2);">Location</span>
                        <div class="" style="  background-color: var(--grey); padding: 10px 18px; border-radius: 7px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; width: 100%; color: var(--grey2); cursor: default; border: 1px solid rgb(232,233,235);">
                            <span style="font-size: 18px; font-weight:600; color: var(--grey2);">69 Coolshade Drive</span>
                        </div>
                    </div>
                </div>
                <div class="" style="display: flex; flex-direction: column; align-items: flex-start; margin-top: 8px; position: relative;">
                    <span style="font-size: 9.5px; font-weight: 600; margin-bottom: 4px; color: var(--grey2);">Delivery Instructions</span>
                    <div class="" style=" background-color: white; padding: 6px 18px; border-radius: 7px; width: 87%; display: flex; align-items: center; border: 1px solid rgb(232,233,235);">
                        <span style="font-size: 10px; font-weight:600; color: var(--grey2); cursor: default;">Go suck out yuh big p*ssy madda heh heheh hehehehe hehehehehehehehheheheheheheh heheh </span>
                    </div>
                </div>
            </div>
            <div class="" style="width: 87%; border: 1px solid rgb(232,233,235); border-radius: 10px; margin-right: 10px; height: fit-content; margin-bottom: 20px; background-color: var(--grey); padding: 16px; padding-left: 12px; position: relative;">
                <div class="" style="display: flex; align-items: center;">
                    <h1 style="margin-top: 0px; font-size: 16px; color: var(--grey2);">Payment Information</h1>
                    <svg width="12" height="12" viewBox="0 0 24 24" fill="var(--grey2)" xmlns="http://www.w3.org/2000/svg" size="20" color="systemGrayscale70" class="css-1qx34im" style="position: absolute; right:0; margin-right:12px; cursor:pointer;"><path fill-rule="evenodd" clip-rule="evenodd" d="M3 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm9 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm12-3a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path></svg>
                </div>
                <div class="" style="display: flex; flex-direction: column; width: 100%; position: relative;">
                    <div class="" style="display: flex; flex-direction: column; align-items: flex-start; margin-right: 16px; position: relative; max-width: 87%;">
                        <span style="font-size: 9.5px; font-weight: 600; margin-bottom: 4px; color: var(--grey2);">Total</span>
                        <div class="" style=" background-color: var(--green); padding: 6px 18px; border-radius: 7px; width: 100%; position: relative;">
                            <span style="font-size: 18px; font-weight:600; color: #fff;">J$<span style="position: absolute; right: 0; margin-right: 12px;">150,000.00</span></span>
                        </div>
                    </div>
                    <div class="" style="display: flex; flex-direction: column; align-items: flex-start; margin-left: 0px; position: relative; max-width:87%; right: 0; margin-right: 32px; margin-top: 4px;">
                        <span style="font-size: 9.5px; font-weight: 600; margin-bottom: 4px; color: var(--grey2);">Amount Due</span>
                        <div class="" style="  background-color: var(--grey); padding: 10px 18px; border-radius: 7px; width: 100%; color: var(--grey2); cursor: default; border: 1px solid rgb(232,233,235); position: relative;">
                            <span style="font-size: 18px; font-weight:600; color: var(--grey2);">J$<span style="position: absolute; right: 0; margin-right: 12px;">0.00</span></span>
                        </div>
                    </div>
                </div>
                <div class="" style="display: flex; flex-direction: column; align-items: flex-start; margin-top: 8px; position: relative;">
                    <span style="font-size: 9.5px; font-weight: 600; margin-bottom: 4px; color: var(--grey2);">Payment History</span>
                    <div class="" style="width: 100%;">
                        <div class="" style=" background-color: white; padding: 6px; border-radius: 7px; width: 96%; display: flex; align-items: center; border: 1px solid rgb(232,233,235); position: relative; margin-bottom: 2px;">
                            <div class="" style="display: flex; align-items: center; margin-right: 8px;">
                            <span style="font-size: 10px; font-weight:500; color: var(--grey2); cursor: default;">May 23, 2023</span>
                            </div>
                            <div class="" style="display: flex; align-items: center; position: absolute; left: 0;  margin-left: calc(6.5vw);">
                                <div class="" style="display: flex; align-items: center; margin-right: 4px;">
                                    <span style="font-size: 10px; font-weight:500; color: var(--grey2); cursor: default;">54***</span>
                                </div>
                                <div class="" style="display: flex; align-items: center;">
                                    <span style="font-size: 10px; font-weight:600; color: var(--grey2); cursor: default;">MSTRCRD</span>
                                </div>
                            </div>
                            <div class="" style="display: flex; align-items: center; position: absolute; right: 0; margin-right:6px;">
                                <span style="font-size: 10px; font-weight:600; color: var(--grey2); cursor: default;">J$ 12,000.00</span>
                            </div>
                        </div>
                        <div class="" style=" background-color: white; padding: 6px; border-radius: 7px; width: 96%; display: flex; align-items: center; border: 1px solid rgb(232,233,235); position: relative;">
                            <div class="" style="display: flex; align-items: center; margin-right: 8px;">
                            <span style="font-size: 10px; font-weight:500; color: var(--grey2); cursor: default;">May 23, 2023</span>
                            </div>
                            <div class="" style="display: flex; align-items: center; position: absolute; left: 0;  margin-left: calc(6.5vw);">
                                <div class="" style="display: flex; align-items: center; margin-right: 4px;">
                                    <span style="font-size: 10px; font-weight:500; color: var(--grey2); cursor: default;">69***</span>
                                </div>
                                <div class="" style="display: flex; align-items: center;">
                                    <span style="font-size: 10px; font-weight:600; color: var(--grey2); cursor: default;">VISA</span>
                                </div>
                            </div>
                            <div class="" style="display: flex; align-items: center; position: absolute; right: 0; margin-right:6px;">
                                <span style="font-size: 10px; font-weight:600; color: var(--grey2); cursor: default;">J$ 138,000.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="" style="width: 87%; border: 1px solid rgb(232,233,235); border-radius: 10px; margin-right: 10px; height: fit-content; margin-bottom: 20px; background-color: var(--grey); padding: 16px;padding-left: 10px; position: relative;">
                <div class="" style="display: flex; align-items: center;">
                    <h1 style="margin-top: 0px; font-size: 16px; color: var(--grey2);">Order Information</h1>
                    <svg width="12" height="12" viewBox="0 0 24 24" fill="var(--grey2)" xmlns="http://www.w3.org/2000/svg" size="20" color="systemGrayscale70" class="css-1qx34im" style="position: absolute; right:0; margin-right:12px; cursor:pointer;"><path fill-rule="evenodd" clip-rule="evenodd" d="M3 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm9 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm12-3a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path></svg>
                </div>
                <div class="" style="display: flex; flex-direction: column; width: 100%; position: relative;">
                    <div class="" style="display: flex; flex-direction: column; align-items: flex-start; margin-right: 16px; position: relative; max-width: 87%;">
                        <span style="font-size: 9.5px; font-weight: 600; margin-bottom: 4px; color: var(--grey2);">Rate our service</span>
                        <div class="" style=" background-color: var(--grey); padding: 6px 18px; border-radius: 7px; width: 100%; position: relative; border: 1px solid rgb(232,233,235); cursor: pointer;">
                            <span style="font-size: 18px; font-weight:600; color: var(--grey2);">?<span style="position: absolute; right: 0; margin-right: 12px;">/ 10</span></span>
                        </div>
                    </div>
                </div>
                <div class="" style="display: flex; flex-direction: column; align-items: flex-start; margin-top: 8px; position: relative;">
                    <span style="font-size: 9.5px; font-weight: 600; margin-bottom: 4px; color: var(--grey2);">Product Instructions</span>
                    <div class="" style="width: 100%;">
                        <div class="" style=" background-color: white; padding: 8px; border-radius: 7px; width: 96%;  border: 1px solid rgb(232,233,235); position: relative; margin-bottom: 2px;">
                            <div class="" style="display: flex; align-items: center;">
                                <div class="" style="display: flex; align-items: center; margin-right: 8px;">
                                <span style="font-size: 10px; font-weight:500; color: var(--grey2); cursor: default;">Pak Choy</span>
                                </div>
                                <div class="" style="display: flex; align-items: center; position: absolute; right: 0; margin-right:6px;">
                                    <span style="font-size: 10px; font-weight:600; color: var(--grey2); cursor: default;">White-stemmed</span>
                                </div>
                            </div>
                            <div class="" style="display: flex; flex-direction: column; margin-top: 4px;">
                                <span style="font-size: 10px; font-weight:600; color: var(--grey2); cursor: default; margin-bottom: 2px;">Note</span>
                                <span style="font-size: 12px; font-weight:400; color: var(--grey2); cursor: default;">Make sure they're crisp and small, I don't want them too big. </span>
                            </div>
                        </div>
                        <div class="" style=" background-color: white; padding: 8px; border-radius: 7px; width: 96%;  border: 1px solid rgb(232,233,235); position: relative; margin-bottom: 2px;">
                            <div class="" style="display: flex; align-items: center;">
                                <div class="" style="display: flex; align-items: center; margin-right: 8px;">
                                <span style="font-size: 10px; font-weight:500; color: var(--grey2); cursor: default;">Irish Potato</span>
                                </div>
                                <div class="" style="display: flex; align-items: center; position: absolute; right: 0; margin-right:6px;">
                                    <span style="font-size: 10px; font-weight:600; color: var(--grey2); cursor: default;">Red Bliss</span>
                                </div>
                            </div>
                            <div class="" style="display: flex; flex-direction: column; margin-top: 4px;">
                                <span style="font-size: 10px; font-weight:600; color: var(--grey2); cursor: default; margin-bottom: 2px;">Note</span>
                                <span style="font-size: 12px; font-weight:400; color: var(--grey2); cursor: default;">Make sure they're round and small, I don't want them too big or bendy. </span>
                            </div>
                            <div class="" style="display: flex; flex-direction: column; margin-top: 4px;">
                                <span style="font-size: 10px; font-weight:600; color: var(--grey2); cursor: default; margin-bottom: 2px;">If out of stock, replace with...</span>
                                <div class="" style="display: flex; align-items: center; position: relative; padding: 6px;">
                                    <div class="" style="display: flex; flex-direction: column; align-items: flex-start;">
                                        <span style="font-size: 10px; font-weight:500; color: var(--grey2); cursor: default;">Irish Potato</span>
                                        <span style="font-size: 10px; font-weight:600; color: var(--grey2); cursor: default;">Golden Glory</span>
                                    </div>
                                    <div class="" style="position: absolute; right: 0;">
                                        <span style="font-size: 12px; font-weight:500; color: var(--grey2); cursor: default;">2<span style="font-size: 10px; font-weight:600; color: var(--grey2); cursor: default;">lb</span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<style>
    .sidenav_left-wrapper{
        width: calc(50vw);
    }
    .content-wrapper{

        margin: 0px;
        width: calc(100vw);
    }
    .content-container,.side_right-content-container{
        margin-top: 32px;
        width: 100%;
        height: 100%;
    }
    .side_right-content-container{
        overflow-y: auto;
        margin-top: 0px;
        margin-left: 30px;
        max-width: calc(22vw);
        max-height: calc(90vh);
        overflow-x: hidden;
        position: fixed;
    }
    .side_right-content-wrapper{
        margin: 0px 24px 7px 0px ;
        width: calc(50vw);
        position: relative;
    }

    .table_unfufilled-container:hover::-webkit-scrollbar, .side_right-content-container:hover::-webkit-scrollbar{
        display: block;
    }
    
    .table_unfufilled-container::-webkit-scrollbar,.side_right-content-container::-webkit-scrollbar{
        width: 14px;
        display: none;
    }
    .table_unfufilled-container::-webkit-scrollbar-thumb,.side_right-content-container::-webkit-scrollbar-thumb{
        background: rgb(218,220,224);
        background-clip: padding-box;
        border: 4px solid transparent;
        border-radius: 8px;
        box-shadow: none;
        min-height: 50px;
    }
    .table_unfufilled-container::-webkit-scrollbar-track,.table_unfufilled-container::-webkit-scrollbar-track:hover,.side_right-content-container::-webkit-scrollbar-track,.side_right-content-container::-webkit-scrollbar-track:hover{
        background: none;
        border: none;
    }

</style>
{% endblock %}