{% extends 'orders/main.html' %}
{% block title %}Recurring • Orders — GR8 #wholesale{% endblock %}



{% block shop_scripts %}
{% endblock %}
{% block modal %}
<div class="modal hidden ">
    <div class="add_item-modal-container hidden">
        <div class="main_product-modal-content" style="    
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 1220px;
        height: 550px;
        background-color: white;
        border-radius: 14px;
        padding: 20px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 8px;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;">
        <div class="" style="display: flex; flex-direction: column; justify-content: center; width: 100%; height: 550px; padding: 4px 0px;">
            <div class="" style="display: flex; flex-direction: column;">
                <div class="close-btn" style="display: flex; align-items: center; margin-bottom: 16px; max-width: fit-content; padding: 6px 32px 6px 6px; border: 1px solid rgb(232,233,235); border-radius: 10px; cursor: pointer;">
                    <svg width="1em" height="1em" viewBox="0 0 24 24" fill="var(--grey2);" xmlns="http://www.w3.org/2000/svg" color="systemGrayscale00;" style="transform: rotate(180deg);" >
                        <path fill-rule="evenodd" clip-rule="evenodd" d="m13.06 3.94 7 7 .02.02c.022.022.043.045.063.068l-.082-.089a1.513 1.513 0 0 1 .274.377 1.494 1.494 0 0 1-.071 1.493 1.28 1.28 0 0 1-.121.163 1.57 1.57 0 0 1-.062.068l-.02.02-7 7a1.5 1.5 0 0 1-2.122 0l-.103-.113a1.5 1.5 0 0 1 .103-2.008l4.44-4.439H5A1.5 1.5 0 0 1 3.5 12l.007-.145A1.5 1.5 0 0 1 5 10.5h10.379l-4.44-4.44a1.5 1.5 0 0 1 2.122-2.12Z"></path>
                    </svg>
                    <span style="margin-left: 10px; font-size: 12px; font-weight: 600;">Back</span>
                </div>
            </div>
            <div class="" style="width: 100%; position: relative; padding: 24px;">
                <div class="">
                    <div class=""  style="display: flex; flex-direction: column; justify-content: center; border: 1px solid rgb(232,233,235); padding: 16px; border-radius: 14px; margin-top: 16px; margin-right: 48px;">
                        <p style="margin: 0px 0px 16px 0px; font-size: 32px; font-weight: 700;">Add an item</p>
                        <div class="" style="display: flex; align-items: center; margin-bottom: 24px;">
                            <div class="" style="padding: 6px 24px; border-radius: 10px; margin-right: 16px; border: 1px solid #3f9b3152; cursor: default;"><span style="font-size: 12px; font-weight: 700; color: var(--green);">All</span></div>
                            <div class="" style="padding: 6px 24px; border: 1px solid rgb(232,233,235); border-radius: 10px; margin-right: 16px; cursor: pointer;"><span style="font-size: 12px;">Green Produce</span></div>
                            <div class=""  style="padding: 6px 24px; border: 1px solid rgb(232,233,235); border-radius: 10px; margin-right: 16px; cursor: pointer;"><span style="font-size: 12px;">Meats</span></div>
                            <div class=""  style="padding: 6px 24px; border: 1px solid rgb(232,233,235); border-radius: 10px; margin-right: 16px; cursor: pointer;"><span style="font-size: 12px;">Deals</span></div>
                            <div class=""  style="padding: 6px 24px; border: 1px solid rgb(232,233,235); border-radius: 10px; cursor: pointer;"><span style="font-size: 12px;">Buy it again</span></div>
                        </div>
                        <div class="" style="display: flex; align-items: center;">
                            <div class="" style="border: 1px solid rgb(232,233,235); display: flex; justify-content: center; align-items: center; border-radius: 7px; padding: 4px 8px; width: 100%; background-color: var(--grey);">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="#343538" xmlns="http://www.w3.org/2000/svg" size="24" color="var(-grey2)">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M16.396 14.275a7 7 0 1 0-2.121 2.121l3.664 3.665a1.5 1.5 0 0 0 2.122-2.122l-3.665-3.664ZM10.5 14.5a4 4 0 1 1 0-8 4 4 0 0 1 0 8Z"></path>
                                </svg>
                                <input type="text" style="background-color: transparent; font-size: 16px; padding: 6px 6px 6px  6px; outline: none; border:transparent; width: 100%;" placeholder="Search">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div style=" margin: 8px 32px 32px 32px; position: relative; width: 100%;">
                <div class="" style="position: relative;">
                    <div class="" style=" display: flex; flex-wrap: wrap; align-items: center;">
                        <div class="" style="margin-right: 24px; margin-bottom:24px;">
                            <div class="" style="width: 172px; height: 172px; background-color: var(--grey2); position: relative;">
                                <span></span>
                                <div class="" style="position: absolute; top: 8px; right: 8px; background-color: var(--green); padding: 6px 12px; border-radius: 10px; cursor: pointer;">
                                    <span style="color: #fff; font-size: 20px; font-weight: 700; ">+</span>
                                </div>
                            </div>
                            <div class="" style="margin-bottom: 16px;">
                                <p style="font-size: 18px; font-weight: 800; margin: 6px 0px 6px 0px;">J$200.00</p>
                                <p style="margin: 0px; font-size: 14px; font-weight: 500;">White</p>
                                <p style="margin: 0px; font-size: 16px; font-weight: 600;">Cabbage</p>
                                <p style="margin: 0px; font-size: 12px;">per pound (lb.)</p>
                            </div>
                        </div>
                        <div class=""  style="margin-right: 24px; margin-bottom:24px;">
                            <div class="" style="width: 172px; height: 172px; background-color: var(--grey2); position: relative;">
                                <span></span>
                                <div class="" style="position: absolute; top: 8px; right: 8px; background-color: var(--green); padding: 6px 12px; border-radius: 10px; cursor: pointer;">
                                    <span style="color: #fff; font-size: 20px; font-weight: 700;  ">+</span>
                                </div>
                            </div>
                            <div class="" style="margin-bottom: 16px;">
                                <p style="font-size: 18px; font-weight: 800; margin: 6px 0px 6px 0px;">J$200.00</p>
                                <p style="margin: 0px; font-size: 14px; font-weight: 500;">White</p>
                                <p style="margin: 0px; font-size: 16px; font-weight: 600;">Cabbage</p>
                                <p style="margin: 0px; font-size: 12px;">per pound (lb.)</p>
                            </div>
                        </div>
                        <div class=""  style="margin-right: 24px; margin-bottom:24px;">
                            <div class="" style="width: 172px; height: 172px; background-color: var(--grey2); position: relative;">
                                <span></span>
                                <div class="" style="position: absolute; top: 8px; right: 8px; background-color: var(--green); padding: 6px 12px; border-radius: 10px; cursor: pointer;">
                                    <span style="color: #fff; font-size: 20px; font-weight: 700; ">+</span>
                                </div>
                            </div>
                            <div class="" style="margin-bottom: 16px;">
                                <p style="font-size: 18px; font-weight: 800; margin: 6px 0px 6px 0px;">J$200.00</p>
                                <p style="margin: 0px; font-size: 14px; font-weight: 500;">White</p>
                                <p style="margin: 0px; font-size: 16px; font-weight: 600;">Cabbage</p>
                                <p style="margin: 0px; font-size: 12px;">per pound (lb.)</p>
                            </div>
                        </div>
                        <div class=""  style="margin-right: 24px; margin-bottom:24px;">
                            <div class="" style="width: 172px; height: 172px; background-color: var(--grey2); position: relative;">
                                <span></span>
                                <div class="" style="position: absolute; top: 8px; right: 8px; background-color: var(--green); padding: 6px 12px; border-radius: 10px; cursor: pointer;">
                                    <span style="color: #fff; font-size: 20px; font-weight: 700; ">+</span>
                                </div>
                            </div>
                            <div class="" style="margin-bottom: 16px;">
                                <p style="font-size: 18px; font-weight: 800; margin: 6px 0px 6px 0px;">J$200.00</p>
                                <p style="margin: 0px; font-size: 14px; font-weight: 500;">White</p>
                                <p style="margin: 0px; font-size: 16px; font-weight: 600;">Cabbage</p>
                                <p style="margin: 0px; font-size: 12px;">per pound (lb.)</p>
                            </div>
                        </div>
                        <div class=""  style="margin-right: 24px; margin-bottom:24px;">
                            <div class="" style="width: 172px; height: 172px; background-color: var(--grey2); position: relative;">
                                <span></span>
                                <div class="" style="position: absolute; top: 8px; right: 8px; background-color: var(--green); padding: 6px 12px; border-radius: 10px;">
                                    <span style="color: #fff; font-size: 20px; font-weight: 700; ">+</span>
                                </div>
                            </div>
                            <div class="" style="margin-bottom: 16px;">
                                <p style="font-size: 18px; font-weight: 800; margin: 6px 0px 6px 0px;">J$200.00</p>
                                <p style="margin: 0px; font-size: 14px; font-weight: 500;">White</p>
                                <p style="margin: 0px; font-size: 16px; font-weight: 600;">Cabbage</p>
                                <p style="margin: 0px; font-size: 12px;">per pound (lb.)</p>
                            </div>
                        </div>
                        <div class=""  style="margin-right: 24px; margin-bottom:24px;">
                            <div class="" style="width: 172px; height: 172px; background-color: var(--grey2); position: relative;">
                                <span></span>
                                <div class="" style="position: absolute; top: 8px; right: 8px; background-color: var(--green); padding: 6px 12px; border-radius: 10px;">
                                    <span style="color: #fff; font-size: 20px; font-weight: 700; ">+</span>
                                </div>
                            </div>
                            <div class="" style="margin-bottom: 16px;">
                                <p style="font-size: 18px; font-weight: 800; margin: 6px 0px 6px 0px;">J$200.00</p>
                                <p style="margin: 0px; font-size: 14px; font-weight: 500;">White</p>
                                <p style="margin: 0px; font-size: 16px; font-weight: 600;">Cabbage</p>
                                <p style="margin: 0px; font-size: 12px;">per pound (lb.)</p>
                            </div>
                        </div>
                        <div class=""  style="margin-right: 24px; margin-bottom:24px;">
                            <div class="" style="width: 172px; height: 172px; background-color: var(--grey2); position: relative;">
                                <span></span>
                                <div class="" style="position: absolute; top: 8px; right: 8px; background-color: var(--green); padding: 6px 12px; border-radius: 10px;">
                                    <span style="color: #fff; font-size: 20px; font-weight: 700; ">+</span>
                                </div>
                            </div>
                            <div class="" style="margin-bottom: 16px;">
                                <p style="font-size: 18px; font-weight: 800; margin: 6px 0px 6px 0px;">J$200.00</p>
                                <p style="margin: 0px; font-size: 14px; font-weight: 500;">White</p>
                                <p style="margin: 0px; font-size: 16px; font-weight: 600;">Cabbage</p>
                                <p style="margin: 0px; font-size: 12px;">per pound (lb.)</p>
                            </div>
                        </div>
                        <div class=""  style="margin-right: 24px; margin-bottom:24px;">
                            <div class="" style="width: 172px; height: 172px; background-color: var(--grey2); position: relative;">
                                <span></span>
                                <div class="" style="position: absolute; top: 8px; right: 8px; background-color: var(--green); padding: 6px 12px; border-radius: 10px;">
                                    <span style="color: #fff; font-size: 20px; font-weight: 700; ">+</span>
                                </div>
                            </div>
                            <div class="" style="margin-bottom: 16px;">
                                <p style="font-size: 18px; font-weight: 800; margin: 6px 0px 6px 0px;">J$200.00</p>
                                <p style="margin: 0px; font-size: 14px; font-weight: 500;">White</p>
                                <p style="margin: 0px; font-size: 16px; font-weight: 600;">Cabbage</p>
                                <p style="margin: 0px; font-size: 12px;">per pound (lb.)</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class=""></div>
        </div>
    </div>
    <div class="address-modal-container hidden">
        <div class="address-modal-content">
            <form method="post" class="select-address-form">
                {% csrf_token %}
                <div class="form-header">
                    <div class="address_close-btn" style="display: flex; align-items: center;">
                        <svg width="1em" height="1em" viewBox="0 0 24 24" fill="var(--black)" xmlns="http://www.w3.org/2000/svg" size="24">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M19.06 4.94a1.5 1.5 0 0 1 0 2.12L14.122 12l4.94 4.94a1.5 1.5 0 0 1 .103 2.007l-.103.114a1.5 1.5 0 0 1-2.122 0L12 14.12l-4.94 4.94a1.5 1.5 0 0 1-2.12-2.122L9.878 12l-4.94-4.94a1.5 1.5 0 0 1-.103-2.007l.103-.114a1.5 1.5 0 0 1 2.122 0L12 9.88l4.94-4.94a1.5 1.5 0 0 1 2.12 0Z"></path>
                        </svg>
                    </div>
                    <h1 class="" style="margin-left: 32px; margin-bottom: 0px;">Add delivery instructions</h1>
                    <a style="margin-left: 32px; margin-bottom: 20px; font-size: 14px; color: var(--grey2); font-weight: 600; text-decoration: none;"href="">View delivery policy</a>
                </div>
                <div class="addresses_content">
                    <textarea name="" id="" style=" margin-left: 20px; width: 280px; height: 220px; padding: 16px; font-size: 16px; margin-top: 32px; border-radius: 10px; border:1px solid rgb(232,233,235); resize: none;" placeholder="Add access code, best entrance, etc" resize="none"></textarea>
                </div>
                <div class="address_add-btn" style="width: calc(100% - 56px); display: flex; justify-content: center;">
                        <span style="font-size: 14px; font-weight: 600;">Save</span>
                </div>
            </form>
        </div>
    </div>
    <div class="address-modal-container hidden ">
        <div class="address-modal-content">
            <form method="post" class="select-address-form">
                {% csrf_token %}
                <div class="form-header">
                    <div class="address_close-btn" style="display: flex; align-items: center;">
                        <svg width="1em" height="1em" viewBox="0 0 24 24" fill="var(--black)" xmlns="http://www.w3.org/2000/svg" size="24">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M19.06 4.94a1.5 1.5 0 0 1 0 2.12L14.122 12l4.94 4.94a1.5 1.5 0 0 1 .103 2.007l-.103.114a1.5 1.5 0 0 1-2.122 0L12 14.12l-4.94 4.94a1.5 1.5 0 0 1-2.12-2.122L9.878 12l-4.94-4.94a1.5 1.5 0 0 1-.103-2.007l.103-.114a1.5 1.5 0 0 1 2.122 0L12 9.88l4.94-4.94a1.5 1.5 0 0 1 2.12 0Z"></path>
                        </svg>
                    </div>
                    <h1 class="" style="margin-left: 32px; margin-bottom: 0px;">Choose delivery time</h1>
                    <a style="margin-left: 32px; margin-bottom: 20px; font-size: 14px; color: var(--grey2); font-weight: 600; text-decoration: none;"href="">View delivery policy</a>
                </div>
                <div class="addresses_content" style="margin-top: 32px; overflow: hidden; overflow-y: auto; height: 310px;">
                  <div class="" style="border: 1px solid rgb(232,233,235); border-radius: 10px; margin-bottom: 10px; cursor: pointer; padding: 16px;">
                    <p style="font-weight: 500; margin: 0px;">Priority</p>
                    <span style="font-size: 14.5px;">Lorem, ipsum dolor.</span>
                  </div>
                  <div class="" style="border: 1px solid rgb(232,233,235); border-radius: 10px; margin-bottom: 10px; cursor: pointer; padding: 16px;">
                    <p style="font-weight: 500; margin: 0px;">Standard</p>
                    <span style="font-size: 14.5px;">Lorem, ipsum dolor.</span>
                  </div>
                  <div class="" style="border: 1px solid rgb(232,233,235); border-radius: 10px; margin-bottom: 10px; cursor: pointer; padding: 16px;">
                    <p style="font-weight: 500; margin: 0px;">Early Bird</p>
                    <span style="font-size: 14.5px;">Lorem, ipsum dolor.</span>
                  </div>
                  <div class="" style="border: 1px solid rgb(232,233,235); border-radius: 10px; margin-bottom: 10px; cursor: pointer; padding: 16px;">
                    <p style="font-weight: 500; margin: 0px;">Night Owl</p>
                    <span style="font-size: 14.5px;">Lorem, ipsum dolor.</span>
                  </div>
                </div>
            </form>
        </div>
    </div>
    <div class="address-modal-container hidden">
        <div class="address-modal-content">
            <form method="post" class="select-address-form">
                {% csrf_token %}
                <div class="form-header">
                    <div class="address_close-btn" style="display: flex; align-items: center;">
                        <svg width="1em" height="1em" viewBox="0 0 24 24" fill="var(--black)" xmlns="http://www.w3.org/2000/svg" size="24">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M19.06 4.94a1.5 1.5 0 0 1 0 2.12L14.122 12l4.94 4.94a1.5 1.5 0 0 1 .103 2.007l-.103.114a1.5 1.5 0 0 1-2.122 0L12 14.12l-4.94 4.94a1.5 1.5 0 0 1-2.12-2.122L9.878 12l-4.94-4.94a1.5 1.5 0 0 1-.103-2.007l.103-.114a1.5 1.5 0 0 1 2.122 0L12 9.88l4.94-4.94a1.5 1.5 0 0 1 2.12 0Z"></path>
                        </svg>
                    </div>
                    <h1 class="" style="margin-left: 32px; margin-bottom: 0px;">Choose delivery location</h1>
                    <a style="margin-left: 32px; margin-bottom: 20px; font-size: 14px; color: var(--grey2); font-weight: 600; text-decoration: none;"href="">View delivery policy</a>
                </div>
                <div class="addresses_content">
                    <ul class= "addresses_list">
                        {% for address in request.user.useraddress_set.all %}
                        <li class="addresses_list-item" id="{{address.pk}}">
                            <div class="address_details-container">
                                <div class="address_select">
                                    <input type="radio" class="address_select-input" name="select" id="address{{address.pk}}">
                                </div>
                                <div class="address_details">
                                <h2 class="address_street" id="street{{address.pk}}">{{address.address_line1}}</h2>
                                <p class="address_city" id="city{{address.pk}}">{{address.address_line2}}</p>
                                <p class="address_parish" id="parish{{address.pk}}">{{address.parish}}</p>
                                </div>
                                <div class="edit_address-container">
                                    <div class="edit_address-container">
                                        <span class="edit_address">Edit</span>
                                    </div>
                                </div>
                            </div>  
                        </li>
                        {% endfor %}
                    </ul>
            </div>
                <div class="address_add-btn">
                        <span>+</span>
                </div>
            </form>
            <form method="post" class=" add-address-form hidden">
                {% csrf_token %}
                <div class="form-header">
                    <div class="address_back-btn" style=" display: flex; align-items: center;">
                        <svg width="1em" height="1em" viewBox="0 0 24 24" fill="var(--grey2);" xmlns="http://www.w3.org/2000/svg" color="systemGrayscale00;" style="transform: rotate(180deg);" >
                            <path fill-rule="evenodd" clip-rule="evenodd" d="m13.06 3.94 7 7 .02.02c.022.022.043.045.063.068l-.082-.089a1.513 1.513 0 0 1 .274.377 1.494 1.494 0 0 1-.071 1.493 1.28 1.28 0 0 1-.121.163 1.57 1.57 0 0 1-.062.068l-.02.02-7 7a1.5 1.5 0 0 1-2.122 0l-.103-.113a1.5 1.5 0 0 1 .103-2.008l4.44-4.439H5A1.5 1.5 0 0 1 3.5 12l.007-.145A1.5 1.5 0 0 1 5 10.5h10.379l-4.44-4.44a1.5 1.5 0 0 1 2.122-2.12Z"></path>
                        </svg>                   
                         </div>
                    <h1 class="address_modal-title">Add a new address</h1>
                </div>
                <div class="" style="margin: 16px 0px;">
                    <input type="text" placeholder="Street" style="width: calc(100% - 18.5px); font-size: 14px; padding: 8px; margin-bottom: 8px; border-radius: 4px; border: 1px  solid var(--grey2);">
                    <input type="text" placeholder="City" style="width: calc(100% - 18.5px); font-size: 14px; padding: 8px; margin-bottom: 8px; border-radius: 4px; border: 1px  solid var(--grey2);">
                    <select name="parish" id="" style="width: 100%; font-size: 14px; padding: 8px; margin-bottom: 8px; border-radius: 4px;">
                        <option class="hidden" value="">Parish</option>
                        <option value="Saint Andrew">Saint Andrew</option>
                        <option value="Saint Catherine"> Saint Catherine</option>
                        <option value="Clarendon">Clarendon</option>
                        <option value="Manchester">Manchester</option>
                        <option value="Saint Elizabeth">Saint Elizabeth</option>
                        <option value="Westmoreland"> Westmoreland</option>
                        <option value="Hanover">Hanover</option>
                        <option value="Trelawny">Trelawny</option>
                        <option value="Saint James">Saint James</option>
                        <option value="Saint Ann">Saint Ann</option>
                        <option value="Saint Mary">Saint Mary</option>
                        <option value="Portland">Portland</option>
                        <option value="Saint Thomas">Saint Thomas</option>
                        <option value="Kingston">Kingston</option>
                    </select>
                    <p style="font-size: 10px; color: var(--grey2); margin: 0px; ">Disclaimer text should be included here</p>
                </div>  
                <div class="" style="position: absolute; bottom: 0px; width: 92%; margin-bottom: 10px;">
                <button class="add-address_save" type="submit" style="width: 100%; font-size: 14px; font-weight: 600; padding: 8px; margin-bottom: 8px; border-radius: 10px; background-color: var(--green); color: #fff; outline: none; border: 1px solid var(--green); cursor: pointer;">Save</button>
                </div>
            </form>
        </div>
    </div>
    <div class="address-modal-container hidden ">
        <div class="address-modal-content">
            <form method="post" class="select-address-form">
                {% csrf_token %}
                <div class="form-header">
                    <div class="address_close-btn" style="display: flex; align-items: center;">
                        <svg width="1em" height="1em" viewBox="0 0 24 24" fill="var(--black)" xmlns="http://www.w3.org/2000/svg" size="24">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M19.06 4.94a1.5 1.5 0 0 1 0 2.12L14.122 12l4.94 4.94a1.5 1.5 0 0 1 .103 2.007l-.103.114a1.5 1.5 0 0 1-2.122 0L12 14.12l-4.94 4.94a1.5 1.5 0 0 1-2.12-2.122L9.878 12l-4.94-4.94a1.5 1.5 0 0 1-.103-2.007l.103-.114a1.5 1.5 0 0 1 2.122 0L12 9.88l4.94-4.94a1.5 1.5 0 0 1 2.12 0Z"></path>
                        </svg>
                    </div>
                    <h1 class="" style="margin-left: 32px; margin-bottom: 0px;">Choose delivery frequency</h1>
                    <a style="margin-left: 32px; margin-bottom: 20px; font-size: 14px; color: var(--grey2); font-weight: 600; text-decoration: none;"href="">View delivery policy</a>
                </div>
                <div class="addresses_content" style="margin-top: 32px; overflow: hidden; overflow-y: auto; height: 310px;">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block pages_content %}
<ul>
    <div class="page_container">
        <div class=""><span></span></div>
        <a class="product-page " href="{% url 'orderpage'%}">Orders</a>
    </div>
    <div class="page_container">
        <div class=""><span></span></div>
        <a class="product-page" href="{% url 'orders-activity'%}">Activity</a>
    </div>
    <div class="page_container">
        <div class="pages_active-indicator"><span></span></div>
        <a class="product-page is_active" href="{% url 'recurring-orders'%}">Recurring Orders</a>
    </div>
    <div class="page_container">
        <div class=""><span></span></div>
        <a class="product-page" href="{% url 'pending-orders'%}">Pending Deliveries</a>
    </div>
    {% if request.user.is_staff %}
    <div class="page_container">
        <div class=""><span></span></div>
        <a class="product-page" href="{% url 'delivery-map'%}">Delivery Map</a>
    </div>
    {% endif %}
    <hr>
    <div class="page_container">
        <div class=""><span></span></div>
        <a class="product-page" >Get help</a>
        </div>
        <div class="page_container">
            <div class=""><span></span></div>
            <a href="{% url 'birthday-club'%}" class="product-page" >Join <span style="font-weight: 600;">The Birthday Club™</span></a>
        </div>
        <div class="page_container">
            <div class=""><span></span></div>
            <a href="{% url 'premium'%}" class="product-page" >Get <span style="font-weight: 600;">Premium</span></a>
        </div>
        <div class="page_container">
            <div class=""><span></span></div>
            <a href="{% url 'store-credit'%}" class="product-page" >Build your <span style="font-weight: 600;">store credit</span></a>
        </div>
</ul>
{% endblock %}

{% block shop_content %}
<div class="content-wrapper">
    <div class="content-container">
        <div class=""> 
            <a href="{% url 'recurring-orders'%}" style="border: 1px solid rgb(232,233,235); padding: 4px 12px; display: flex; align-items: center; width: 15px; border-radius: 7px;">
                <svg width="1em" height="1em" viewBox="0 0 24 24" fill="var(--grey2);" xmlns="http://www.w3.org/2000/svg" color="systemGrayscale00;" style="transform: rotate(180deg); margin-top:2px;">
                <path fill-rule="evenodd" clip-rule="evenodd" d="m13.06 3.94 7 7 .02.02c.022.022.043.045.063.068l-.082-.089a1.513 1.513 0 0 1 .274.377 1.494 1.494 0 0 1-.071 1.493 1.28 1.28 0 0 1-.121.163 1.57 1.57 0 0 1-.062.068l-.02.02-7 7a1.5 1.5 0 0 1-2.122 0l-.103-.113a1.5 1.5 0 0 1 .103-2.008l4.44-4.439H5A1.5 1.5 0 0 1 3.5 12l.007-.145A1.5 1.5 0 0 1 5 10.5h10.379l-4.44-4.44a1.5 1.5 0 0 1 2.122-2.12Z"></path>
            </svg>
        </a>
        </div>
        <div class="table_top-container" style=" height: 100px; border: 1px solid rgb(232,233,235); border-radius: 10px; margin-bottom: 24px; margin-top: 12px; position: relative; display: flex; align-items: center; background-color: var(--grey);">
            <div class="order_number-container" style="position: absolute; left: 0; margin-left: 16px;">
                <div class="" style="display: flex; align-items: center; justify-content: center; background-color: var(--grey2); border: 1px solid var(--grey2); padding: 6px 16px; border-radius: 7px; cursor: default;">
                    <span style="font-size: 12px; font-weight: 600; color: #fff;">#GR8W0003</span>
                </div>
                <span style="font-size: 12px; font-weight: 600; color: var(--grey2); padding: 6px 16px; cursor: default;">05-23-2023</span>
            </div>
            <div class="payment_status-container" style="position: absolute; right: 0; margin-right: 16px; display: flex; align-items: center;">
                <div class="payment_status-container" style="margin-right: 16px;">
                    <div class="" style="display: flex; align-items: center; justify-content: center; background-color: var(--grey); border: 1px solid rgb(232,233,235); padding: 6px 16px; border-radius: 7px; cursor: default;">
                        <span style="font-size: 12px; font-weight: 600; color: var(--grey2);">Recurring</span>
                    </div>
                </div>
                <div class="payment_status-container" style="margin-right: 0px;">
                    <div class="" style="display: flex; align-items: center; justify-content: center; background-color: var(--grey); border: 1px solid rgb(232,233,235); padding: 6px 16px; border-radius: 7px; cursor: default;">
                        <span style="font-size: 12px; font-weight: 600; color: var(--grey2);">Draft</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="table_main-actions-container" style="height: 30px; border: 1px solid rgb(232,233,235); border-radius: 10px; margin-bottom: 8px; padding: 6px; display: flex; align-items: center;">
            <div class="" style="display: flex; align-items: center; margin-right: 24px;">
                <div class="" style="background-color: var(--grey); padding: 4px 12px; margin-right: 4px; border-radius: 7px;">
                    <span style="font-size: 12px; font-weight: 600;">1</span>
                </div>
                <span style="font-size: 12px; font-weight: 500;">item</span>
            </div>
        </div>
        <div class="table_main-wrapper">
            <div class="table_main-container">
                <div class="table-header" style="display: flex; border-radius: 10px; align-items: center; background-color: var(--grey); border: 1px solid rgb(232,233,235); position: relative; height: 40px;">
                        <div class="tableheading"style="position: absolute; left: 0; margin-left: 125px;">
                            <span style="font-size: 14px; font-weight: 600;">Product</span>
                        </div>
                        <div class="tableheading" style="position: absolute; right: 300px;">
                            <span style="font-size: 14px; font-weight: 600;">Quantity</span>
                        </div>
                        <div class="tableheading" style="position: absolute; right:192px;">
                            <span style="font-size: 14px; font-weight: 600;">Price</span>
                        </div>
                        <div class="tableheading" style="position: absolute; right:73px;">
                            <span style="font-size: 14px; font-weight: 600;">Cost</span>
                        </div>
                </div>
                <div class="table-content">

                    <div class="" style="display: flex; flex-direction: column; align-items: center;">
                        <div class="table_cell-container" style="display: flex; flex-direction: column; justify-content: center; border: 1px solid rgb(232,233,235); margin:4px 10px; position: relative; padding: 12px 48px; border-radius: 10px; width: 80%;">
                            <div class="" style="display: flex; align-items: center;">
                                <div class="table_cell-item_grade">
                                    <span style="font-size: 12; font-weight: 600; padding: 8px 16px; border-radius: 10px; cursor: pointer;">A</span>
                                </div>
                                <div class="table_cell-item_product-details" style="margin-left: 20px;">
                                    <div class="product_name" style="margin: 0px;">
                                        <span style="font-size: 12px; margin: 0px;">Pak Choy</span>
                                    </div>
                                    <div class="product_variety" style="margin: 0px;">
                                        <span style="font-size: 10px; margin: 2px 0px; font-weight: 500;">White-stemmed</span>
                                    </div>
                                    <div class="product_variety" style="margin: 0px;"> 
                                        <span style="font-size: 10px; margin: 2px 0px; font-weight: 500; margin: 0px;">per pound (lb.)</span>
                                    </div>
                                </div>
                                <div class="table_cell-item_product-quantity" style=" width: 10px; max-width: 30px; max-height: 15px; border: 1px solid rgb(232,233,235); padding: 8px 16px; border-radius: 7px; background-color: var(--grey); display: flex; justify-content: center; align-items: center; position: absolute; bottom:0; top:0; right: 295px; margin: auto; white-space: nowrap; overflow: hidden; text-overflow:ellipsis;">
                                    <div class="" style="position: absolute; margin: 0px; padding: 0px; width: 100%; height: 100%;">
                                        <input type="number" min="0.05"step="0.05" class="product_qty" style=" text-align: center; font-size: 12px; font-weight: 600; padding: 0px; appearance: none; outline: none; position: absolute; width: 100%; height:100%; border: 0px solid transparent; background-color: transparent; margin: auto; left: 0px; right: 0px;" value="7">
                                    </div>
                                </div>
                                <div class="table_cell-item_product-price" style=" width: 80px; max-width: 80px; max-height: 15px; border: 1px solid rgb(232,233,235); padding: 8px ; border-radius: 7px; background-color: var(--grey); display: flex; justify-content: center; align-items: center; position: absolute; bottom:0; top:0; right: 32px; margin: auto; white-space: nowrap; overflow: hidden; text-overflow:ellipsis;">
                                    <div class="" style=" margin: 0px; display: flex; align-items: center; justify-content: center;">
                                        <span style="font-size: 12px; font-weight: 600;">J$</span>
                                    </div>
                                    <div class="" style="position: relative; margin: 0px; padding: 0px; width: 100%; height: 100%; display: flex; align-items: center;">
                                        <input type="number" class="product_qty" style=" text-align: center; font-size: 12px; font-weight: 600; padding: 0px; appearance: none; outline: none; position: absolute; width: 100%; height:100%; border: 0px solid transparent; background-color: transparent; margin: auto; left: 0px; margin-right: 4px;" value="1350.00">
                                    </div>
                                </div>
                                <div class="table_cell-item_product-cost">
                                    <div class="product_cost"style="border: 1px solid rgb(232,233,235); padding: 8px; border-radius: 7px; background-color: var(--grey); display: flex; justify-content: center; align-items: center; position: absolute; bottom:0; top: 0; right: 160px; margin:auto; height:fit-content;">
                                        <span style="font-size: 12px; font-weight: 600;">J$<span>50.00</span></span>
                                    </div>
                                </div>
                                <div class="">
                                    <svg width="12" height="12" viewBox="0 0 24 24" fill="var(grey2)" xmlns="http://www.w3.org/2000/svg" size="20" color="systemGrayscale70" class="css-1qx34im" style="position: absolute; right:12px; margin-right:12px; top:0px; bottom:0px; margin:auto; transform:rotate(90deg); cursor:pointer;"><path fill-rule="evenodd" clip-rule="evenodd" d="M3 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm9 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm12-3a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path></svg>
                                </div>
                            </div>
                        </div>
                        <div class="add_item-btn" style="display: flex; align-items: center; border: 1px solid rgb(232,233,235); border-radius: 10px; padding: 2px 16px; width: 90%; position: relative; cursor: pointer;">
                            <span style="font-size: 12px; font-weight: 600; margin: 10px 0px; color: var(--green);">Add an item</span>
                            <svg width="16" height="16" viewBox="0 0 24 24" fill="var(--green)" xmlns="http://www.w3.org/2000/svg" size="24" color="systemGrayscale00" style="position: absolute; right:16px;"><path fill-rule="evenodd" clip-rule="evenodd" d="M12 3.5A1.5 1.5 0 0 1 13.5 5v5.5H19a1.5 1.5 0 0 1 1.493 1.355L20.5 12a1.5 1.5 0 0 1-1.5 1.5h-5.5V19a1.5 1.5 0 0 1-1.355 1.493L12 20.5a1.5 1.5 0 0 1-1.5-1.5v-5.5H5a1.5 1.5 0 0 1-1.493-1.355L3.5 12A1.5 1.5 0 0 1 5 10.5h5.5V5a1.5 1.5 0 0 1 1.355-1.493L12 3.5Z"></path>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="side_right-content-wrapper">
    <div class="side_right-content-container">
            <div class="" style="position: relative;">
                <div class="" style="width: 87%; border: 1px solid rgb(232,233,235); border-radius: 10px; margin-right: 10px; height: fit-content; margin-bottom: 20px; background-color: var(--grey); padding: 16px; padding-left: 12px; position: relative;">
                    <div class="" style="display: flex; align-items: center; margin-bottom: 12px;">
                        <svg width="12" height="12" viewBox="0 0 24 24" fill="var(--grey2)" xmlns="http://www.w3.org/2000/svg" size="20" color="systemGrayscale70" class="css-1qx34im" style="position: absolute; right:0; margin-right:12px; cursor:pointer;"><path fill-rule="evenodd" clip-rule="evenodd" d="M3 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm9 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm12-3a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path></svg>
                    </div>
                    <div class="" style="display: flex; flex-direction: column; width: 100%; position: relative;">
                        <div class="" style="display: flex; flex-direction: column; align-items: flex-start; margin-right: 16px; position: relative; max-width: 87%; margin-bottom: 8px;">
                            <div class="" style=" background-color: var(--grey); padding: 6px 18px; border-radius: 7px; width: 100%; position: relative; border: 1px solid rgb(232,233,235); display: flex; flex-direction: column;">
                                <span style="font-size: 10px; font-weight:600; color: var(--grey2);">Subtotal<span style="position: absolute; right: 0; margin-right: 12px; font-weight: 500;">150,000.00</span></span>
                                <span style="font-size: 10px; font-weight:600; color: var(--grey2);">Delivery Fee<span style="position: absolute; right: 0; margin-right: 12px; font-weight: 500;">1,800.00</span></span>
                                <span style="font-size: 10px; font-weight:600; color: var(--grey2);">Discount<span style="position: absolute; right: 0; margin-right: 12px; font-weight: 500; color: var(--green);">-3,500.00</span></span>
                            </div>
                        </div>
                        <div class="" style="display: flex; flex-direction: column; align-items: flex-start; margin-right: 16px; position: relative; max-width: 87%;">
                            <span style="font-size: 9.5px; font-weight: 600; margin-bottom: 4px; color: var(--grey2);">Grand Total</span>
                            <div class="" style=" background-color: var(--grey2); padding: 6px 18px; border-radius: 7px; width: 100%; position: relative; border: 1px solid rgb(232,233,235);">
                                <span style="font-size: 18px; font-weight:600; color: white;">J$<span style="position: absolute; right: 0; margin-right: 12px;">150,000.00</span></span>
                            </div>
                        </div>
                        <div class="" style="display: flex; flex-direction: column; align-items: flex-start; margin-left: 0px; position: relative; max-width:87%; right: 0; margin-right: 32px; margin-top: 4px;">
                            <span style="font-size: 9.5px; font-weight: 600; margin-bottom: 4px; color: var(--grey2);"></span>
                            <div class="" style="  background-color: var(--green); padding: 6px 18px; border-radius: 10px; width: 100%; color: var(--grey2); cursor: pointer;  position: relative; display: flex; justify-content: center;">
                                <span style="font-size: 12px; font-weight:600; color: #fff;">Save & Continue</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="" style="width: 87%; border: 1px solid rgb(232,233,235); border-radius: 10px; margin-right: 10px; height: fit-content; margin-bottom: 20px; background-color: var(--grey); padding: 16px; padding-left: 12px; position: relative;">
                    <div class="" style="display: flex; align-items: center;">
                        <h1 style="margin-top: 0px; font-size: 16px; color: var(--grey2);">Delivery Information</h1>
                        <svg width="12" height="12" viewBox="0 0 24 24" fill="var(--grey2)" xmlns="http://www.w3.org/2000/svg" size="20" color="systemGrayscale70" class="css-1qx34im" style="position: absolute; right:0; margin-right:12px; cursor:pointer;"><path fill-rule="evenodd" clip-rule="evenodd" d="M3 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm9 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm12-3a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path></svg>
                    </div>
                    <div class="" style="display: flex; flex-direction: column; align-items: flex-start; margin-right: 16px; position: relative; max-width: 87%; margin-bottom: 8px;">
                        <span style="font-size: 9.5px; font-weight: 600; margin-bottom: 4px; color: var(--grey2);">Frequency</span>
                        <div class="" style=" cursor: pointer; background-color: var(--grey); padding: 6px 18px; border-radius: 7px; width: 100%; position: relative; border: 1px solid rgb(232,233,235);">
                            <span style="font-size: 18px; font-weight:600; color: var(--grey2);">...</span>
                        </div>
                    </div>
                    <div class="" style="display: flex; flex-direction: column; align-items: flex-start; margin-right: 16px; position: relative; max-width: 87%; margin-bottom: 8px;">
                        <span style="font-size: 9.5px; font-weight: 600; margin-bottom: 4px; color: var(--grey2); cursor: default;">Location</span>
                        <div class="" style=" cursor: pointer; background-color: var(--grey); padding: 6px 18px; border-radius: 7px; width: 100%; position: relative; border: 1px solid rgb(232,233,235);">
                            <span style="font-size: 18px; font-weight:600; color: var(--grey2);">...</span>
                        </div>
                    </div>
                    <div class="" style="display: flex; flex-direction: column; align-items: flex-start; margin-right: 16px; position: relative; max-width: 87%; margin-bottom: 8px;">
                        <span style="font-size: 9.5px; font-weight: 600; margin-bottom: 4px; color: var(--grey2);">Delivery Time (est.)</span>
                        <div class="" style=" cursor: pointer; background-color: var(--green); padding: 6px 18px; border-radius: 7px; width: 100%; position: relative; border: 1px solid rgb(232,233,235);">
                            <span style="font-size: 18px; font-weight:600; color: #fff;">...</span>
                        </div>
                    </div>
                    <div class="" style="display: flex; flex-direction: column; align-items: flex-start; margin-top: 8px; position: relative;">
                        <span style="font-size: 9.5px; font-weight: 600; margin-bottom: 4px; color: var(--grey2);">Delivery Instructions</span>
                        <span style="color: var(--green); font-weight: 600; font-size: 10px; cursor: pointer;">Add instructions</span>
                    </div>
                </div>
            <div class="" style="width: 87%; border: 1px solid rgb(232,233,235); border-radius: 10px; margin-right: 10px; height: fit-content; margin-bottom: 20px; background-color: var(--grey); padding: 16px; padding-bottom: 9px; padding-left: 10px; position: relative;">
                <div class="" style="display: flex; align-items: center;">
                    <h1 style="margin-top: 0px; font-size: 16px; color: var(--grey2);">Additional Information</h1>
                </div>
                <div class="" style="display: flex; flex-direction: column; align-items: flex-start; margin-top: 8px; position: relative;">
                    <span style="font-size: 9.5px; font-weight: 600; margin-bottom: 4px; color: var(--grey2);">Product Instructions</span>
                    <div class="" style="width: 100%;">
                        <div class="" style=" background-color: white; padding: 8px; border-radius: 7px; width: 96%;  border: 1px solid rgb(232,233,235); position: relative;">
                            <div class="" style="display: flex; align-items: center;">
                                <div class="" style="display: flex; align-items: center; margin-right: 8px;">
                                <span style="font-size: 10px; font-weight:500; color: var(--grey2); cursor: default;">Pak Choy</span>
                                </div>
                                <div class="" style="display: flex; align-items: center; position: absolute; right: 0; margin-right:6px;">
                                    <span style="font-size: 10px; font-weight:600; color: var(--grey2); cursor: default;">White-stemmed</span>
                                    <svg width="10" height="10" viewBox="0 0 24 24" fill="var(--grey2)" xmlns="http://www.w3.org/2000/svg" size="20" color="systemGrayscale70" class="css-1qx34im" style=" margin-left: 14px; cursor:pointer;"><path fill-rule="evenodd" clip-rule="evenodd" d="M3 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm9 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm12-3a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path></svg>
                                </div>
                            </div>
                            <div class="" style="display: flex; flex-direction: column; margin-top: 4px;">
                                <span style="font-size: 10px; font-weight:600; color: var(--grey2); cursor: default; margin-bottom: 2px;">Note</span>
                                <span style="font-size: 12px; font-weight:400; color: var(--grey2); cursor: default;">Make sure they're round and small, I don't want them too big or bendy. </span>
                            </div>
                            <div class="" style="display: flex; flex-direction: column; margin-top: 4px;">
                                <span style="font-size: 10px; font-weight:600; color: var(--grey2); cursor: default; margin-bottom: 2px;">If out of stock, replace with...</span>
                                <div class="" style="display: flex; align-items: center; position: relative; padding: 6px;">
                                    <div class="" style="display: flex; flex-direction: column; align-items: flex-start;">
                                        <span style="font-size: 10px; font-weight:500; color: var(--grey2); cursor: default;">Pak Choy</span>
                                        <span style="font-size: 10px; font-weight:600; color: var(--grey2); cursor: default;">Green-stemmed</span>
                                    </div>
                                    <div class="" style="position: absolute; right: 0;">
                                        <span style="font-size: 12px; font-weight:500; color: var(--grey2); cursor: default;">7<span style="font-size: 10px; font-weight:600; color: var(--grey2); cursor: default;">lb</span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<style>
    .sidenav_left-wrapper{
        width: calc(50vw);
    }
    .content-wrapper{

        margin: 0px;
        width: calc(100vw);
    }
    .content-container,.side_right-content-container{
        margin-top: 32px;
        width: 100%;
        height: 100%;
    }
    .side_right-content-container{
        overflow-y: auto;
        margin-top: 0px;
        margin-left: 30px;
        max-width: calc(22vw);
        max-height: calc(90vh);
        overflow-x: hidden;
        position: fixed;
    }
    .side_right-content-wrapper{
        margin: 0px 24px 7px 0px ;
        width: calc(50vw);
        position: relative;
    }

    .table_unfufilled-container:hover::-webkit-scrollbar, .side_right-content-container:hover::-webkit-scrollbar{
        display: block;
    }
    
    .table_unfufilled-container::-webkit-scrollbar,.side_right-content-container::-webkit-scrollbar{
        width: 14px;
        display: none;
    }
    .table_unfufilled-container::-webkit-scrollbar-thumb,.side_right-content-container::-webkit-scrollbar-thumb{
        background: rgb(218,220,224);
        background-clip: padding-box;
        border: 4px solid transparent;
        border-radius: 8px;
        box-shadow: none;
        min-height: 50px;
    }
    .table_unfufilled-container::-webkit-scrollbar-track,.table_unfufilled-container::-webkit-scrollbar-track:hover,.side_right-content-container::-webkit-scrollbar-track,.side_right-content-container::-webkit-scrollbar-track:hover{
        background: none;
        border: none;
    }


</style>
<script>
    const renderModal = () =>{
        const add_item_modal = document.querySelector('.add_item-modal-container')
        document.body.classList.toggle('fixed')
        document.querySelector('.modal').classList.toggle('hidden')
        add_item_modal.classList.toggle('hidden')
        const close_btn = document.querySelector('.close-btn')
        close_btn.addEventListener('click',renderModal)
    }
    const add_item = document.querySelector('.add_item-btn')
    add_item.addEventListener('click',renderModal)
</script>
{% endblock %}