{% extends 'orders/main.html' %}
{% block title %}Recurring • Orders — GR8 #wholesale{% endblock %}

{% block pages_content %}
<ul>
    <div class="page_container">
        <div class=""><span></span></div>
        <a class="product-page" href="{% url 'orderpage'%}">Orders</a>
    </div>
    <div class="page_container">
        <div class=""><span></span></div>
        <a class="product-page" href="{% url 'orders-activity'%}">Activity</a>
    </div>
    <div class="page_container">
        <div class="pages_active-indicator"><span></span></div>
        <a class="product-page is_active" href="{% url 'recurring-orders'%}">Recurring Orders</a>
    </div>
    <div class="page_container">
        <div class=""><span></span></div>
        <a class="product-page" href="{% url 'pending-orders'%}">Pending Deliveries</a>
    </div>
    {% if request.user.is_staff %}
    <div class="page_container">
        <div class=""><span></span></div>
        <a class="product-page" href="{% url 'delivery-map'%}">Delivery Map</a>
    </div>
    {% endif %}
    <hr>
    <div class="page_container">
        <div class=""><span></span></div>
        <a class="product-page" >Get help</a>
    </div>
</ul>
{% endblock %}

{% block shop_content %}
<div class="content-wrapper">
    
    <div class="content-container">
        <div class="" style="margin: 16px; position: relative; display: flex; align-items: center;">
            <div class="" style="display: flex; align-items: center; position: absolute; right: 0;">
                <div class="export_btn" style="width: fit-content; padding: 10px 16px; border-radius: 7px; display: flex; align-items: center; cursor: pointer; margin-right: 16px;">
                    <span style="font-size: 12px;color: var(--grey2); font-weight: 500;">Export</span>
                </div>
                <div class="" style="width: fit-content; display: flex; align-items: center;">
                    <a href="{% url 'recurring-orders-add'%}" style=" text-decoration: none; font-size: 12px;color: white; font-weight: 500; padding: 10px 16px; background-color: var(--green); border-radius: 7px; ">Create recurring order</a>
                </div>
            </div>
        </div>
        <div class="table_top-container" style="background-color: #fff; position: relative; display: flex; align-items: center; padding: 16px;">
            <div class="" style="background-color: var(--grey); display: flex; flex-direction: row; width: fit-content; padding:0px; height: 100%; margin-right: 10px; border-radius: 7px; align-items: center;">
                <div class="" style="display: flex; flex-direction: column; margin: 0px 20px; color: var(--green); border: 1px solid rgb(232, 233, 235); padding: 8px; border-radius: 10px;">
                    <span style="font-size: 12px; font-weight: 600; color: var(--grey2);">Total Spent</span>
                    <span style="font-size: 24px; font-weight: 900;">J$ <span style="font-weight: 900;">4,205,213.00</span></span>
                </div>
                <div class="" style="display: flex; flex-direction: column; margin: 0px 20px; color: var(--green);  border: 1px solid rgb(232, 233, 235); padding: 8px; border-radius: 10px;">
                    <span style="font-size: 12px; font-weight: 600; color: var(--grey2);">Shop Credit Remaining</span>
                    <span style="font-size: 24px; font-weight: 900;">J$ <span style="font-weight: 900;">1,205,213.00</span></span>
                </div>
                <div class="" style="display: flex; flex-direction: column; margin-right:20px;">
                    <span  style="font-size: 12px; font-weight: 600; color: var(--grey2);">Used</span>
                    <span  style="font-size: 12px; font-weight: 600; color: var(--grey2);">J$ <span style="">305,302.00</span></span>
                </div>
            </div>
        </div>
        <div class="table_actions-container" style=" background-color: white; display: flex; align-items: center; border: 1px solid rgb(232, 233, 235); border-radius: 10px; padding: 4px; width: 96%; height: 30px; margin: 16px; margin-top: 4px; position: relative; margin-bottom: 4px;">
            <div class="" style="display: flex; align-items: center;">
                <div class="" style=" background-color: var(--grey); display: flex; align-items: center; justify-content: center; margin-right: 4px; cursor: default; border-radius: 7px; margin-left: 2px;">
                    <span style="padding: 6px 8px; border-radius: 7px; font-weight: 600; font-size: 12px;">30+</span>
                </div>
                <span style="font-size: 12px; cursor: default;"> entries</span>
            </div>
            <div class="" style="position: absolute; right: 0; margin-right: 10px; display: flex; align-items: center; ">
                <div class="" style="margin-right: 40px; display: flex; align-items: center;"> 
                    <div class="">
                        <input placeholder="From" style="margin-right: 0px;background-color: var(--grey);border: 1px solid rgb(232, 233, 235);padding: 4px 12px; border-radius: 7px 0px 0px 7px; width: 90px;">
                    </div>
                    <div class="">
                        <input placeholder="To" style="background-color: var(--grey);border: 1px solid rgb(232, 233, 235);padding: 4px 12px; border-radius: 0px 7px 7px 0px; width: 90px;">
                    </div>
                    <div class="wv-datepicker__panel" style=" display: none; position: absolute; background-color: white;">
                        <div class="wv-datepicker__header">
                            <div class="wv-datepicker__header__title">
                                <strong class="wv-text--strong fs-exclude">From</strong>
                                <p class="wv-text wv-text--hint fs-exclude">Start of date range</p>
                            </div>
                            <button type="button" class="wv-close--large wv-datepicker__toggle--close"></button>
                        </div><div class="wv-datepicker__main"><div class="wv-datepicker__grid">
                            <div class="wv-datepicker__filters"><div class="wv-datepicker__filter--back">
                                <svg class="wv-svg-icon" aria-labelledby="back-title" aria-hidden="false"><title id="back-title">back icon</title><use xlink:href="#back"></use></svg>
                            </div>
                            <div class="wv-dropdown wv-datepicker__filter--month fs-exclude">
                                <span class="wv-dropdown__toggle">Jun<svg class="wv-svg-icon" aria-labelledby="open-menu-title" aria-hidden="false">
                                    <title id="open-menu-title">open month dropdown</title><use xlink:href="#open-menu"></use></svg>
                                </span>
                            </div>
                            <div class="wv-dropdown wv-datepicker__filter--year fs-exclude">
                                <span class="wv-dropdown__toggle">2023<svg class="wv-svg-icon" aria-labelledby="open-menu-title" aria-hidden="false"><title id="open-menu-title">open year dropdown</title><use xlink:href="#open-menu"></use></svg>
                                </span>
                            </div>
                            <div class="wv-datepicker__filter--forward"><svg class="wv-svg-icon" aria-labelledby="forward-title" aria-hidden="false"><title id="forward-title">forward icon</title><use xlink:href="#forward"></use></svg>
                            </div>
                        </div>
                        <table class="wv-datepicker__month">
                            <thead>
                                <tr>
                                    <th class="wv-datepicker__week-day">
                                        <abbr title="Sunday">SU</abbr>
                                    </th>
                                    <th class="wv-datepicker__week-day">
                                        <abbr title="Monday">MO</abbr>
                                    </th>
                                    <th class="wv-datepicker__week-day">
                                        <abbr title="Tuesday">TU</abbr>
                                    </th>
                                        <th class="wv-datepicker__week-day">
                                            <abbr title="Wednesday">WE</abbr>
                                        </th>
                                        <th class="wv-datepicker__week-day">
                                            <abbr title="Thursday">TH</abbr>
                                        </th>
                                        <th class="wv-datepicker__week-day">
                                            <abbr title="Friday">FR</abbr>
                                        </th><th class="wv-datepicker__week-day">
                                            <abbr title="Saturday">SA</abbr>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="wv-datepicker__day-grid">
                                    <tr>
                                        <td class="wv-datepicker__day is-out-of-month">28</td>
                                        <td class="wv-datepicker__day is-out-of-month">29</td>
                                        <td class="wv-datepicker__day is-out-of-month">30</td>
                                        <td class="wv-datepicker__day is-out-of-month">31</td>
                                        <td class="wv-datepicker__day">1</td>
                                        <td class="wv-datepicker__day">2</td>
                                        <td class="wv-datepicker__day">3</td>
                                    </tr>
                                    <tr>
                                        <td class="wv-datepicker__day">4</td>
                                        <td class="wv-datepicker__day">5</td>
                                        <td class="wv-datepicker__day">6</td>
                                        <td class="wv-datepicker__day">7</td>
                                        <td class="wv-datepicker__day">8</td>
                                        <td class="wv-datepicker__day">9</td>
                                        <td class="wv-datepicker__day">10</td>
                                    </tr>
                                    <tr>
                                        <td class="wv-datepicker__day">11</td>
                                        <td class="wv-datepicker__day">12</td>
                                        <td class="wv-datepicker__day">13</td>
                                        <td class="wv-datepicker__day">14</td>
                                        <td class="wv-datepicker__day">15</td>
                                        <td class="wv-datepicker__day">16</td>
                                        <td class="wv-datepicker__day">17</td>
                                    </tr>
                                    <tr>
                                        <td class="wv-datepicker__day">18</td>
                                        <td class="wv-datepicker__day is-selected">19</td>
                                        <td class="wv-datepicker__day">20</td>
                                        <td class="wv-datepicker__day">21</td>
                                        <td class="wv-datepicker__day">22</td>
                                        <td class="wv-datepicker__day">23</td>
                                        <td class="wv-datepicker__day">24</td>
                                    </tr>
                                    <tr>
                                        <td class="wv-datepicker__day">25</td>
                                        <td class="wv-datepicker__day">26</td>
                                        <td class="wv-datepicker__day">27</td>
                                        <td class="wv-datepicker__day">28</td>
                                        <td class="wv-datepicker__day">29</td>
                                        <td class="wv-datepicker__day">30</td>
                                        <td class="wv-datepicker__day is-out-of-month">1</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <ul class="wv-datepicker__quicklinks wv-list--plain--vertical">
                            <li class="wv-datepicker__quicklink">30 Days Ago</li>
                            <li class="wv-datepicker__quicklink">60 Days Ago</li>
                            <li class="wv-datepicker__quicklink">90 Days Ago</li>
                            <li class="wv-datepicker__quicklink">6 Months Ago</li>
                            <li class="wv-datepicker__quicklink">1 Year Ago</li>
                        </ul>
                    </div>
                    </div>
                </div>
                <div style="background-color: var(--grey); border: 1px solid rgb(232, 233, 235);border-radius: 7px;padding: 3px 6px; margin-right: 0px; display:flex; align-items:center;"> 
                    <svg width="18" height="18" viewBox="0 0 24 24" fill="#343538" xmlns="http://www.w3.org/2000/svg" size="24" color="var(-grey2)">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.396 14.275a7 7 0 1 0-2.121 2.121l3.664 3.665a1.5 1.5 0 0 0 2.122-2.122l-3.665-3.664ZM10.5 14.5a4 4 0 1 1 0-8 4 4 0 0 1 0 8Z"></path>
                    </svg>
                    <input type="text" placeholder="Search" style="background-color: transparent; border: none; margin-left: 4px; width: 120px;">
                </div>
            </div>
        </div>
        <div class="table_main-wrapper">
            <div class="table_main-container">
                <table>
                    <div class="" style="background-color: var(--grey); ">
                        <thead class="table-heading">
                                <th><input type="checkbox"></th>
                                <th class="order-col">Order</th>
                                <th class="status-col">Status</th>
                                <th class="date-col">Frequency</th>
                                <th class="date-col">Last Delivered</th>
                                <th>Total</th>
                                <th>Amount Due</th>
                                <th class="date-col">Next Arrival</th>
                                <th></th>
                        </thead>
                    </div>
                        <tbody class="table-content">
                            <tr>
                                <td><input type="checkbox"></td>
                                <td class="order-col"><a href="{% url 'recurring-orders-details'%}">#GR8W0003</a></td>
                                <td><a href="{% url 'recurring-orders-details'%}">On Hold</a></td>
                                <td><a href="{% url 'recurring-orders-details'%}">Daily</a></td>
                                <td><a href="{% url 'recurring-orders-details'%}">05-23-2023</a></td>
                                <td><a href="{% url 'recurring-orders-details'%}">J$12,000.00</a></td>
                                <td><a href="{% url 'recurring-orders-details'%}">J$0.00</a></td>
                                <td><a href="{% url 'recurring-orders-details'%}">05-28-2023</a></td>

                                <td>
                                    <svg width="12" height="12" viewBox="0 0 24 24" fill="#343538" xmlns="http://www.w3.org/2000/svg" size="20" color="systemGrayscale70" class="css-1qx34im"><path fill-rule="evenodd" clip-rule="evenodd" d="M3 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm9 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm12-3a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path></svg>
                                </td>
                            </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td class="order-col"><a href="{% url 'recurring-orders-details'%}">#GR8W0003</a></td>
                        <td><a href="{% url 'recurring-orders-details'%}">On Hold</a></td>
                        <td><a href="{% url 'recurring-orders-details'%}">Daily</a></td>
                        <td><a href="{% url 'recurring-orders-details'%}">05-23-2023</a></td>
                        <td><a href="{% url 'recurring-orders-details'%}">J$12,000.00</a></td>
                        <td><a href="{% url 'recurring-orders-details'%}">J$0.00</a></td>
                        <td><a href="{% url 'recurring-orders-details'%}">05-28-2023</a></td>

                        <td>
                            <svg width="12" height="12" viewBox="0 0 24 24" fill="#343538" xmlns="http://www.w3.org/2000/svg" size="20" color="systemGrayscale70" class="css-1qx34im"><path fill-rule="evenodd" clip-rule="evenodd" d="M3 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm9 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm12-3a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path></svg>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td class="order-col"><a href="{% url 'recurring-orders-details'%}">#GR8W0003</a></td>
                        <td><a href="{% url 'recurring-orders-details'%}">On Hold</a></td>
                        <td><a href="{% url 'recurring-orders-details'%}">Daily</a></td>
                        <td><a href="{% url 'recurring-orders-details'%}">05-23-2023</a></td>
                        <td><a href="{% url 'recurring-orders-details'%}">J$12,000.00</a></td>
                        <td><a href="{% url 'recurring-orders-details'%}">J$0.00</a></td>
                        <td><a href="{% url 'recurring-orders-details'%}">05-28-2023</a></td>

                        <td>
                            <svg width="12" height="12" viewBox="0 0 24 24" fill="#343538" xmlns="http://www.w3.org/2000/svg" size="20" color="systemGrayscale70" class="css-1qx34im"><path fill-rule="evenodd" clip-rule="evenodd" d="M3 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm9 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm12-3a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path></svg>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td class="order-col"><a href="{% url 'recurring-orders-details'%}">#GR8W0003</a></td>
                        <td><a href="{% url 'recurring-orders-details'%}">On Hold</a></td>
                        <td><a href="{% url 'recurring-orders-details'%}">Daily</a></td>
                        <td><a href="{% url 'recurring-orders-details'%}">05-23-2023</a></td>
                        <td><a href="{% url 'recurring-orders-details'%}">J$12,000.00</a></td>
                        <td><a href="{% url 'recurring-orders-details'%}">J$0.00</a></td>
                        <td><a href="{% url 'recurring-orders-details'%}">05-28-2023</a></td>

                        <td>
                            <svg width="12" height="12" viewBox="0 0 24 24" fill="#343538" xmlns="http://www.w3.org/2000/svg" size="20" color="systemGrayscale70" class="css-1qx34im"><path fill-rule="evenodd" clip-rule="evenodd" d="M3 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm9 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm12-3a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path></svg>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td class="order-col"><a href="{% url 'recurring-orders-details'%}">#GR8W0003</a></td>
                        <td><a href="{% url 'recurring-orders-details'%}">On Hold</a></td>
                        <td><a href="{% url 'recurring-orders-details'%}">Daily</a></td>
                        <td><a href="{% url 'recurring-orders-details'%}">05-23-2023</a></td>
                        <td><a href="{% url 'recurring-orders-details'%}">J$12,000.00</a></td>
                        <td><a href="{% url 'recurring-orders-details'%}">J$0.00</a></td>
                        <td><a href="{% url 'recurring-orders-details'%}">05-28-2023</a></td>

                        <td>
                            <svg width="12" height="12" viewBox="0 0 24 24" fill="#343538" xmlns="http://www.w3.org/2000/svg" size="20" color="systemGrayscale70" class="css-1qx34im"><path fill-rule="evenodd" clip-rule="evenodd" d="M3 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm9 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm12-3a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path></svg>
                        </td>
                    </tr>
                </tbody>    
                </table>
            </div>
        </div>
    </div>
</div>
<style>
    .sidenav_left-wrapper{
        width: calc(30vw);
    }
    .content-wrapper{
        margin: 0px;
        width: calc(100vw);
    }
    .content-container{
        width: 100%;
        height: 100%;
        margin-top: 60px;
    }
    .table_top-container{
        width: 93.5%;
        height: 100px;
        margin: 16px;
        margin-top: 34px;
        border: 1px solid rgb(232, 233, 235);
        border-radius: 10px;
        position: relative;
        background-color: white;
    }
    .table_main-wrapper{
        width: 97%;
        position: relative;

    }
    .table_main-container{
        width: 100%;
        padding: 0px;
        margin: 0px;
        margin: 12px;
        margin-top: 0px;
        margin-left: 15px;
        border: 1px solid rgb(232, 233, 235);
        border-radius: 10px;
    }
    .table_main-wrapper table{
        position: relative;
        display: inline-table;
        width: 100%;
     
        padding: 0px;
        font-size: 12px;
        border-collapse: collapse;
        border-color: transparent;
        column-gap: 0;
        border-spacing: 0px;
        row-gap: 4px;
        box-sizing: content-box;
    }
    .table-heading tr {
        background-color: var(--grey);
        color: var(--black);
    }
    .table-content{
        font-size: 12px;
        text-align: center;
    }
    .css-1qx34im{
        transform: rotate(90deg);
    }
    .table-content tr{
        padding: 16px;
        color: var(--grey2 );

    }
    .export_btn:hover{
        background-color: var(--grey);
    }
    .table-content tr a{
        position: absolute;
        text-decoration: none;
        color: var(--grey2);
        right:0;
        left:0;
        top: 0;
        bottom: 0;
        margin-top: 10px;
    }

    .table_actions-container div input:focus-visible{
        outline: none;
    }
    .order-col{
        text-align: left;
    }
    table th,td{
        margin-top: 10px;
        padding: 8px;
        column-gap: 0px;
        column-rule-width: 0px;
       
        
    }
    table th:first-child{
        border-radius: 10px 0px 0px 0px;


    }
    table th:last-child{
        border-radius: 0px 10px 0px 0px;
    }
    tbody tr:nth-child(even){background-color: rgba(64, 155, 49,0.02);}

    td{
        border-top: 1px solid rgb(232, 233, 235);
        border-bottom: 1px solid rgb(232, 233, 235);
    }
    tbody tr:last-of-type td {border-bottom: none}
   tbody tr:hover td {
    background-color: #48634c0c;
   }
   tbody tr td {
    position: relative;
   }
</style>
{% endblock %}